@{
    Layout = "~/ViewsShared/_LayoutRequestNotIdentity.cshtml";
}

<h2 class="message-not-identity">Truy cập bị từ chối. Bạn không có quyền truy cập chức năng này. <a href="/acount/dang-xuat">Logout</a></h2>