@{
    Layout = "~/ViewsShared/_Layout.cshtml";
    string _languagecode = "/vi-vn/";
    if(ViewBag.LanguageCode != null)
    {
        _languagecode = ViewBag.LanguageCode;
    }
}

<p>Common baybe</p> 
<a href="/wiki-view/doc-list/0/0")">Wiki content</a>