@{
    Layout = "~/ViewsShared/_Layout.cshtml";
    string _languagecode = "/vi-vn/";
    if (ViewBag.LanguageCode != null)
    {
        _languagecode = ViewBag.LanguageCode;
    }
}
 
@*tìm kiếm*@
<div class="divCover">

</div>

