<div id="toolbox">
    <ul>
        <li class="toTop" style=""><a href="#top" title="Lên đầu trang"><i style=" font-size: 27px; color: green;" class="fa fa-home"></i></a></li>
        <li class="email"><a href="javascript:;" title="Xem trước"><i class="fa fa-eye" target="_blank" onclick="return funcPreViewApplication();" style=" font-size: 27px; color: green;"></i></a></li>
    </ul>
</div>

<style>
    #toolbox {
        display: block;
    }

    #toolbox {
        position: fixed;
        right: 10px;
        bottom: 45%;
        margin-left: -550px;
    }
</style>


<script>

     function funGetDataTM04NHPreview(ptype, url) {
         try {
             var formData = new FormData();
             var v_AppCode = $("#txtAppCode").val();
             var cbo_04nh_data = $("#cbo_04nh_data");
             var v_thanhviennghidinh = $("input[name='rad_thanhviennghidinhthu']:checked").val();
             var fileLogo = document.getElementsByName("pfile_6_rdoMauNhanHieu");
             var _01_rad_DonDkOrGiayDK = $("input[name='_01_rad_DonDkOrGiayDK']:checked").val();
             var NVSCBO001_AppClassSearch = $("#NVSCBO001_AppClassSearch");
             var Nvs001txt_search_app_code = $("#Nvs001txt_search_app_code");
             //Thông tin chủ đơn

             if (v_thanhviennghidinh === "" || v_thanhviennghidinh == undefined) {
                 showError('Phải chọn ít nhất 1 giá trị loại thành viên!');
                 $("#_01_rdnghidinh_madrid").focus();
                 return false;
             }

             if (fileLogo != undefined && fileLogo != null && fileLogo[0].files[0] != undefined ) {
                 //  formData.append("pDetail.pfileLogo", fileLogo[0].files[0]);
             } else if($("#imgMauNhanHieu").attr("src") == "" ||  $("#imgMauNhanHieu").attr("src") == undefined) {
                 showError('Mẫu nhãn hiệu không được để trống');
                 $("#pfile_6_rdoMauNhanHieu").focus();
                 return false;
             }

             if (_01_rad_DonDkOrGiayDK === "" || _01_rad_DonDkOrGiayDK == undefined) {
                 showError('Phải chọn ít nhất 1 loại giấy đăng kỹ nhãn hiệu cơ sở!');
                 $("#_01_rad_DonDK").focus();
                 return false;
             }

             if (cbo_04nh_data.val() == "" || cbo_04nh_data.val() == null) {
                 showError('Chưa chọn số đơn!');
                 $("#cbo_04nh_data").multipleSelect("focus");
                 return false;
             }
             var _1_txtNgayNopDon = $("#_1_txtNgayNopDon");
             if (_1_txtNgayNopDon.val() == "" || _1_txtNgayNopDon.val() == "__/__/____") {
                 showError('Ngày nộp đơn không được phép để trống!');
                 _1_txtNgayNopDon.focus();
                 return false;
             }

             //if (NVSCBO001_AppClassSearch.val() == "" || NVSCBO001_AppClassSearch.val() == undefined) {
             //    showError('Chưa chọn nhóm hàng hóa dịch vụ!');
             //    $("#Nvs001txt_search_app_code").focus();
             //    return false;
             //}
             if (_ArrGroupAppClass.length == 0) {
                 showError('Chưa chọn nhóm hàng hóa dịch vụ!');
                 $("#txtTenHangHoa").focus();
                 return false;
             }
             if (funcThongTinChuDonNguoiDaiDien(formData, "_1",Edit) != true) {
                 return false;
             }
             var v_RepMasterType = $("input[name='_2_DaiDienChuDon']:checked").val();
             if (v_RepMasterType == "" || v_RepMasterType == undefined) {
                 showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
                 $("#_2_rdoNguoiDaiDienPL").focus();
                 return false;
             }
             if (funcThongTinChuDonNguoiDaiDien(formData, "_2") != true) {
                 return false;
             }

             formData.append("pInfo.Appcode", v_AppCode);
             if (funcThongTinChuDonNguoiDaiDien(formData, "_2") != true) {
                 return false;
             }

             // danh sach quoc gia
             var _listNational = $("#_4_cboNational01").val() + "," + $("#_4_cboNational02").val() + "," + $("#_4_cboNational03").val() + "," + $("#_4_cboNational04").val()
                 + "," + $("#_4_cboNational05").val() + "," + $("#_4_cboNational06").val() + "," + $("#_4_cboNational07").val() + "," + $("#_4_cboNational08").val();
             _listNational = _listNational.replace(/null/g, '');
             if (_listNational.replace(/,/g, '') == "") {
                 showError('Phải chọn ít nhất 1 nước chỉ định đăng ký nhãn hiệu!');
                 $("#_4_cboNational01").multipleSelect("focus");
                 return false;
             }
             var _arrayNational = _listNational.split(",");
             _arrayNational = RepushArray(_arrayNational);
             if (CheckArrDuplicate(_arrayNational) == true) {
                 showError('Có ít nhất 2 lựa chọn mã nước trùng nhau, vui lòng kiểm tra lại!');
                 $("#_4_cboNational01").focus();
                 return false;
             }
             var _5_txtLePhiDangKy = $("#_5_txtLePhiDangKy");
             if (_5_txtLePhiDangKy.val().trim() == "") {
                 showError('Lệ phí đăng ký không được để trống!');
                 _5_txtLePhiDangKy.focus();
                 return false;
             }
             formData.append("pFeeFixInfo[0].Fee_Id", '5');
             formData.append("pFeeFixInfo[0].Isuse", "1");
             formData.append("pFeeFixInfo[0].Number_Of_Patent", 0);
             formData.append("pFeeFixInfo[0].Amount", _5_txtLePhiDangKy.val());

             formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
             formData.append("pInfo.Send_Date", _1_txtNgayNopDon.val());
             //trang thai

             //Lấy thông tin detail
             var reponse = funcGetAppDetail(formData);
             if (reponse == false) {
                 return false;
             }
             // thông tin chủ đơn
             reponse = funcThongTinChuDonNguoiDaiDien(formData, "_1")
             if (reponse == false) {
                 return false;
             }
             // thông tin người đại diện
             reponse = funcThongTinChuDonNguoiDaiDien(formData, "_2")
             if (reponse == false) {
                 return false;
             }
             //Lấy thông tin file có trong đơn
             reponse = funGetThongTinFile(formData);
             if (reponse == false) {
                 return false;
             }

             reponse = funcGetDataClassInfo(formData);
             if (reponse == false) {
                 return false;
             }

             reponse = funcGetCamKetChuDon(formData);
             if (reponse == false) {
                 return false;
             }
             $.ajax({
                 url: url,
                 type: 'POST',
                 data: formData,
                 processData: false, contentType: false, traditional: true, dataType: "json",
                 enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                 success: function (data) {
                     if (data != null && data.status >= 0) {
                          
                         return true;
                     } else {
                          
                         return false;
                     }
                 },
                 error: function (e) {
                     console.log(e);
                 }
             });

            return true;
        } catch (e) {

        }

    }

     function funcPreViewApplication() {
         var preturn = funGetDataTM04NHPreview(3, "/trade-mark-01/ket_xuat_file");
         if (preturn == true || preturn == undefined) {
             OpenPreview("/trade-mark-01/Pre-View");
         }
     }


    function OpenPreview(url) {
        try {
            w = 1100; //độ rộng form popup
            h = 600;//chiều cao
            var left = (screen.width - w) / 2;
            var top = (screen.height - h) / 4;  // for 25% - devide by 4  |  for 33% - devide by 3
            var targetWin = window.open(url, 'Xem thông tin đơn', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        } catch (e) {
        }
    }
</script>