@{
    ViewBag.Title = "Đăng ký nhãn hiệu";
    Layout = "~/ViewsShared/_Layout.cshtml";
}
<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;"> Request for amendment of application)</a></li>
    </ul>
</div>

<div class="d-popup-container" id="pop-sua-doi_dk"></div>

<input type="hidden" id="txtAppCode" value='@ViewBag.AppCode' />

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend>Đăng ký nhãn hiệu</legend>

        <div class="div_full_100_area">
            <div class="class_left_50">
                <div class="class_radio_head"><input type="radio" name="0_DonDangKy" placeholder="0_DonDangKy" id="0_DonDangKy" /> </div>
                <div class="class_text_end_radio">
                    <p class="class_text_left">Đơn này được tách ra từ đơn số</p>
                </div>
            </div>
            <div class="class_right_50">
                <div class="class_radio_head"><input type="radio" name="0_DonDangKy" placeholder="0_DonDangKy" id="0_DonDangKy" /> </div>
                <div class="class_text_end_radio">
                    <p class="class_text_left">Ngày nộp đơn</p>
                </div>
            </div>
        </div>
        @* Nhan hieu *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">NHÃN HIỆU</div>
            <br />

            <div class="class_full_div_input">
                <div class="class_block_title"><label>Mẫu nhãn hiệu:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="txtMauNhanHieu" maxlength="50" id="txtMauNhanHieu" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHTT" placeholder="0_NhanHieuTapThe" id="0_NhanHieuTapThe" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu tập thể</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHLK" placeholder="0_NhanHieuLienKet" id="0_NhanHieuLienKet" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu liên kết</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NHCN" placeholder="0_NhanHieuChungNhan" id="0_NhanHieuChungNhan" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Nhãn hiệu chứng nhận</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_block_title"><label>Mầu sắc:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="0_MauSac" maxlength="50" id="0_MauSac" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_block_title"><label>Mô tả:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="0_MoTa" maxlength="50" id="0_MoTa" />
                </div>
            </div>
        </div>
        @* 1 *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CHỦ ĐƠN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Tên đầy đủ:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="1_txtTenDayDu" maxlength="50" id="1_txtTenDayDu" />
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Địa chỉ:</label></div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="1_txtDiaChi" maxlength="200" id="1_txtDiaChi" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_flex_30_first">
                    <div class="class_block_title" style="width:89px"><label>Điện thoại:</label> </div>
                    <div class="class_block_phone class_flex_grow">
                        <input type="text" placeholder="1_txtDienThoai" maxlength="50" id="1_txtDienThoai" />
                    </div>
                </div>
                <div class="class_flex_30">
                    <div class="class_block_title"><label>Fax:</label> </div>
                    <div class="class_block_fax class_flex_grow">
                        <input type="text" placeholder="1_txtFax" maxlength="50" id="1_txtFax" />
                    </div>
                </div>
                <div class="class_flex_40">
                    <div class="class_block_title"><label>Email:</label></div>
                    <div class="class_block_email class_flex_grow">
                        <input type="text" placeholder="1_txtEmail" maxlength="50" id="1_txtEmail" />
                    </div>
                </div>
            </div>
        </div>
        @* 2 *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">ĐẠI DIỆN CỦA CHỦ ĐƠN</div>
            <br />
            <div class="class_full_div_input">

                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="NHTT" placeholder="3_txtNguoiDaiDienPL" id="3_txtNguoiDaiDienPL" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là người đại diện theo pháp luật của chủ đơn</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="NHTT" placeholder="3_txtToChucDaiDien" id="3_txtToChucDaiDien" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là tổ chức dịch vụ đại diện sở hữu công nghiệp được uỷ quyền của chủ đơn</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="3_rdoDaiDienChuDon" value="NHTT" placeholder="3_txtToChucDaiDien" id="3_txtToChucDaiDien" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Là người khác được uỷ quyền của chủ đơn</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_block_title"><label>Tên đầy đủ:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="1_txtTenDayDu" maxlength="50" id="1_txtTenDayDu" />
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Địa chỉ:</label></div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="1_txtDiaChi" maxlength="200" id="1_txtDiaChi" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_flex_30_first">
                    <div class="class_block_title" style="width:89px"><label>Điện thoại:</label> </div>
                    <div class="class_block_phone class_flex_grow">
                        <input type="text" placeholder="1_txtDienThoai" maxlength="50" id="1_txtDienThoai" />
                    </div>
                </div>
                <div class="class_flex_30">
                    <div class="class_block_title"><label>Fax:</label> </div>
                    <div class="class_block_fax class_flex_grow">
                        <input type="text" placeholder="1_txtFax" maxlength="50" id="1_txtFax" />
                    </div>
                </div>
                <div class="class_flex_40">
                    <div class="class_block_title"><label>Email:</label></div>
                    <div class="class_block_email class_flex_grow">
                        <input type="text" placeholder="1_txtEmail" maxlength="50" id="1_txtEmail" />
                    </div>
                </div>
            </div>
        </div>
        @* 3 *@
        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">YÊU CẦU HƯỞNG QUYỀN ƯU TIÊN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" value="NHTT" placeholder="4_ckbNopTaiVietNam" id="4_ckbNopTaiVietNam" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo đơn (các đơn) đầu tiên nộp tại Việt Nam</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" value="NHTT" placeholder="4_ckbNopTaiParis" id="4_ckbNopTaiParis" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo đơn (các đơn) nộp theo Công ước Paris</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="4_YCHuongQuyen" value="NHTT" placeholder="4_ckbThoaThuanKhac" id="4_ckbThoaThuanKhac" /> </div>
                <div class="class_text_end">
                    <p class="class_text_left">Theo thoả thuận khác</p>
                </div>
            </div>
        </div>

        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CHỈ DẪN VỀ ĐƠN (CÁC ĐƠN) LÀ CĂN CỨ ĐỂ XÁC ĐỊNH NGÀY ƯU TIÊN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Số đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtSoDon" maxlength="50" id="6_txtSoDon" />
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Ngày nộp đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtNgayNopDon" maxlength="50" id="6_txtNgayNopDon" />
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Nước nộp đơn:</label> </div>
                <div class="class_block_title_control">
                    <input type="text" placeholder="6_txtNuocNopDon" maxlength="50" id="6_txtNuocNopDon" />
                </div>
            </div>
        </div>

        @* 4 *@

        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">PHÍ, LỆ PHÍ</div>
            <br />


            <div class="div_full_100">
                <div class="class_left_40">
                    <p class="class_text_center_bold">Loại phí, lệ phí</p>

                    <div class="class_full_div_input">
                        <div class="class_radio_head class_height_fee"> <input type="checkbox" name="5" value="5" id="5_rdoLyPhiYeuCau" placeholder="5_rdoLyPhiYeuCau" /></div>
                        <div class="class_text_end class_height_fee" > <p class="class_text_left">Lệ phí nộp đơn </p> </div>
                    </div>
                    <div class="class_full_div_input">
                        <div class="class_radio_head class_height_fee"><input type="checkbox" name="5" value="6" id="5_rdoLyPhiCongBoDon" placeholder="5_rdoLyPhiCongBoDon" /></div>
                        <div class="class_text_end class_height_fee">
                            <p class="class_text_left">Phí phân loại quốc tế về Nhãn hiệu</p>
                        </div>
                    </div>
                    <div class="class_full_div_input">
                        <div class="class_radio_head "> <input type="checkbox" name="5" value="61" id="5_rdoLyPhiCongBoDonSuaDoi" placeholder="5_rdoLyPhiCongBoDonSuaDoi" /></div>
                        <div class="class_text_end">
                            <p class="class_text_left">Mỗi nhóm có trên 6 sản phẩm/dịch vụ (từ sản phẩm/dịch vụ thứ 7 trở đi)</p>
                        </div>
                    </div>


                    <div class="class_full_div_input">
                        <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="5" id="5_rdoLyPhiYeuCau" placeholder="5_rdoLyPhiYeuCau" /></div>
                        <div class="class_text_end  class_height_fee"> <p class="class_text_left">Lệ phí  yêu cầu hưởng quyền ưu tiên </p> </div>
                    </div>
                    <div class="class_full_div_input">
                        <div class="class_radio_head  class_height_fee"><input type="checkbox" name="5" value="6" id="5_rdoLyPhiCongBoDon" placeholder="5_rdoLyPhiCongBoDon" /></div>
                        <div class="class_text_end  class_height_fee">
                            <p class="class_text_left">Lệ phí công bố đơn</p>
                        </div>
                    </div>
                    <div class="class_full_div_input">
                        <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="61" id="5_rdoLyPhiCongBoDonSuaDoi" placeholder="5_rdoLyPhiCongBoDonSuaDoi" /></div>
                        <div class="class_text_end  ">
                            <p class="class_text_left">
                                Phí tra cứu phục vụ thẩm định nội dung cho mỗi nhóm hàng hoá, dịch vụ
                            </p>
                        </div>
                    </div>


                    <div class="class_full_div_input">
                        <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="5" id="5_rdoLyPhiYeuCau" placeholder="5_rdoLyPhiYeuCau" /></div>
                        <div class="class_text_end"> <p class="class_text_left">Mỗi nhóm có trên 6 sản phẩm/dịch vụ (từ sản phẩm/dịch vụ thứ 7 trở đi)</p> </div>
                    </div>
                    <div class="class_full_div_input">
                        <div class="class_radio_head  class_height_fee"><input type="checkbox" name="5" value="6" id="5_rdoLyPhiCongBoDon" placeholder="5_rdoLyPhiCongBoDon" /></div>
                        <div class="class_text_end  class_height_fee">
                            <p class="class_text_left">Phí thẩm định đơn</p>
                        </div>
                    </div>
                    <div class="class_full_div_input">
                        <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="61" id="5_rdoLyPhiCongBoDonSuaDoi" placeholder="5_rdoLyPhiCongBoDonSuaDoi" /></div>
                        <div class="class_text_end ">
                            <p class="class_text_left">
                                Mỗi nhóm có trên 6 sản phẩm/dịch vụ (từ sản phẩm/dịch vụ thứ 7 trở đi)
                            </p>
                        </div>
                    </div>
                </div>

                <div class="class_right_30 ">
                    <p class="class_text_center_bold">Số đối tượng tính phí</p>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiYCSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiCBSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiCBD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
                    </div>

                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiYCSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiCBSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiCBD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
                    </div>

                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiYCSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiCBSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtLePhiCBD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
                    </div>
                </div>
                <div class="class_right_30">
                    <p class="class_text_center_bold">Số tiền</p>

                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiYCSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiCBSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiCBD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
                    </div>

                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiYCSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiCBSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiCBD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiYCSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiCBSD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
                    </div>
                    <div class="class_full_div_input">
                        <input type="text" placeholder="5_txtTienLePhiCBD" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
                    </div>
                </div>
            </div>
        </div>

        @* 6 *@


        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">CÁC TÀI LIỆU CÓ TRONG ĐƠN</div>
            <br />

            <div class="class_full_div_p class_text_left_bold">Tài liệu tối thiểu</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Tờ khai, gồm </label>
                    <input style="width:140px" type="text" id="6_txtToKhaiTrang" maxlength="50" placeholder="6_txtToKhaiTrang" />
                    <label style="padding-left:5px">trang</label>
                    <input style="width:80px" type="text" id="6_txtToKhaiTrang" maxlength="50" placeholder="6_txtToKhaiTrang" />
                    <label style="padding-left:5px">bản (có danh mục và phân nhóm hàng hoá, dịch vụ mang nhãn hiệu)</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>

            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Mẫu nhãn hiệu, gồm </label>
                    <input style="width:140px" type="text" id="6_txtToKhaiTrang" maxlength="50" placeholder="6_txtToKhaiTrang" />
                    <label style="padding-left:5px">mẫu</label>
                </div>
            </div>


            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>


            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Chứng từ phí, lệ phí</label>
                </div>
            </div>

            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>

            <div class="class_full_div_p class_text_left_bold">Tài liệu tối thiểu</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="checkbox" id="6_rdoGiayUyQuyen" value="3B6_04" onchange="return ShowHidenUpLoad(this.id, this.id);" /> </div>
                <div class="class_text_end" style="display:flex">
                    <label style="width:150px">Giấy uỷ quyền bằng tiếng</label>
                    <input style="width:35%" type="text" id="6_txtGiayUQTiengViet" maxlength="50" placeholder="6_txtGiayUQTiengViet" />
                </div>
            </div>
            <div class="class_full_div_input 6_rdoGiayUyQuyen" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoGiayUyQuyen" id="pfile_6_rdoGiayUyQuyen" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoGiayUyQuyen" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoGiayUyQuyen" onclick="return funcPushFileToServer('6_rdoGiayUyQuyen');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoGiayUyQuyen" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>

            @* noi dung con  *@


            <div class="class_full_div_input 6_rdoBanDichTiengViet" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoBanDichTiengViet" id="pfile_6_rdoBanDichTiengViet" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoBanDichTiengViet" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoBanDichTiengViet" onclick="return funcPushFileToServer('6_rdoBanDichTiengViet');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoBanDichTiengViet" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>


            <div class="class_full_div_input" style="padding-left: 20px;">
                <div class="class_radio_head"><input type="checkbox" id="6_rdoBanGoc" value="3B6_06" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end"><p class="class_text_left">bản gốc</p></div>
            </div>

            <div class="class_full_div_input 6_rdoBanGoc" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoBanGoc" id="pfile_6_rdoBanGoc" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoBanGoc" readonly class="classMaxfile" placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoBanGoc" onclick="return funcPushFileToServer('6_rdoBanGoc');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoBanGoc" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>

            <div class="class_full_div_input" style="padding-left: 20px;">
                <div class="class_radio_head"><input type="checkbox" id="6_rdoBanSao" value="3B6_07" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end">
                    <p class="class_text_left">bản sao (</p>
                    <div class="class_full_div_input" style="padding-left: 20px;">
                        <div class="class_radio_head"><input type="radio" name="bansao" value="3B6_08" id="6_rdoBanGocSeNopSau" /></div>
                        <div class="class_text_end"><p class="class_text_left">bản gốc sẽ nộp sau</p></div>
                    </div>

                    <div class="class_full_div_input" style="padding-left: 20px;">
                        <div class="class_radio_head"><input type="radio" name="bansao" value="3B6_09" id="6_rdoBanGocDaNopTheoDonSo" /></div>
                        <div class="class_text_end" style="display:flex">
                            <label style="width:170px">bản gốc đã nộp theo đơn số</label>
                            <input style="width:33%" type="text" id="6_txtBangocDNTheoDonSo" maxlength="50" placeholder="6_txtBangocDNTheoDonSo" />
                            <label style="width:10%;padding-left:5px">)</label>
                        </div>
                    </div>
                    @* day file *@

                </div>
            </div>

            <div class="class_full_div_input 6_rdoBanSao" style="display:none;padding-left: 20px;">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoBanSao" id="pfile_6_rdoBanSao" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoBanSao" readonly class="classMaxfile" placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoBanSao" onclick="return funcPushFileToServer('6_rdoBanSao');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoBanSao" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>

            <div class="class_full_div_input" style="padding-left: 20px;">
                <div class="class_radio_head"><input type="checkbox" id="6_rdoBanDichTiengViet" value="3B6_05" onchange="return ShowHidenUpLoad(this.id, this.id);" /> </div>
                <div class="class_text_end" style="display:flex">
                    <label style="width:150px">bản dịch tiếng Việt, gồm</label>
                    <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
                    <label style="padding-left:5px">trang</label>
                </div>
            </div>



            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Tài liệu xác nhận được phép sử dụng các dấu hiệu đặc biệt (biểu tượng, cờ, huy hiệu, con dấu…), gồm</label>
                    <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
                    <label style="padding-left:5px">trang</label>
                </div>


            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>
            @*Tài liệu xác nhận quyền đăng ký nhãn hiệu:*@


            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Tài liệu xác nhận quyền đăng ký nhãn hiệu</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>

            @* Tài liệu xác nhận thụ hưởng quyền đăng ký từ người khác *@


            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Tài liệu xác nhận thụ hưởng quyền đăng ký từ người khác</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>




            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Quy chế sử dụng NH tập thể/chứng nhận, gồm</label>
                    <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
                    <label style="padding-left:5px">trang</label>
                    <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
                    <label style="padding-left:5px">bản</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>




            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Tài liệu chứng minh quyền ưu tiên </label>
                    <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
                    <label style="padding-left:5px">bản</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>


            <div class="class_full_div_input" style="padding-left:20px">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Bản sao đơn đầu tiên, gồm</label>
                    <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
                    <label style="padding-left:5px">bản</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>

            <div class="class_full_div_input" style="padding-left:20px">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Bản dịch tiếng Việt, gồm</label>
                    <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
                    <label style="padding-left:5px">bản</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>


            <div class="class_full_div_input" style="padding-left:20px">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label> Giấy chuyển nhượng quyền ưu tiên </label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>


            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Bản đồ khu vực địa lý</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>


            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Văn bản của UBND tỉnh, thành phố trực thuộc Trung ương cho phép sử dụng địa danh hoặc dấu hiệu khác chỉ nguồn gốc địa lý của đặc sản địa phượng </label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>


            <div class="class_full_div_input ">
                <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
                <div class="class_text_end" style="display:flex">
                    <label>Có tài liệu bổ trợ khai tại trang bổ sung</label>
                </div>
            </div>
            <div class="class_full_div_input 6_rdoToKhai" style="display:none">
                <div class="class_radio_head"></div>
                <div class="class_text_end" style="display:flex">
                    <div class="container">
                        <div class="file-upload btn btn-primary">
                            <span>Tải file</span>
                            <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                        </div>
                        <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                        <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                        <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
                    </div>
                </div>
            </div>

        </div>

        @* End tai lieu dinh kem  *@


        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">DANH MỤC VÀ PHÂN NHÓM HÀNG HOÁ, DỊCH VỤ MANG NHÃN HIỆU </div>
            <br />
            <div class="class_full_div_input">
                <div class="class_block_title"><label>Tên đầy đủ:</label> </div>
                <div class="class_block_title_control">
                    <select>
                        <option>class 1</option>
                        <option>class 2</option>
                    </select>
                </div>
            </div>
        </div>



        <div class="div_full_100_area">
            <div class="class_full_div_p class_text_center_bold">MÔ TẢ TÓM TẮT ĐẶC TÍNH CỦA HÀNG HOÁ/DỊCH VỤ ĐƯỢC CHỨNG NHẬN</div>
            <br />
            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="NGDL" placeholder="0_NhanHieuChungNhan" id="0_NhanHieuChungNhan" /> </div>
                <div class="class_text_end"  style="display: flex;">
                    <p class="class_text_left">Nguồn gốc địa lý</p>
                    <input style="width:33%" type="text" id="8_txtNguonGocDiaLy" maxlength="3" placeholder="8_txtNguonGocDiaLy" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="CLCL" placeholder="0_NhanHieuChungNhan" id="0_NhanHieuChungNhan" /> </div>
                <div class="class_text_end" style="display: flex;">
                    <p class="class_text_left">Chất lượng</p>
                    <input style="width:33%" type="text" id="8_txtChatLuong" maxlength="3" placeholder="8_txtChatLuong" />
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head"><input type="radio" name="0_NhanHieu" value="DTKK" placeholder="0_NhanHieuChungNhan" id="0_NhanHieuChungNhan" /> </div>
                <div class="class_text_end"  style="display: flex;">
                    <p class="class_text_left">Đặc tính khác</p>
                    <input style="width:33%" type="text" id="8_txtDacTinhKhac" maxlength="3" placeholder="8_txtDacTinhKhac" />
                </div>
            </div>
        </div>


      



        <div class="class_save">
            <div class="classGuiDon">
                <input type="button" value="Gửi đơn" id="btnGuiDon" class="btn" />
            </div> <div class="classLuuTam">
                <input type="button" value="Lưu tạm" id="btnLuuTam" class="btn" />
            </div>
        </div>
        <div class="classLuuTam">
            <a href="javascript:;" id="hrfExportData">Kết xuất</a>
        </div>
    </fieldset>
</div>


<script>

    function ShowHidenUpLoad(pID, pClass) {
        try {
            if ($("#" + pID).is(':checked')) {
                $('.' + pClass).css('display', 'block');
            } else {
                $('.' + pClass).css('display', 'none');
            }
        } catch (e) {

        }
    }

    document.getElementById("pfile_6_rdoToKhai").onchange = function () {
        document.getElementById("txt_6_rdoToKhai").value = this.value;
    };

    document.getElementById("pfile_6_rdoTaiLieu").onchange = function () {
        document.getElementById("txt_6_rdoTaiLieu").value = this.value;
    };

    document.getElementById("pfile_6_rdoBanDich").onchange = function () {
        document.getElementById("txt_6_rdoBanDich").value = this.value;
    };

    document.getElementById("pfile_6_rdoGiayUyQuyen").onchange = function () {
        document.getElementById("txt_6_rdoGiayUyQuyen").value = this.value;
    };


    document.getElementById("pfile_6_rdoBanDichTiengViet").onchange = function () {
        document.getElementById("txt_6_rdoBanDichTiengViet").value = this.value;
    };

    document.getElementById("pfile_6_rdoBanGoc").onchange = function () {
        document.getElementById("txt_6_rdoBanGoc").value = this.value;
    };


    document.getElementById("pfile_6_rdoBanSao").onchange = function () {
        document.getElementById("txt_6_rdoBanSao").value = this.value;
    };

    document.getElementById("pfile_6_rdoChungTuPhi").onchange = function () {
        document.getElementById("txt_6_rdoChungTuPhi").value = this.value;
    };

    document.getElementById("pfile_6_rdoTaiLieuKhacCuThe").onchange = function () {
        document.getElementById("txt_6_rdoTaiLieuKhacCuThe").value = this.value;
    };

    function funcPushFileToServer(pID) {
        try {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formdata.append("pInfo.keyFileUpload", pID);
            var file = document.getElementsByName("pfile_" + pID);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
            //2
            $.ajax({
                type: 'POST',
                url: '/trade-mark/push-file-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                        $("#i_" + pID).css("display", "inline-block");
                    } else {
                        jError(pushfileError, ThongBao, function () {
                        });
                    }
                }
            });

        } catch (e) {
            console.log(e);
        }
    }

    function funcPushAppDocAttach(formData) {
        try {

            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoToKhai").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[0].keyFileUpload", "6_rdoToKhai");
            formData.append("pAppDocumentInfo[0].Document_Id", $("#6_rdoToKhai").val());
            formData.append("pAppDocumentInfo[0].Isuse", Isuse);
            formData.append("pAppDocumentInfo[0].Note", $("#6_txtToKhaiTrang").val());

            //2
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoTaiLieu").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[1].keyFileUpload", "6_rdoTaiLieu");
            formData.append("pAppDocumentInfo[1].Document_Id", $("#6_rdoTaiLieu").val());
            formData.append("pAppDocumentInfo[1].Isuse", Isuse);
            formData.append("pAppDocumentInfo[1].Note", $("#6_txtTLXNBangTieng").val());

            //3
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanDich").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[2].keyFileUpload", "6_rdoBanDich");
            formData.append("pAppDocumentInfo[2].Document_Id", $("#6_rdoBanDich").val());
            formData.append("pAppDocumentInfo[2].Isuse", Isuse);
            formData.append("pAppDocumentInfo[2].Note", $("#6_txtBanDichTiengViet").val());

            //4
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoGiayUyQuyen").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[3].keyFileUpload", "6_rdoGiayUyQuyen");
            formData.append("pAppDocumentInfo[3].Document_Id", $("#6_rdoGiayUyQuyen").val());
            formData.append("pAppDocumentInfo[3].Isuse", Isuse);
            formData.append("pAppDocumentInfo[3].Note", $("#6_txtGiayUQTiengViet").val());

            //5
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanDichTiengViet").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[4].keyFileUpload", "6_rdoBanDichTiengViet");
            formData.append("pAppDocumentInfo[4].Document_Id", $("#6_rdoBanDichTiengViet").val());
            formData.append("pAppDocumentInfo[4].Isuse", Isuse);
            formData.append("pAppDocumentInfo[4].Note", $("#6_txtBDTVGom").val());

            //5
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanGoc").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[5].keyFileUpload", "6_rdoBanGoc");
            formData.append("pAppDocumentInfo[5].Document_Id", $("#6_rdoBanGoc").val());
            formData.append("pAppDocumentInfo[5].Isuse", Isuse);
            formData.append("pAppDocumentInfo[5].Note", "");

            //6
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanSao").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[6].keyFileUpload", "6_rdoBanSao");
            formData.append("pAppDocumentInfo[6].Document_Id", $("#6_rdoBanSao").val());
            formData.append("pAppDocumentInfo[6].Isuse", Isuse);
            formData.append("pAppDocumentInfo[6].Note", "");

            //7
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanGocSeNopSau").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[7].keyFileUpload", "6_rdoBanGocSeNopSau");
            formData.append("pAppDocumentInfo[7].Document_Id", $("#6_rdoBanGocSeNopSau").val());
            formData.append("pAppDocumentInfo[7].Isuse", Isuse);
            formData.append("pAppDocumentInfo[7].Note", "");
            //8
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoBanGocDaNopTheoDonSo").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[8].keyFileUpload", "6_rdoBanGocDaNopTheoDonSo");
            formData.append("pAppDocumentInfo[8].Document_Id", $("#6_rdoBanGocDaNopTheoDonSo").val());
            formData.append("pAppDocumentInfo[8].Isuse", Isuse);
            formData.append("pAppDocumentInfo[8].Note", $("#6_txtBangocDNTheoDonSo").val().trim());
            //9
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoChungTuPhi").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[9].keyFileUpload", "6_rdoChungTuPhi");
            formData.append("pAppDocumentInfo[9].Document_Id", $("#6_rdoChungTuPhi").val());
            formData.append("pAppDocumentInfo[9].Isuse", Isuse);
            formData.append("pAppDocumentInfo[9].Note", "");

            //10
            Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#6_rdoTaiLieuKhacCuThe").prop('checked') == true) {
                Isuse = 1;
            }
            formData.append("pAppDocumentInfo[10].keyFileUpload", "6_rdoTaiLieuKhacCuThe");
            formData.append("pAppDocumentInfo[10].Document_Id", $("#6_rdoTaiLieuKhacCuThe").val());
            formData.append("pAppDocumentInfo[10].Isuse", Isuse);
            formData.append("pAppDocumentInfo[10].Note", $("#6_txtTaiLieuKhacCuThe").val.trim());

        } catch (e) {
            console.log(e);
        }
    }

    $("#btnGuiDon").click(function () {
        var v_Master_Name = $("#1_txtTenDayDu").val().trim();
        if (v_Master_Name === "") {
            $('#1_txtTenDayDu').focus().val('');
            showError('Tên không được để trống!');
            return false;
        }
        var v_Master_Address = $("#1_txtDiaChi").val().trim();
        if (v_Master_Address === "") {
            $('#1_txtDiaChi').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }
        var v_Master_Phone = $("#1_txtDienThoai").val().trim();
        var v_Master_Fax = $("#1_txtFax").val().trim();
        var v_Master_Email = $("#1_txtEmail").val().trim();
        if (v_Master_Email != "") {
            if (!IsvalidEmail(v_Master_Email)) {
                $('#1_txtEmail').focus();
                showError('Email không đúng định dạng!');
                return false;
            }
        }

        var v_RepMasterType = $("input[name='2_DaiDienChuDon']:checked").val();
        if (v_RepMasterType === "" || v_RepMasterType == undefined) {
            showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
            return false;
        }
        var v_Rep_Master_Name = $("#2_txtTenDayDu").val().trim();
        if (v_Rep_Master_Name === "") {
            $('#2_txtTenDayDu').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }
        var v_Rep_Master_Address = $("#2_txtDiaChi").val().trim();
        if (v_Rep_Master_Address === "") {
            $('#2_txtDiaChi').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }

        var v_Rep_Master_Phone = $("#2_txtDienThoai").val().trim();
        var v_Rep_Master_Fax = $("#2_txtFax").val().trim();

        var v_RepMasterEmail = $("#2_txtEmail").val().trim();
        if (v_RepMasterEmail != "") {
            if (!IsvalidEmail(v_RepMasterEmail)) {
                $('#2_txtEmail').focus();
                showError('Email không đúng định dạng!');
                return false;
            }
        }

        var v_AppCode = $("#txtAppCode").val();
        if (v_AppCode === "") {
            $('#txtAppCode').focus().val('');
            showError('Chưa chọn loại đơn đăng ký!');
            return false;
        }


        var formData = new FormData();
        //ObjectHeader
        formData.append("pInfo.Appcode", v_AppCode);
        formData.append("pInfo.Master_Name", v_Master_Name);
        formData.append("pInfo.Master_Address", v_Master_Address);
        formData.append("pInfo.Master_Phone", v_Master_Phone);
        formData.append("pInfo.Master_Fax", v_Master_Fax);
        formData.append("pInfo.Master_Email", v_Master_Email);
        formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
        formData.append("pInfo.Rep_Master_Name", v_Rep_Master_Name);
        formData.append("pInfo.Rep_Master_Address", v_Rep_Master_Address);
        formData.append("pInfo.Rep_Master_Phone", v_Rep_Master_Phone);
        formData.append("pInfo.Rep_Master_Fax", v_Rep_Master_Fax);
        formData.append("pInfo.Rep_Master_Email", v_RepMasterEmail);
        formData.append("pInfo.Status", 2);
        //
        //OjectFeeFix

        var fee_id1 = $("#5_rdoLyPhiYeuCau").val();
        var Isuse1 = 0;
        if ($("#5_rdoLyPhiYeuCau").prop('checked') == true) {
            Isuse1 = 1;
        }


        var LePhiYCSuaDoi1 = $("#5_txtLePhiYCSD").val().trim().replace(/,/g, "");
        var TienLePhiYCSD1 = $("#5_txtTienLePhiYCSD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[0].Fee_Id", fee_id1);
        formData.append("pFeeFixInfo[0].Isuse", Isuse1);
        formData.append("pFeeFixInfo[0].Number_Of_Patent", LePhiYCSuaDoi1);
        formData.append("pFeeFixInfo[0].Amount", TienLePhiYCSD1);


        var fee_id2 = $("#5_rdoLyPhiCongBoDon").val();
        var Isuse2 = 0;
        if ($("#5_rdoLyPhiCongBoDon").prop('checked') == true) {
            Isuse2 = 1;
        }

        var txtLePhiCBSD = $("#5_txtLePhiCBSD").val().trim().replace(/,/g, "");
        var TienLePhiCBSD = $("#5_txtTienLePhiCBSD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[1].Fee_Id", fee_id2);
        formData.append("pFeeFixInfo[1].Isuse", Isuse2);
        formData.append("pFeeFixInfo[1].Number_Of_Patent", txtLePhiCBSD);
        formData.append("pFeeFixInfo[1].Amount", TienLePhiCBSD);

        var fee_id3 = $("#5_rdoLyPhiCongBoDonSuaDoi").val();
        var Isuse3 = 0;
        if ($("#5_rdoLyPhiCongBoDonSuaDoi").prop('checked') == true) {
            Isuse3 = 1;
        }
        var txtLePhiCBSD3 = $("#5_txtLePhiCBD").val().trim().replace(/,/g, "");
        var TienLePhiCBSD3 = $("#5_txtTienLePhiCBD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[2].Fee_Id", fee_id3);
        formData.append("pFeeFixInfo[2].Isuse", Isuse3);
        formData.append("pFeeFixInfo[2].Number_Of_Patent", txtLePhiCBSD3);
        formData.append("pFeeFixInfo[2].Amount", TienLePhiCBSD3);

        //ObjDetail   3 ,4
        var v_DonYCSuaDoi = $("input[name='3_DonYCSuaDoi']:checked").val();
        if (v_DonYCSuaDoi === "" || v_DonYCSuaDoi == undefined) {
            showError('Phải chọn ít nhất 1 giá trị của đơn yêu cầu sửa đổi!');
            return false;
        }

        var v_SoDon = $("#3_txtSoDon").val().trim();
        if (v_SoDon === "") {
            $('#3_txtSoDon').focus().val('');
            showError('Số đơn không được để trống!');
            return false;
        }

        var NoiDungYCSuaDoi = $("input[name='4_NoiDungSuaDoi']:checked").val();
        var txtDeNghiSuaLaiThanh = $("#4_txtDeNghiSuaLaiThanh").val().trim();
        var txtSoChungTu = $("#5_txtSoChungTu").val().trim();


        formData.append("pDetailInfo.Appcode", v_AppCode);
        formData.append("pDetailInfo.Request", v_DonYCSuaDoi);
        formData.append("pDetailInfo.Correct_Request", NoiDungYCSuaDoi);
        formData.append("pDetailInfo.Correct_Request_To", txtDeNghiSuaLaiThanh);
        formData.append("pDetailInfo.Appno", v_SoDon);
        formData.append("pDetailInfo.Sochungtu_Noptheo", txtSoChungTu);

        funcPushAppDocAttach(formData);

        $.ajax({
            url: '/trade-mark/them_moi_don_dang_ky_sua_doi',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            traditional: true,
            dataType: "json",
            enctype: 'multipart/form-data',
            async: false,
            headers: { "cache-control": "no-cache" },
            success: function (data) {
                if (data != null && data.status >= 0) {

                    jAlert(AddSuccess, ThongBao, function () {
                    });

                } else {
                    jError(AddFail, ThongBao, function () {
                    });
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    });


    $("#hrfExportData").click(function () {
        var v_Master_Name = $("#1_txtTenDayDu").val().trim();
        if (v_Master_Name === "") {
            $('#1_txtTenDayDu').focus().val('');
            showError('Tên không được để trống!');
            return false;
        }
        var v_Master_Address = $("#1_txtDiaChi").val().trim();
        if (v_Master_Address === "") {
            $('#1_txtDiaChi').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }
        var v_Master_Phone = $("#1_txtDienThoai").val().trim();
        var v_Master_Fax = $("#1_txtFax").val().trim();
        var v_Master_Email = $("#1_txtEmail").val().trim();
        if (v_Master_Email != "") {
            if (!IsvalidEmail(v_Master_Email)) {
                $('#1_txtEmail').focus();
                showError('Email không đúng định dạng!');
                return false;
            }
        }

        var v_RepMasterType = $("input[name='2_DaiDienChuDon']:checked").val();
        if (v_RepMasterType === "" || v_RepMasterType == undefined) {
            showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
            return false;
        }
        var v_Rep_Master_Name = $("#2_txtTenDayDu").val().trim();
        if (v_Rep_Master_Name === "") {
            $('#2_txtTenDayDu').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }
        var v_Rep_Master_Address = $("#2_txtDiaChi").val().trim();
        if (v_Rep_Master_Address === "") {
            $('#2_txtDiaChi').focus().val('');
            showError('Địa chỉ không được để trống!');
            return false;
        }

        var v_Rep_Master_Phone = $("#2_txtDienThoai").val().trim();
        var v_Rep_Master_Fax = $("#2_txtFax").val().trim();

        var v_RepMasterEmail = $("#2_txtEmail").val().trim();
        if (v_RepMasterEmail != "") {
            if (!IsvalidEmail(v_RepMasterEmail)) {
                $('#2_txtEmail').focus();
                showError('Email không đúng định dạng!');
                return false;
            }
        }

        var v_AppCode = $("#txtAppCode").val();
        if (v_AppCode === "") {
            $('#txtAppCode').focus().val('');
            showError('Chưa chọn loại đơn đăng ký!');
            return false;
        }


        var formData = new FormData();
        //ObjectHeader
        formData.append("pInfo.Appcode", v_AppCode);
        formData.append("pInfo.Master_Name", v_Master_Name);
        formData.append("pInfo.Master_Address", v_Master_Address);
        formData.append("pInfo.Master_Phone", v_Master_Phone);
        formData.append("pInfo.Master_Fax", v_Master_Fax);
        formData.append("pInfo.Master_Email", v_Master_Email);
        formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
        formData.append("pInfo.Rep_Master_Name", v_Rep_Master_Name);
        formData.append("pInfo.Rep_Master_Address", v_Rep_Master_Address);
        formData.append("pInfo.Rep_Master_Phone", v_Rep_Master_Phone);
        formData.append("pInfo.Rep_Master_Fax", v_Rep_Master_Fax);
        formData.append("pInfo.Rep_Master_Email", v_RepMasterEmail);
        formData.append("pInfo.Status", 2);
        //
        //OjectFeeFix

        var fee_id1 = $("#5_rdoLyPhiYeuCau").val();
        var Isuse1 = 0;
        if ($("#5_rdoLyPhiYeuCau").prop('checked') == true) {
            Isuse1 = 1;
        }


        var LePhiYCSuaDoi1 = $("#5_txtLePhiYCSD").val().trim().replace(/,/g, "");
        var TienLePhiYCSD1 = $("#5_txtTienLePhiYCSD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[0].Fee_Id", fee_id1);
        formData.append("pFeeFixInfo[0].Isuse", Isuse1);
        formData.append("pFeeFixInfo[0].Number_Of_Patent", LePhiYCSuaDoi1);
        formData.append("pFeeFixInfo[0].Amount", TienLePhiYCSD1);


        var fee_id2 = $("#5_rdoLyPhiCongBoDon").val();
        var Isuse2 = 0;
        if ($("#5_rdoLyPhiCongBoDon").prop('checked') == true) {
            Isuse2 = 1;
        }

        var txtLePhiCBSD = $("#5_txtLePhiCBSD").val().trim().replace(/,/g, "");
        var TienLePhiCBSD = $("#5_txtTienLePhiCBSD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[1].Fee_Id", fee_id2);
        formData.append("pFeeFixInfo[1].Isuse", Isuse2);
        formData.append("pFeeFixInfo[1].Number_Of_Patent", txtLePhiCBSD);
        formData.append("pFeeFixInfo[1].Amount", TienLePhiCBSD);

        var fee_id3 = $("#5_rdoLyPhiCongBoDonSuaDoi").val();
        var Isuse3 = 0;
        if ($("#5_rdoLyPhiCongBoDonSuaDoi").prop('checked') == true) {
            Isuse3 = 1;
        }
        var txtLePhiCBSD3 = $("#5_txtLePhiCBD").val().trim().replace(/,/g, "");
        var TienLePhiCBSD3 = $("#5_txtTienLePhiCBD").val().trim().replace(/,/g, "");

        formData.append("pFeeFixInfo[2].Fee_Id", fee_id3);
        formData.append("pFeeFixInfo[2].Isuse", Isuse3);
        formData.append("pFeeFixInfo[2].Number_Of_Patent", txtLePhiCBSD3);
        formData.append("pFeeFixInfo[2].Amount", TienLePhiCBSD3);

        //ObjDetail   3 ,4
        var v_DonYCSuaDoi = $("input[name='3_DonYCSuaDoi']:checked").val();
        if (v_DonYCSuaDoi === "" || v_DonYCSuaDoi == undefined) {
            showError('Phải chọn ít nhất 1 giá trị của đơn yêu cầu sửa đổi!');
            return false;
        }

        var v_SoDon = $("#3_txtSoDon").val().trim();
        if (v_SoDon === "") {
            $('#3_txtSoDon').focus().val('');
            showError('Số đơn không được để trống!');
            return false;
        }

        var NoiDungYCSuaDoi = $("input[name='4_NoiDungSuaDoi']:checked").val();
        var txtDeNghiSuaLaiThanh = $("#4_txtDeNghiSuaLaiThanh").val().trim();
        var txtSoChungTu = $("#5_txtSoChungTu").val().trim();


        formData.append("pDetailInfo.Appcode", v_AppCode);
        formData.append("pDetailInfo.Request", v_DonYCSuaDoi);
        formData.append("pDetailInfo.Correct_Request", NoiDungYCSuaDoi);
        formData.append("pDetailInfo.Correct_Request_To", txtDeNghiSuaLaiThanh);
        formData.append("pDetailInfo.Appno", v_SoDon);
        formData.append("pDetailInfo.Sochungtu_Noptheo", txtSoChungTu);

        $.ajax({
            url: '/trade-mark/ket_xuat_file',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            traditional: true,
            dataType: "json",
            enctype: 'multipart/form-data',
            async: false,
            headers: { "cache-control": "no-cache" },
            success: function (data) {
                if (data != null && data.status >= 0) {

                    jAlert(AddSuccess, ThongBao, function () {
                    });

                } else {
                    jAlert(AddFail, ThongBao, function () {
                    });
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    });

    function SumFee() {
        try {
            var LePhiYCSD = $("#5_txtLePhiYCSD").val().replace(/,/g, "");
            if (LePhiYCSD === "" || LePhiYCSD == undefined) LePhiYCSD = 0;
            var LePhiCBSD = $("#5_txtLePhiCBSD").val().replace(/,/g, "");
            if (LePhiCBSD === "" || LePhiCBSD == undefined) LePhiCBSD = 0;
            var LePhiCBD = $("#5_txtLePhiCBD").val().replace(/,/g, "");
            if (LePhiCBD === "" || LePhiCBD == undefined) LePhiCBD = 0;

            var TienLePhiYCSD = $("#5_txtTienLePhiYCSD").val().replace(/,/g, "");
            if (TienLePhiYCSD === "" || TienLePhiYCSD == undefined) TienLePhiYCSD = 0;
            var TienLePhiCBSD = $("#5_txtTienLePhiCBSD").val().replace(/,/g, "");
            if (TienLePhiCBSD === "" || TienLePhiCBSD == undefined) TienLePhiCBSD = 0;
            var TienLePhiCBD = $("#5_txtTienLePhiCBD").val().replace(/,/g, "");
            if (TienLePhiCBD === "" || TienLePhiCBD == undefined) TienLePhiCBD = 0;

            var total = LePhiYCSD / 1 + LePhiCBSD / 1 + LePhiCBD / 1 + TienLePhiYCSD / 1 + TienLePhiCBSD / 1 + TienLePhiCBD / 1;
            var tongtien = formatNumberToStringN1(total);
            $("#5_lblTotalAmount").text(tongtien);
            $("#5_lblTotalAmount").css("font-weight", "bold");
        } catch (e) {
            console.log(e);
        }
    }




</script>
