@model string
@{
    string href = "javascript:;";
    if (Model != null)
    {
        href = Model;
    }
}
<div class="class_full_div_input ">
    <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="POA000001" id="6_rdoPOA" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
    <div class="class_text_end" style="display:flex">
        <label>POA</label> <a style="margin-top: -3px;padding-left: 20px;color: blue;" href="@href">Tải mẫu về <i class="fa fa-cloud-download" style="color: green; font-size: 20px;"></i> </a>
        <label style="font-style:italic;color:red">&nbsp;(Khách hàng điền đủ thông tin lên và tải lên)</label>
    </div>
</div>
<div class="class_full_div_input 6_rdoPOA" style="display:none">
    <div class="class_radio_head"></div>
    <div class="class_text_end" style="display:flex">
        <div class="container">
            <div class="file-upload btn btn-primary">
                <span>Tải file</span>
                <input type="file" name="pfile_6_rdoPOA" id="pfile_6_rdoPOA" class="upload fileuploadurl" />
            </div>
            <input type="text" id="txt_6_rdoPOA" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
            <input type="button" id="btnUp_6_rdoPOA" onclick="return funcPushFileToServer('6_rdoPOA');" value="Tải file" style="width:60px" />
            <i class="fa fa-check" id="i_6_rdoPOA" style="font-size:15px;color:green ;display:none"></i>
        </div>
    </div>
</div>

<script>
    document.getElementById("pfile_6_rdoPOA").onchange = function () {
    document.getElementById("txt_6_rdoPOA").value = this.value;
    };
</script>