<div id="toolbox">
    <ul>
        <li class="toTop" style="display: none;"><a href="#top" title="Lên đầu trang"><span>Lên đầu trang</span></a></li>
        <li class="home"><a href="/" title="Quay về trang chủ"></a></li>
        <li class="email"><a href="mailto:toasoan@zing.vn" title="Gửi email"><span>toasoan@news.zing.vn</span></a></li>
        <li class="phone"><a href="javascript:alert('Thông tin phản hồi cho tòa soạn qua đường dây nóng 0985.57.88.55');" title="Điện thoại nóng"><span>0985.57.88.55</span></a></li>
    </ul>
</div>

<style>
    #toolbox {
        display: block;
    }

    #toolbox {
        position: fixed;
        right: 10px;
        bottom: 45%;
        margin-left: -550px;
    }
</style>