<div class="div_full_100_area">
    <div class="class_full_div_p class_text_center_bold">
        <label>  CÁC TÀI LIỆU KHÁC</label>
    </div>
    <br />
    <div id="divDocumentOther">
        <div class="grid-container">
            <div class="grid-item"> </div>
            <div class="grid-item">
                <input type="text" class="clssListUpload" maxlength="250" placeholder="Nhập tên tài liệu đính kèm" id="txtTaiLieuKhac1">
            </div>
            <div class="grid-item">
                <div class="file-upload btn btn-primary">
                    <span>Chọn file</span>
                    <input type="file" onchange ="return funcChoiseFile('pfileName1', 'txtMaxfile1');" name="pfileName1" id="pfileName1" class="upload fileuploadurl" />
                </div>
                <input type="text"  class="classMaxfile" id="txtMaxfile1" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnTaiFile1" onclick="return funcPushFileDocumentOther('pfileName1','btnTaiFile1','txtTaiLieuKhac1');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_pfileName1" style="font-size:15px; color:green ;display:none"></i>
                <input type="button" id="btnAddDocumentOther" value="Thêm" style="width:60px; " class="btn" />
            </div>
        </div>
    </div>
</div>
@* danh dau so tt sinh id  *@
<input type="hidden" id="increNo" value="1"/>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 120px 14% 33%;
        padding: 1px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
    }
</style>

<script>
    $("#btnAddDocumentOther").click(function () {
        try {
            funcAddDocumentNew();
        } catch (e) {
        }
    });

    function funcAddDocumentNew() {
        try {
            var e = $("#increNo").val()/1;
                e++;
            var pfileName = "pfileName" + e.toString();
            var txtDocument = "txtTaiLieuKhac" + e.toString();
            var txtMaxfile = "txtMaxfile" + e.toString();
            var divDocumnetNo = "divDocumnetNo" + e;
            var btnXoa = "btnXoa" + e;
            var btnTaiFile = "btnTaiFile" + e;
            
            var t = '<div class="grid-container" id="' + divDocumnetNo + '"> <div class="grid-item"> </div> <div class="grid-item"> <input type="text" ' +
                'placeholder = "Nhập tên tài liệu đính kèm" class="clssListUpload" maxlength="250"  id = "' + txtDocument + '" > </div > ';
                t += '<div class="grid-item"> <div class="file-upload btn btn-primary"   <span>Chọn file</span> ' +
                 '<input type = "file" onchange ="return funcChoiseFile(\'' + pfileName + '\', \'' + txtMaxfile + '\');" name = "' + pfileName + '" id = "' + pfileName + '" class="upload fileuploadurl" /> </div > ' +
                 '<input type="text" id="' + txtMaxfile + '"  class="classMaxfile" readonly placeholder="Maximum file size is 2MB">' +
                    ' <input type="button" id="' + btnTaiFile + '" onclick="return funcPushFileDocumentOther(\'' + pfileName + '\', \'' + btnTaiFile + '\', \'' + txtDocument + '\');" value="Tải file" style="width:60px" />' +
                    '<i class="fa fa-check" id="i_' + pfileName + '" style="font-size:15px; color:green ;display:none"></i>  <input type="button" id="' + btnXoa + '" value="Xóa" style="width:60px;  background: crimson;" class="btn" onclick="return funcRemoveDocument(\'' + divDocumnetNo+'\')" /> </div> </div>';
            $("#divDocumentOther").append(t);
            $("#increNo").val(e);
            return t;
        } catch (e) {

        }
    }

    function funcRemoveDocument(pTag){
        try {
            var divFileUpload = document.getElementById(pTag);
            $(divFileUpload).remove();
        } catch (e) {
        }
    }
    function funcChoiseFile(pIDFile, ptxtId) {
        var obj = $("#" + pIDFile);
        $("#" + ptxtId).val(obj.val());
    }

    function funcPushFileDocumentOther(pID,ptagBtn,ptagKey)
    {
        try
        {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            } 
            formdata.append("pInfo.keyFileUpload", ptagKey);
            var file = document.getElementsByName(pID);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
            //2
            $.ajax({
                type: 'POST',
                url: '/trade-mark/push-file-other-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                        $("#i_" + pID).css("display", "inline-block");
                    } else {
                        jError(pushfileError, ThongBao, function () {
                        });
                    }
                }
            });


        } catch (e) {
            console.log(e);
        }
    }
</script>