<div id="toolbox">
    <ul>
        <li class="toTop" style=""><a href="#top" title="Lên đầu trang"><i style=" font-size: 27px; color: green;" class="fa fa-home"></i></a></li>
        <li class="email"><a href="javascript:;" title="Xem trước"><i class="fa fa-eye" target="_blank" onclick="return funcPreViewApplication();" style=" font-size: 27px; color: green;"></i></a></li>
    </ul>
</div>

<style>
    #toolbox {
        display: block;
    }

    #toolbox {
        position: fixed;
        right: 10px;
        bottom: 45%;
        margin-left: -550px;
    }
</style>


<script>

     function funGetDataTM04NHPreview(ptype, url) {
         try {
             //Thông tin chủ đơn
             var formData = new FormData();
             if (funcThongTinChuDonNguoiDaiDien(formData, "1") != true) {
                 return false;
             }
             var v_AppCode = $("#txtAppCode").val();
             if (v_AppCode === "") {
                 $('#txtAppCode').focus().val('');
                 showError('Chưa chọn loại đơn đăng ký!');
                 return false;
             }
             formData.append("pInfo.Appcode", v_AppCode);
             if (funcThongTinChuDonNguoiDaiDien(formData, "2") != true) {
                 return false;
             }
             var v_RepMasterType = $("input[name='3_rdoDaiDienChuDon']:checked").val();
             if (v_RepMasterType === "" || v_RepMasterType == undefined) {
                 showError('Phải chọn ít nhất 1 giá trị đại điện cho chủ đơn!');
                 return false;
             }
             formData.append("pInfo.Rep_Master_Type", v_RepMasterType);
             //trang thai
             formData.append("pInfo.Status", ptype);
             //Lấy thông tin detail
             var reponse = funcGetAppDetail(formData);
             if (reponse == false) {
                 return false;
             }
             //Lấy thông tin file có trong đơn
             reponse = funGetThongTinFile(formData);
             if (reponse == false) {
                 return false;
             }
             reponse = funcGetDataClassInfo(formData);
             if (reponse == false) {
                 return false;
             }
             //lay tai lieu khac
             reponse = funcGetTenTaiLieuKhac(formData);
             if (reponse == false) {
                 return false;
             }
             //
             reponse = funcGetCamKetChuDon(formData);
             if (reponse == false) {
                 return false;
             }
             $.ajax({
                 url: url,
                 type: 'POST',
                 data: formData,
                 processData: false, contentType: false, traditional: true, dataType: "json",
                 enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                 success: function (data) {
                     if (data != null && data.status >= 0) {
                          
                         return true;
                     } else {
                          
                         return false;
                     }
                 },
                 error: function (e) {
                     console.log(e);
                 }
             });

            return true;
        } catch (e) {

        }

    }

     function funcPreViewApplication() {
         var preturn = funGetDataTM04NH(3, "/trade-mark/ket_xuat_file");
         if (preturn == true || preturn == undefined) {
             OpenPreview("/trade-mark/Pre-View");
         }
     }


    function OpenPreview(url) {
        try {
            w = 1100; //độ rộng form popup
            h = 600;//chiều cao
            var left = (screen.width - w) / 2;
            var top = (screen.height - h) / 4;  // for 25% - devide by 4  |  for 33% - devide by 3
            var targetWin = window.open(url, 'Xem thông tin đơn', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        } catch (e) {
        }
    }
</script>