<div id="toolbox">
    <ul>
        <li class="toTop" style=""><a href="#top" title="Lên đầu trang"><i style=" font-size: 27px; color: green;" class="fa fa-home"></i></a></li>
        <li class="email"><a href="javascript:;"     title="Xem trước"><i class="fa fa-eye" target="_blank"  onclick="return funcPreViewApplication();" style=" font-size: 27px; color: green;"></i></a></li>
    </ul>
</div>

<style>
    #toolbox {
        display: block;
    }

    #toolbox {
        position: fixed;
        right: 10px;
        bottom: 45%;
        margin-left: -550px;
    }
</style>


 