<div class="div_full_100_area">
    <div class="class_full_div_p class_text_center_bold">CÁC TÀI LIỆU KHÁC</div>
    <br />

    <div class="class_full_div_input">
        <div class="class_block_title">
         
        </div>
        <div class="class_block_title_control">
            <div class="class_left_30">
                <input type="text" placeholder="Nhập tên tài liệu đính kèm" id="txtTaiLieuKhac">
            </div>
            <div class="container class_right_70">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_tailieukhac" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <input type="button" id="btnAdd" value="Thêm" style="width:46px" />

                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>
</div>