<div class="div_full_100_area">
    <div class="class_full_div_p class_text_center_bold">CÁC TÀI LIỆU CÓ TRONG ĐƠN</div>
    <br />

    <div class="class_full_div_p class_text_left_bold">Tài liệu tối thiểu</div>
    <br />
    <div class="class_full_div_input">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Tờ khai, gồm </label>
            <input style="width:140px" type="text" id="6_txtToKhaiTrang" maxlength="50" placeholder="6_txtToKhaiTrang" />
            <label style="padding-left:5px">trang</label>
            <input style="width:80px" type="text" id="6_txtToKhaiTrang" maxlength="50" placeholder="6_txtToKhaiTrang" />
            <label style="padding-left:5px">bản (có danh mục và phân nhóm hàng hoá, dịch vụ mang nhãn hiệu)</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>

    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Mẫu nhãn hiệu, gồm </label>
            <input style="width:140px" type="text" id="6_txtToKhaiTrang" maxlength="50" placeholder="6_txtToKhaiTrang" />
            <label style="padding-left:5px">mẫu</label>
        </div>
    </div>


    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>


    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Chứng từ phí, lệ phí</label>
        </div>
    </div>

    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>

    <div class="class_full_div_p class_text_left_bold">Tài liệu tối thiểu</div>
    <br />
    <div class="class_full_div_input">
        <div class="class_radio_head"><input type="checkbox" id="6_rdoGiayUyQuyen" value="3B6_04" onchange="return ShowHidenUpLoad(this.id, this.id);" /> </div>
        <div class="class_text_end" style="display:flex">
            <label style="width:150px">Giấy uỷ quyền bằng tiếng</label>
            <input style="width:35%" type="text" id="6_txtGiayUQTiengViet" maxlength="50" placeholder="6_txtGiayUQTiengViet" />
        </div>
    </div>
    <div class="class_full_div_input 6_rdoGiayUyQuyen" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoGiayUyQuyen" id="pfile_6_rdoGiayUyQuyen" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoGiayUyQuyen" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoGiayUyQuyen" onclick="return funcPushFileToServer('6_rdoGiayUyQuyen');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoGiayUyQuyen" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>

    @* noi dung con  *@


    <div class="class_full_div_input 6_rdoBanDichTiengViet" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoBanDichTiengViet" id="pfile_6_rdoBanDichTiengViet" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoBanDichTiengViet" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoBanDichTiengViet" onclick="return funcPushFileToServer('6_rdoBanDichTiengViet');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoBanDichTiengViet" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>


    <div class="class_full_div_input" style="padding-left: 20px;">
        <div class="class_radio_head"><input type="checkbox" id="6_rdoBanGoc" value="3B6_06" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end"><p class="class_text_left">bản gốc</p></div>
    </div>

    <div class="class_full_div_input 6_rdoBanGoc" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoBanGoc" id="pfile_6_rdoBanGoc" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoBanGoc" readonly class="classMaxfile" placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoBanGoc" onclick="return funcPushFileToServer('6_rdoBanGoc');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoBanGoc" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>

    <div class="class_full_div_input" style="padding-left: 20px;">
        <div class="class_radio_head"><input type="checkbox" id="6_rdoBanSao" value="3B6_07" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end">
            <p class="class_text_left">bản sao (</p>
            <div class="class_full_div_input" style="padding-left: 20px;">
                <div class="class_radio_head"><input type="radio" name="bansao" value="3B6_08" id="6_rdoBanGocSeNopSau" /></div>
                <div class="class_text_end"><p class="class_text_left">bản gốc sẽ nộp sau</p></div>
            </div>

            <div class="class_full_div_input" style="padding-left: 20px;">
                <div class="class_radio_head"><input type="radio" name="bansao" value="3B6_09" id="6_rdoBanGocDaNopTheoDonSo" /></div>
                <div class="class_text_end" style="display:flex">
                    <label style="width:170px">bản gốc đã nộp theo đơn số</label>
                    <input style="width:33%" type="text" id="6_txtBangocDNTheoDonSo" maxlength="50" placeholder="6_txtBangocDNTheoDonSo" />
                    <label style="width:10%;padding-left:5px">)</label>
                </div>
            </div>
            @* day file *@

        </div>
    </div>

    <div class="class_full_div_input 6_rdoBanSao" style="display:none;padding-left: 20px;">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoBanSao" id="pfile_6_rdoBanSao" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoBanSao" readonly class="classMaxfile" placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoBanSao" onclick="return funcPushFileToServer('6_rdoBanSao');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoBanSao" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>

    <div class="class_full_div_input" style="padding-left: 20px;">
        <div class="class_radio_head"><input type="checkbox" id="6_rdoBanDichTiengViet" value="3B6_05" onchange="return ShowHidenUpLoad(this.id, this.id);" /> </div>
        <div class="class_text_end" style="display:flex">
            <label style="width:150px">bản dịch tiếng Việt, gồm</label>
            <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
            <label style="padding-left:5px">trang</label>
        </div>
    </div>



    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Tài liệu xác nhận được phép sử dụng các dấu hiệu đặc biệt (biểu tượng, cờ, huy hiệu, con dấu…), gồm</label>
            <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
            <label style="padding-left:5px">trang</label>
        </div>


    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>
    @*Tài liệu xác nhận quyền đăng ký nhãn hiệu:*@


    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Tài liệu xác nhận quyền đăng ký nhãn hiệu</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>

    @* Tài liệu xác nhận thụ hưởng quyền đăng ký từ người khác *@


    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Tài liệu xác nhận thụ hưởng quyền đăng ký từ người khác</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>




    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Quy chế sử dụng NH tập thể/chứng nhận, gồm</label>
            <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
            <label style="padding-left:5px">trang</label>
            <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
            <label style="padding-left:5px">bản</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>




    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Tài liệu chứng minh quyền ưu tiên </label>
            <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
            <label style="padding-left:5px">bản</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>


    <div class="class_full_div_input" style="padding-left:20px">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Bản sao đơn đầu tiên, gồm</label>
            <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
            <label style="padding-left:5px">bản</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>

    <div class="class_full_div_input" style="padding-left:20px">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Bản dịch tiếng Việt, gồm</label>
            <input style="width:33%" type="text" id="6_txtBDTVGom" maxlength="3" placeholder="6_txtBDTVGom" />
            <label style="padding-left:5px">bản</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>


    <div class="class_full_div_input" style="padding-left:20px">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label> Giấy chuyển nhượng quyền ưu tiên </label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>


    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Bản đồ khu vực địa lý</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>


    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Văn bản của UBND tỉnh, thành phố trực thuộc Trung ương cho phép sử dụng địa danh hoặc dấu hiệu khác chỉ nguồn gốc địa lý của đặc sản địa phượng </label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>


    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Có tài liệu bổ trợ khai tại trang bổ sung</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>


    @* Click checkbox ở đay thì partialview moi enable lên  *@
    @*<a href="~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHTaiLieuKhac.cshtml">~/Areas/TradeMark/Views/TradeMarkRegistration/_Partial04NHTaiLieuKhac.cshtml</a>*@
    <div class="class_full_div_input ">
        <div class="class_radio_head"> <input type="checkbox" maxlength="3" value="3B6_01" id="6_rdoToKhai" onchange="return ShowHidenUpLoad(this.id, this.id);" /></div>
        <div class="class_text_end" style="display:flex">
            <label>Tài liệu khác</label>
        </div>
    </div>
    <div class="class_full_div_input 6_rdoToKhai" style="display:none">
        <div class="class_radio_head"></div>
        <div class="class_text_end" style="display:flex">
            <div class="container">
                <div class="file-upload btn btn-primary">
                    <span>Tải file</span>
                    <input type="file" name="pfile_6_rdoToKhai" id="pfile_6_rdoToKhai" class="upload fileuploadurl" />
                </div>
                <input type="text" id="txt_6_rdoToKhai" class="classMaxfile" readonly placeholder="Maximum file size is 2MB">
                <input type="button" id="btnUp_6_rdoToKhai" onclick="return funcPushFileToServer('6_rdoToKhai');" value="Tải file" style="width:60px" />
                <i class="fa fa-check" id="i_6_rdoToKhai" style="font-size:15px;color:green ;display:none"></i>
            </div>
        </div>
    </div>

</div>