@using BussinessFacade.ModuleMemoryData
@using WebApps.CommonFunction
@{
    var listClassInfo = MemoryData.clstAppClass;
    string _LanguageCode = AppsCommon.GetCurrentLang();
}
<div class="div_full_100_area">
    <div class="class_full_div_p class_text_center_bold">DANH MỤC VÀ PHÂN NHÓM HÀNG HOÁ, DỊCH VỤ MANG NHÃN HIỆU </div>
    <br />
    <div class="class_full_div_input">
        <div class="class_flex_40">
            <div class="class_block_title"><label>Hàng hóa:</label></div>
            <div class="class_block_title_control">
                <input type="text" placeholder="Gõ tên sản phẩm" id="txtTenHangHoa" />
            </div>
        </div>
        <div class="class_flex_grow">
            <div class="class_block_title"><label>Tên đầy đủ:</label> </div>
            <div class="class_block_title_control" style="width: calc(100% - 250px);float:none">
                <select id="cboClassInfo">
                    @foreach (var item in listClassInfo)
                    {
                        string Content = item.Name_Vi;
                        if (_LanguageCode == LangCode.EN_US.ToString())
                        {
                            Content = item.Name_En;
                        }
                        <option value="@item.Code">@Content</option>
                    }
                </select>
            </div>
            <div style="display:inline-flex">
                <input type="button" value="Thêm" class="btn" onclick="return funcAddDataRow();" style="width:75px;" />
            </div>
        </div>
    </div>

    <div class="class_full_div_input">
        <div class="_table_display" id="divHangHoaThem" style="width: 100%">
            <h4 class="h4_title">Hàng hóa đã thêm</h4>
            <table class="table-lst-data" id="tblClassInfo">
                <thead>
                    <tr>
                        <th style="width: 4%">STT</th>
                        <th data-sort id="Username">Hàng hóa</th>
                        <th style="width: 17%" data-sort>Mã hàng hóa</th>
                        <th style="width: 100px;"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .h4_title {
        border-bottom: 2px solid #ff6229;
        color: #ff6229;
        font-family: 'Segoe UI', Arial;
        font-weight: normal;
        font-size: 14px;
        font-style: italic;
        margin: 0px 10px 10px 0px;
    }
</style>

<script>
    function funIncreNumberRow(table_id) {
        try {
            $(table_id).find('tbody').find("tr").each(function () {
                var _index = $(this);
                $(this).find("td:first").text(_index[0].rowIndex);
            });
        } catch (e) {
            console.log(e);
        }
    }

    function funcAddDataRow() {
        try {
            var classCode = $("#cboClassInfo").val();
            var className = $("#txtTenHangHoa").val();
            if (className == "" || className == undefined) {
                showError('Chưa nhập tên hàng hóa!');
                return false;
            }

            if (classCode == "" || classCode == undefined) {
                showError('Mã hàng hóa không đúng, Kiểm tra lại mã hàng hóa!');
                return false;
            }


            funcAddMessDataRow(className, classCode, $("#cboClassInfo"), 0);
            $("#txtTenHangHoa").val("");
            $("#cboClassInfo").val("");
            $("#txtTenHangHoa").focus();

        } catch (e) {
            console.log(e);
        }
    }

    function funcAddMessDataRow(textInput, classCode, element, type) {

        try {
            textInput = textInput.trim();
            classCode = classCode.trim();
            var _html = "<tr><td></td><td class=\"TdLeft HasSort\">" + textInput + "</td><td  class=\"TdLeft\">" + classCode + "<input class=\"DataAdd\" type=\"hidden\" value=\"" + textInput + "|" + classCode + "\" /></td><td><a href=\"javascript:;\" onclick=\"funcRemoveMessDataRow(this);\">Xóa</a></td></tr>";
            $("#tblClassInfo").find("tbody").append(_html);
            funcReSortTable("#tblClassInfo", 'asc');
        } catch (e) {
            console.log(e);
        }
    }

    //Xoa item
    function funcRemoveMessDataRow(element) {
        try {
            var _row = $(element).parent().parent();
            $(_row).remove();
            funcReSortTable("#tblClassInfo", 'asc');
        } catch (e) {
            console.log(e);
        }
    }

    //Sort lai
    function funcReSortTable(table_id, type) {
        try {
            var asc = type === 'asc', tbody = $(table_id).find('tbody');
            tbody.find('tr').sort(function (a, b) {
                if (asc) {
                    return $('.HasSort', a).text() - $('.HasSort', b).text();
                } else {
                    return $('.HasSort', b).text() - $('.HasSort', a).text();
                }
            }).appendTo(tbody);
            funIncreNumberRow(table_id);
        } catch (e) {
            console.log(e);
        }
    }

    //Lay thong tin trong bang
    function funcGetDataClassInfo(formData) {
        try {
            var item = 0;
            $("#tblClassInfo").find("tbody").find(".DataAdd").each(function () {
                var str_data = $(this).val().split('|');
                formData.append("pAppClassInfo[" + item + "].Textinput", str_data[0]);
                formData.append("pAppClassInfo[" + item + "].Code", str_data[1]);
                item++;
            });
            return true;
        }
        catch (e) {
            console.log(e);
            return false;
        }
    }
</script>