@{ 
    ViewBag.Title = "Sửa đổi đơn đăng ký";
    Layout = "~/ViewsShared/_Layout.cshtml";
}
<div class="d-nav-container">
    <ul class="ul-nav">
        <li><a href="javascript:;">TradeMark</a></li>
        <li><a href="javascript:;"> Request for amendment of application)</a></li>
    </ul>
</div>

<div class="div-search ">
    <fieldset style="border: 1px solid #dddddd; padding: 1.25rem;">
        <legend>Request for amendment of application (Vietnamese)</legend>
        <div class="div-100">
            <div class="class_left_50">
                <strong class="class_text_center">TỜ KHAI</strong>
                <label class="class_text_center"> SỬA ĐỔI ĐƠN ĐĂNG KÝ</label>
                <label class="class_text_center">  ĐỐI TƯỢNG SỞ HỮU CÔNG NGHIỆP</label>

                <label>Kính gửi: Cục Sở hữu trí tuệ</label>
                <label>386 Nguyễn Trãi, Hà Nội</label>

                <label>Chủ đơn dưới đây yêu cầu Cục Sở hữu trí tuệ sửa đổi đơn đăng ký đối tượng sở hữu công nghiệp*</label>
            </div>
            <div class="class_right_50">
                <strong class="class_text_center">DẤU NHẬN ĐƠN</strong>
                <p class="class_text_center_italic">(Dành cho cán bộ nhận đơn)</p>
            </div>
        </div>
    </fieldset>
</div>