@using Common.CommonData
@using WebApps.ExtensionObject
@using WebApps.Resources;
@using WebApps.CommonFunction
@{
    Layout = null;
    string language = AppsCommon.GetCurrentLang();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="__RequestVerificationToken" content="@Html.AntiForgeryTokenValue()" />
    @if (language == "VI_VN")
    {
        <title>Quên mật khẩu</title>
    }
    else
    {
        <title>Fogot password</title>
    }
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src=@($"/Scripts/jquery-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery-ui-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery.unobtrusive-ajax.min.js?v={CommonVariables.AssemblyVersion}")></script>

    <link href=@($"/Scripts/outSourcesLib/notify/animate.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/notify/notify.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href=@($"/Scripts/outSourcesLib/SweetAlert/sweetalert2.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href=@($"/Scripts/outSourcesLib/multipleSelect/multiple-select.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href=@($"/Scripts/outSourcesLib/DragTable/jquery.dataTables.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Scripts/outSourcesLib/DragTable/dataTables.fixedColumns.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href=@($"/Content/font.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/Site.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/IconNVS/IconNVS.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/fonts/glyphicons/glyphicons.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <link href=@($"/Content/fonts/fontawesome/fontawesome-all.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />

    <link href=@($"/Scripts/outSourcesLib/datetimepickerMaster/jquery.datetimepicker.min.css?v={CommonVariables.AssemblyVersion}") rel="stylesheet" />
    <script src="@Url.Script("~/Scripts/DangTQForm.js")"></script>
    <script src="~/Scripts/messagebox/JsFormPopup.js"></script>
    <script src="~/Scripts/messagebox/popup.js"></script>
    <link href="~/Content/CssFormPoup/StyleFormPopup.css" rel="stylesheet" />
    @* Loader *@
    <link href="~/Content/CSSWaitingIcon/rolling.css" rel="stylesheet" />
    <link href="~/Scripts/AlertPopup/NVSAlertCss.css" rel="stylesheet" />
    <script src="~/Scripts/AlertPopup/ASSAlert.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }


        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            position: relative;
            min-width: 1000px;
            overflow: auto;
            background-image: url('/Content/images/login_background.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            font-size: 13px;
            font-family: Roboto-Regular;
        }

        .fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000000;
            background-color: rgba(0,0,0,.5);
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center; /* safari justify-content */
            -webkit-flex-pack: center; /* safari justify-content */
            justify-content: center;
            align-items: center;
        }

        .d-container {
            align-items: center;
            padding: 30px 30px 50px 30px;
            background-color: #fff;
        }

        .d-form-login input {
            margin-bottom: 10px;
            height: 37px;
        }

            .d-form-login input.btn {
                margin-top: 10px;
            }

        .d-form-login p {
            padding: 10px 0;
        }
    </style>

</head>

<body>
    <div class="hidden">
        @Html.Partial("~/ViewsShared/nvs.variables.js.cshtml")
    </div>

    <div class="fixed">
        <div class="d-container" style="width: 400px;">
            <div class="d-form-login">
                <div>
                    <p class="font-size-20 text-font-medium text-color-2">Quên mật khẩu</p>
                </div>
                <div>
                    <p>Email</p>
                    <input type="text" id="gmail" autofocus placeholder="" />
                </div>
                <div>
                    <input style="width: 120px;" type="submit" class="btn" value="Đặt lại mật khẩu" onclick="return SendEmail()" />
                </div>
            </div>
        </div>
    </div>

    <div id="divWrapperPopUpUser" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divPopUpUser">
        </div>
    </div>

    <script src=@($"/Scripts/nvs.jquery.validate.data.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.util.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.alert.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/nvs.jquery.filter.search.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/notify/bootstrap-notify.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/SweetAlert/es6-promise.auto.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/SweetAlert/sweetalert2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/multipleSelect/jquery.multiple.select_new.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/dragtables.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/jquery.dataTables.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/DragTable/dataTables.fixedColumns.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/outSourcesLib/datetimepickerMaster/jquery.datetimepicker.full.min.js?v={CommonVariables.AssemblyVersion}")></script>
</body>
</html>

@*Nếu bạn quên mật khẩu, bạn có thể dùng mẫu sau để thiết lập lại mật khẩu. Bạn sẽ nhận được một email
    với nội dung hướng dẫn đặt lại mật khẩu*@

<script>
    function SendEmail() {
        try {
            // gmail
            var p_gmail = $("#gmail").val().trim();

            $.ajax({
                type: 'POST',
                url: '/do-fogot-pass',
                data: {
                    gmail: p_gmail
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success > 0) {
                        jAlert("Yêu cầu thiết lập lại mật khẩu đã được gửi tới email của bạn, Vui lòng làm theo hướng dẫn trong email này", "Thông báo", function () {
                            window.location = "/login";
                        });
                    } else if (data.success == '-2') {
                        jAlert("Tài khoản email không chính xác, Vui lòng kiểm tra lại tài khoản", "Thông báo");
                    }
                    else {
                        jError('Kết nối không thành công!', "lỗi");
                    }
                }
            });

        } catch (ex) {
            console.log(ex);
        }
    }
</script>