@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    decimal _application_header_id = -1;
    if (ViewBag.Application_Header_Id != null)
    {
        _application_header_id = ViewBag.Application_Header_Id;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 250px;
    }
</style>

<div class="" style="padding:5px 38px">
    <div class="divCover divCover_popup">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Luật sư confirm<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <select id="cboConfirm" disabled="disabled">
                        @foreach (var item in MemoryData.AllCode_GetBy_CdTypeCdName("CUSTOMER", "CONFIRM"))
                        {
                            if (item.CdVal == ((int)Common.CommonData.CommonEnums.Action_Type.Accept).ToString())
                            {
                                <option selected="selected" value="@item.CdVal">@item.Content</option>
                            }
                            else
                            {
                                <option value="@item.CdVal">@item.Content</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Ghi chú </div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtNotes" maxlength="2000" />
                </div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="Phân loại" onclick="return do_Lawer_Confirm(@_application_header_id)" />
        </div>
    </div>
</div>
 
<script>
    $(document).ready(function () {

        //$('#cboConfirm').multipleSelect({
        //    filter: true,
        //    single: true,
        //    isdatastring: false,
        //    maxHeight: 150,
        //    placeholder: "-- Luật sư phản hồi --"
        //});

    });

    function validateAction() {
        var _Status = $('#cboConfirm').val();
        if (_Status == null || _Status == "0") {
            jError('Action Confirm không được để trống!', "Lỗi", function () {
                $('#cboConfirm').multipleSelect('focus');
            });
            return false;
        }

        return true;
    }

</script>
