@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 200px;
    }
</style>

<div class="">
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/info.png" />
        <div class="cls_form_header">
            Gửi yêu cầu xác nhận đơn cho khách hàng
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Ghi chú </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="Gửi xác nhận" onclick="return do_Admin_Gui_KH(@_AppHeaderInfo.Id)" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    });

    function do_Admin_Gui_KH(_application_header_id) {
        if (validateAction()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn gửi xác nhận đơn này cho khách hàng không?", function () {
                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/do-admin-confirm-2-customer',
                    type: 'POST',
                    data: {
                        p_Application_Header_Id: _application_header_id,
                        p_note: $('#txtNotes').val()
                    },
                    async: true, cache: false, traditional: true,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Gửi xác nhận thành công!', "THÔNG BÁO", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(true);
                        console.log(e);
                    }
                });
            });
        }
    }

    function validateAction() {
        //var _Status = $('#cboConfirm').val();
        //if (_Status == null || _Status == "0") {
        //    jError('Action Confirm không được để trống!', "Lỗi", function () {
        //        $('#cboConfirm').multipleSelect('focus');
        //    });
        //    return false;
        //}

        return true;
    }

</script>
