@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    var _AppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        _AppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }
}

<style>
    /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
    .div-search-title > div {
        width: 250px;
    }
</style>
<script src="~/Content/Datetimepicker_master/jquery.datetimepicker.full.min.js"></script>
<link href="~/Content/Datetimepicker_master/jquery.datetimepicker.min.css" rel="stylesheet" />
<script>
    $.datetimepicker.setLocale('vi');
    $(document).ready(function () {
        $('.datepicker').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false,
            mask: '39/19/9999',
            validateOnBlur: true,
        });
    });
</script>

<div>
    <div class="divCover cls_form_title">
        <img src="~/Content/icons/info.png" />
        <div class="cls_form_header">
            Nộp đơn
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Ngày nộp đơn<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Ngày nộp đơn" id="txt_filing_date" maxlength="100" class="datepicker" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Số đơn<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" maxlength="100" placeholder="Số đơn" id="txt_App_No" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-title">
            <div>Nội dung chính </div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" id="txtNotes" maxlength="2000" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-content">
            <input type="button" id="btnChooseFile" value="Chọn file" class="btn" onclick="return Click_Upload_File()" style="margin-left:4px;height:29px;" />
            <input type="file" id="file_attach" style="display:none" onchange="FuncChooseResultFile()" />

            <div class="div-checkbox clssDisplaynone" id="div_RemoveImg">
                <img onclick="RemoveFile()" src="~/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px" />
            </div>
        </div>
        <div class="div-search-title">
            <div id="div_filename" style="width: 168px;">File copy<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Tên file Maximum file size is 2MB" id="txtMaxFile" readonly="readonly" />
            </div>
        </div>
    </div>

    <div class="div-search-ad">
        <div class="div-search-content">
            <input type="button" id="btnChooseFile_Dich" value="Chọn file" class="btn" onclick="return Click_Upload_File_Dich()" style="margin-left:4px;height:29px;" />
            <input type="file" id="file_attach_Dich" style="display:none" onchange="FuncChooseResultFile_Dich()" />

            <div class="div-checkbox clssDisplaynone" id="div_RemoveImg_Dich">
                <img onclick="RemoveFile_Dich()" src="~/Content/icons/delete_file.png" style="margin: 10px 5px 0px 5px" />
            </div>
        </div>
        <div class="div-search-title">
            <div id="div_filename_Dich" style="width: 168px;">File dịch<i class="redspan">(*)</i></div>
        </div>
        <div class="div-search-content">
            <div>
                <input type="text" placeholder="Tên file Maximum file size is 2MB" id="txtMaxFile_Dich" readonly="readonly" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-group-bottom">
            <input type="submit" class="btn-default" value="Nộp đơn" onclick="return do_Filing('@_AppHeaderInfo.Case_Code')" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    function do_Filing(_case_code) {
        if (validateAction()) {
            nvsConfirm(null, "Bạn có chắc chắn muốn nộp đơn này cho khách hàng không?", function () {

                var pfile = $("#file_attach");//lay du lieu file
                var _file = pfile[0].files[0];

                var pfile_t = $("#file_attach_Dich");//lay du lieu file
                var _file_t = pfile_t[0].files[0];

                var formdata = new FormData();
                formdata.append("pInfo.File_Copy_Filing", _file);
                formdata.append("pInfo.File_Translate_Filing", _file_t);
                formdata.append("pInfo.Case_Code", parseInt(_case_code));
                formdata.append("pInfo.Filing_Date", $('#txt_filing_date').val());
                formdata.append("pInfo.Note", $('#txtNotes').val());
                formdata.append("pInfo.App_No", $('#txt_App_No').val());

                $.ajax({
                    url: '/trade-mark-mana/quan-ly-don/do-filing',
                    type: 'POST',
                    data: formdata,
                    enctype: 'multipart/form-data',
                    async: true, cache: false, traditional: true, contentType: false,
                    processData: false,
                    beforeSend: function () {
                        CreateRollingWaitingIcon(true);
                    },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.success == "-1") {
                            jError("Lỗi check lại kết nối tới server");
                            return false;
                        }
                        else {
                            jAlert('Nộp đơn thành công!', "THÔNG BÁO", function () {
                                window.location.href = "/home";
                            });
                        }
                    },
                    error: function (e) {
                        CreateRollingWaitingIcon(false);
                        console.log(e);
                    }
                });
            });
        }
    }

    function Click_Upload_File(p_AfterID) {
        var _idfile = "file_attach";
        document.getElementById(_idfile).click();
    }

    function Click_Upload_File_Dich(p_AfterID) {
        var _idfile = "file_attach_Dich";
        document.getElementById(_idfile).click();
    }

    function FuncChooseResultFile() {
        try {

            var _textFile = $("#txtMaxFile");
            var _txt = document.getElementById("txtMaxFile");
            var div_filename = document.getElementById("div_filename");

            // lay du lieu file
            var pfile = $("#file_attach");

            if (pfile.val() == "") {
                _textFile.val("");

                $("#div_RemoveImg").addClass("clssDisplaynone");
                div_filename.width = "168px";
                //_txt.style.width = "561px";
            }
            else {
                var _Filename = pfile[0].files[0].name.toString();
                _textFile.val(_Filename);

                $("#div_RemoveImg").removeClass("clssDisplaynone");
                div_filename.width = "143px";
                //_txt.style.width = "536px";
            }
        } catch (e) {
            alert(e);
        }
    }

    function FuncChooseResultFile_Dich() {
        try {

            var _textFile = $("#txtMaxFile_Dich");
            var _txt = document.getElementById("txtMaxFile_Dich");
            var div_filename = document.getElementById("div_filename_Dich");

            // lay du lieu file
            var pfile = $("#file_attach_Dich");

            if (pfile.val() == "") {
                _textFile.val("");

                $("#div_RemoveImg_Dich").addClass("clssDisplaynone");
                div_filename.width = "168px";
                //_txt.style.width = "561px";
            }
            else {
                var _Filename = pfile[0].files[0].name.toString();
                _textFile.val(_Filename);

                $("#div_RemoveImg_Dich").removeClass("clssDisplaynone");
                div_filename.width = "143px";
                //_txt.style.width = "536px";
            }
        } catch (e) {
            alert(e);
        }
    }

    function RemoveFile(p_AfterID) {
        try {

            $("#file_attach").val('');
            $("#div_RemoveImg").addClass("clssDisplaynone");
            var _textFile = $("#txtMaxFile");
            _textFile.val("");

        } catch (e) {
            alert(e.toString());
        }
    }

    function RemoveFile_Dich(p_AfterID) {
        try {

            $("#file_attach_Dich").val('');
            $("#div_RemoveImg_Dich").addClass("clssDisplaynone");
            var _textFile = $("#txtMaxFile_Dich");
            _textFile.val("");
        } catch (e) {
            alert(e.toString());
        }
    }

    function validateAction() {
        // check validate ngày
        var _filing_date = $("#txt_filing_date").val();
        if (checkDate("Ngày nộp đơn", "#txt_filing_date", _filing_date) == false) {
            return false;
        }

        var _App_No = $("#txt_App_No").val();
        if (_App_No == null || _App_No == "") {
            jError("Số đơn không được để trống", "Lỗi", function () {
                $("#txt_App_No").focus();
            });
            return false;
        }

        var pfile = $("#file_attach");//lay du lieu file
        if (pfile.val() != "") {
            var _CheckFile = true;
            var _Len = pfile[0].files[0].name.toString()
            if (_Len.length > 200) {
                _CheckFile = false;
                jError("Tên file không được quá 200 ký tự", "Lỗi", function () {
                    $(pfile).focus();

                });
                return false;
            }

            var _file = pfile[0].files[0];
            var _size = _file.size / 1024 / 1024;

            if (validateFileName(_file.name) == false) {
                _CheckFile = false;
                jError("Không tải file có tên file được lưu là unicode Tiếng việt có dấu ! ", "Lỗi", function () {
                    $(pfile).focus();
                });
                return false;
            }
            if (_CheckFile == false) {
                return false;
            }
        }
        else {
            jError("File copy không được để trống", "Lỗi", function () {
                $("#btnChooseFile").focus();
            });
            return false;
        }

        var pfile_Dich = $("#file_attach_Dich");//lay du lieu file
        if (pfile_Dich.val() != "") {
            var _CheckFile = true;
            var _Len = pfile_Dich[0].files[0].name.toString()
            if (_Len.length > 200) {
                _CheckFile = false;
                jError("Tên file không được quá 200 ký tự", "Lỗi", function () {
                    $(pfile_Dich).focus();
                });
                return false;
            }

            var _file = pfile_Dich[0].files[0];
            var _size = _file.size / 1024 / 1024;

            if (validateFileName(_file.name) == false) {
                _CheckFile = false;
                jError("Không tải file có tên file được lưu là unicode Tiếng việt có dấu ! ", "Lỗi", function () {
                    $(pfile_Dich).focus();
                });
                return false;
            }
            if (_CheckFile == false) {
                return false;
            }
        }
        else {
            jError("File dịch không được để trống", "Lỗi", function () {
                $("#btnChooseFile").focus();
            });
            return false;
        }

        return true;
    }

</script>
