@using BussinessFacade.ModuleMemoryData
@using BussinessFacade.ModuleUsersAndRoles
@using Common.CommonData
@{
    string User_Name = "";
    if (ViewBag.User_Name != null)
    {
        User_Name = (string)ViewBag.User_Name;
    }
}
@try
{
    <style>
        /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
        .div-search-title > div {
            width: 145px;
        }
    </style>

    <div class="" style="padding:5px 38px">
        <div class="divCover divCover_popup">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Mật khẩu<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="password" id="txtPassword" maxlength="64" style="height: 30px; border: 1px solid #aaa; border-left: none;padding-left: 5px; " />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Mật khẩu nhắc lại <i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="password" id="txtRePassword" maxlength="64" style="height: 30px; border: 1px solid #aaa; border-left: none;padding-left: 5px; " />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group-bottom">
                <input type="submit" class="btn-default" value="Lưu" onclick="return doResetPass()" />
            </div>
        </div>
    </div>

    <script>

        password = '',
        rePassword = '',
        $(document).ready(function () {
        });

       
        function doResetPass() {
            if (validateFormResetPass()) {
                nvsConfirm(null, "Bạn có chắc chắn muốn reset mật khẩu người dùng này hay không?", function () {
                    $.ajax({
                        url: '/quan-tri-he-thong/quan-ly-nguoi-dung/do-reset-pass',
                        type: 'POST',
                        data: {
                            p_user_name : '@User_Name',
                            p_password: password,
                            p_re_password: rePassword
                        },
                        async: true, cache: false, traditional: true,
                        beforeSend: function () {
                            CreateRollingWaitingIcon(true);
                        },
                        success: function (data) {
                            CreateRollingWaitingIcon(false);
                            if (data.success != "0") {
                                jError("Lỗi check lại kết nối tới server");
                                return false;
                            }
                            else {
                                jAlert('Reset mật khẩu thành công!', "THÔNG BÁO", function () {
                                    ClosePopUpUser();
                                });
                            }
                        },
                        error: function (e) {
                            CreateRollingWaitingIcon(true);
                            console.log(e);
                        }
                    });
                });
            }
        }

        function validateFormResetPass() {
          
            password = $('#txtPassword').val();
            rePassword = $('#txtRePassword').val();

            if (password === "") {
                jError("Nật khẩu không được để trống!", "lỗi", function () {
                    $('#txtPassword').focus();
                });
                return false;
            }
            if (rePassword === "") {
                jError("Xác nhận mật khẩu không được để trống!", "lỗi", function () {
                    $('#txtRePassword').focus();
                });
                return false;
            }
            if (password.length < 6) {
                jError("Mật khẩu phải chứa từ 6 đến 64 ký tự!", "lỗi", function () {
                    $('#txtRePassword').focus();
                });
                return false;
            } else if (password !== rePassword) {
                jError("Mật khẩu và xác nhận mật khẩu không giống nhau!", "lỗi", function () {
                    $('#txtRePassword').focus();
                    $("#txtRePassword").select();
                });
                return false;
            }
            return true;
        }


    </script>
}
catch (Exception)
{
    // ignored
}