@using Common.CommonData
@using ObjectInfos;
@using BussinessFacade;
@using BussinessFacade.ModuleMemoryData
@{
    ViewBag.Title = "Quản lý docking";
    Layout = "~/ViewsShared/_Layout.cshtml";

    string language = WebApps.Session.SessionData.CurrentUser.Language;
    decimal _UserType = WebApps.Session.SessionData.CurrentUser.Type;

    List<AllCodeInfo> _lstDockingType = MemoryData.AllCode_GetBy_CdTypeCdName("DOCKING", "DOCKING_TYPE");
    var lstDockingType = new List<SelectListItem> { new SelectListItem { Text = "Tất cả", Value = "ALL" } }.Concat(_lstDockingType.Select(x => new SelectListItem { Text = x.Content, Value = x.CdVal }));


    List<AllCodeInfo> _lstStatus = MemoryData.AllCode_GetBy_CdTypeCdName("DOCKING", "STATUS");
    var lstStatus = new List<SelectListItem> { new SelectListItem { Text = "Tất cả", Value = "ALL" } }.Concat(_lstStatus.Select(x => new SelectListItem { Text = x.Content, Value = x.CdVal }));

    List<AllCodeInfo> _lstDocumentType = MemoryData.AllCode_GetBy_CdTypeCdName("DOCKING", "DOCUMENT_TYPE");
    var lstDocumentType = new List<SelectListItem> { new SelectListItem { Text = "Tất cả", Value = "ALL" } }.Concat(_lstDocumentType.Select(x => new SelectListItem { Text = x.Content, Value = x.CdVal }));
}

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        Monitor
        <span class="red">></span>
        <a href="/quan-ly-docking/danh-sach-docking">Quản lý docking</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <input type="hidden" value="ALL|ALL|ALL|ALL|ALL" name="txtKeyValue" id="txtKeyValue" />
            <input type="hidden" value="Docking_Id" name="txtSortColum" id="txtSortColumn" />
            <input type="hidden" value="DESC" name="txtSortType" id="txtSortType" />
            <div class="div-title-content"> THÔNG TIN DOCKING</div>
        </div>
    </div>

    <div class="divCover" id="div-search-simple">

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Mã tài liệu</div>
            </div>
            <div>
                <div>
                    <input style="width: 250px;" type="text" id="txtCaseCode" data-controlcondition="TRUE" />
                </div>
            </div>

            <div class="div-search-title">
                <div style="width: 120px">Tên tài liệu</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtDocument_Name" data-controlcondition="TRUE" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>In/Out book </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.DropDownList("cboDockingType", lstDockingType, new { @id = "cboDockingType", @style = "width: 250px;" })
                </div>
            </div>

            <div class="div-search-title">
                <div style="width: 120px">Loại tài liệu </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.DropDownList("cboDocumentType", lstDocumentType, new { @id = "cboDocumentType", @style = "width: 250px;" })
                </div>
            </div>

            <div class="div-search-title">
                <div style="width: 120px">Trạng thái </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.DropDownList("cboStatus", lstStatus, new { @id = "cboStatus" })
                </div>
            </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;">
            <input type="button" value="Tìm kiếm" class="btn-default" onclick="Search_Docking(1, 1)" />
            @if (WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Lawer || WebApps.Session.SessionData.CurrentUser.Type == (int)CommonEnums.UserType.Admin)
            {
                <input type="button" value="Thêm tài liệu" class="btn-default" onclick="getView2Insert()" />
            }
        </div>
    </div>

    <div class="divCover">
        <div id="divDataDocking" class="divDataTables" style="overflow-x: auto;">
            @Html.Partial("~/Areas/DockingManager/Views/Docking/_PartialTableDocking.cshtml")
        </div>
    </div>

    <div id="divWrapperPopUpDocking" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divPopUpDocking">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#txtCaseCode').focus();
        $("#cboStatus").keypress(function (evt) {
            var key = evt.which || evt.charCode || evt.keyCode || 0;
            if (key == 13) {
                Search_Docking(1, 1);
            }
        });
    });

    function jsPaging(page) {
        Search_Docking(page, 0);
    }

    function Search_Docking(p_NumPage, p_type) {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }

            var p_keysearch;
            if (p_type == 1) {

                var _txtCaseCode = $("#txtCaseCode").val();
                if (_txtCaseCode == "") {
                    _txtCaseCode = "ALL";
                }
                var txtDocument_Name = $("#txtDocument_Name").val();
                if (txtDocument_Name == "") {
                    txtDocument_Name = "ALL";
                }

                var _Status = $("#cboStatus").val();
                var _DockingType = $("#cboDockingType").val();
                var _DocumentType = $("#cboDocumentType").val();
                 

                p_keysearch = _txtCaseCode + "|" + txtDocument_Name + "|" + _Status + "|" + _DockingType + "|" + _DocumentType;

                //Lưu lại keysearch
                $("#txtKeyValue").val(p_keysearch);

            } else {
                p_keysearch = $("#txtKeyValue").val();
            }
            var p_column = $("#txtSortColumn").val();
            var p_type_sort = $("#txtSortType").val();

            $.ajax({
                type: 'POST',
                url: '/quan-ly-docking/danh-sach-docking/search/',
                data: {
                    p_keysearch: p_keysearch,
                    p_CurrentPage: p_NumPage,
                    p_column: p_column,
                    p_type_sort: p_type_sort
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDataDocking").html(data);
                }
            });
        }
        catch (e) {
            alert(e);
        }
    }

    function getViewDocking(_id) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/quan-ly-docking/danh-sach-docking/show-view/",
            data: {
                p_id: _id
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divPopUpDocking").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpDocking', "Thông tin tài liệu", 750, 800);
                }
                return false;
            }
        });
    }

    function getView2Insert() {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/quan-ly-docking/danh-sach-docking/show-insert/",
            dataType: "html",
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divPopUpDocking").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpDocking', "Thêm mới thông tin tài liệu", 750, 800,"txtApp_Case_Code");
                }
                return false;
            }
        });
    }

    function getView2Edit(_id) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/quan-ly-docking/danh-sach-docking/show-edit/",
            dataType: "html",
            data: {
                p_id: _id
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divPopUpDocking").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpDocking', "Sửa thông tin tài liệu", 750, 800, "txtApp_Case_Code");
                }
                return false;
            }
        });
    }

    function getView2Approve(_id) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/quan-ly-docking/danh-sach-docking/show-approve/",
            dataType: "html",
            data: {
                p_id: _id
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divPopUpDocking").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpDocking', "Duyệt thông tin tài liệu", 700, 500, "txtName");
                }
                return false;
            }
        });
    }

    function doDeleteDocking(_id) {

        nvsConfirm(null, "Bạn có chắc chắn muốn xóa tài liệu này không?", function () {
            $.ajax({
                url: "/quan-ly-docking/danh-sach-docking/do-delete-docking",
                type: "POST",
                data: {
                    p_id: _id
                },
                headers: { "cache-control": "no-cache" },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success == "-1") {
                        jError("Lỗi check lại kết nối tới server");
                        return false;
                    }
                    else {
                        jAlert('Xóa tài liệu thành công!', "THÔNG BÁO", function () {
                            Search_Docking(1,1);
                        });
                    }
                },
                error: function (e) {
                    CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        });
    }

    function getView2ChangeStatus(_id) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/quan-ly-docking/danh-sach-docking/show-change-status/",
            dataType: "html",
            data: {
                p_id: _id
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divPopUpDocking").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpDocking', "Sửa thông tin tài liệu", 750, 800, "txtApp_Case_Code");
                }
                return false;
            }
        });
    }

    function ClosePopUpDocking() {
        CloseDivPopUp('divWrapperPopUpDocking');
    }

</script>
