@using Common.CommonData
@using ObjectInfos

@model App_Class_Info
@try
{
    <div class="" style="padding:5px 38px">
        <div class="divCover divCover_popup">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Mã hàng hóa/dịch vụ<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Code, new { @id = "", maxlength = "20", onkeyup = "funikeyNoSpace(this)", onkeypress = "funikeyNoSpace(this)" , @disabled = "disabled"})
                 
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên tiếng Việt </div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Name_Vi, new { @id = "", maxlength = "500", @disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên tiếng Anh </div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Name_En, new { @id = "", maxlength = "500", @disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-bottom">
                    @*<input type="button" class="btn-default" value="Thoát" onclick="ClosePopUpObject()" style="width: auto;" />*@
                </div>
            </div>
        </div>
    </div>
}
catch (Exception)
{
    // ignored
}