@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@using WebApps.Resources;
@{
    var Lst_ImagePublic = new List<AppDocumentOthersInfo>();
    if (ViewBag.Lst_ImagePublic != null)
    {
        Lst_ImagePublic = (List<AppDocumentOthersInfo>)ViewBag.Lst_ImagePublic;
    }

    decimal _max_Model_Id = Lst_ImagePublic.Count + 1;

}
<style>
    .classDocOtherE {
        text-align: left;
        padding: 3px;
        color: blue;
    }
  
</style>

<div class="div_full_100_area" id="divContainerDocOther_Img" style="margin-top: 5px">
    <div class="divCover cls_form_title">
        <div class="cls_form_header" style="margin: 0 !important;">
            @Resource.HinhCongBo
            <button onclick="funcAddImageNew()"><i class="fa fa-plus-circle"></i></button>
        </div>
    </div>
   
    <div id="divDocumentOtherImg">
        @for (int i = 0; i < Lst_ImagePublic.Count; i++)
        {
            Lst_ImagePublic[i].Model_Id = (i + 1);
            Lst_ImagePublic[i].Is_View = 0;
            @Html.Partial("~/Areas/Patent/Views/Shared/_Partial_Image_Public_Child_Edit.cshtml", Lst_ImagePublic[i])
        }

    </div>
</div>

@* danh dau so tt sinh id  *@
<input type="hidden" id="increNo_Img" value="@_max_Model_Id" />
 
<script>

     function funcAddImageNew() {
        try {

            var _index = parseInt($("#increNo_Img").val()) + 1;
            $("#increNo_Img").val(_index);
            $.ajax({
                type: 'POST',
                url: '/lg-patent/hinh-cong-bo/them/',
                data: {
                    p_id: _index
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDocumentOtherImg").append(data);
                }
            });
        } catch (e) {
            alert(e);
        }
    }

    function funcRemoveDocumentImg(pTag) {
        try {
            var divFileUpload = document.getElementById(pTag);
            $(divFileUpload).remove();
        } catch (e) {
            console.log(e);
        }
    }
    function funcChoiseFileImgOther(pIDFile, ptxtId, ptagKey,pRemoveFile) {
        try {
            var obj = $("#" + pIDFile);
            $("#" + ptxtId).val(obj.val());

            funcPushFileImgOther(pIDFile, ptagKey, pRemoveFile);

        } catch (e) {
            console.log(e);
        }
    }

    function RemoveFileImgOther(p_AfterID,pRemoveImg,pTextMaxFile) {

        var keyFileUpload = p_AfterID;
        try {
            var keyFileUpload = p_AfterID;
            $.ajax({
                type: 'POST',
                url: '/trade-mark/delete-file-other',
                data: {
                    keyFileUpload: keyFileUpload
                },
                async: true, cache: false, traditional: true,
                success: function (data) {
                    if (data.success == 0)
                    {
                        $("#" + pRemoveImg).css('display','none');
                        $("#" + p_AfterID).val('');
                        $("#" + pTextMaxFile).val('');
                    }
                }
            });

        } catch (e) {
            console.log(e);
        }
    }

    function funcPushFileImgOther(pID, ptagKey,pdivRemoveFile) {
        try {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn
            if ($("#" + pID).prop('checked') == true) {
                Isuse = 1;
            }
            formdata.append("pInfo.keyFileUpload", ptagKey);
            var file = document.getElementsByName(pID);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
            //2
            $.ajax({
                type: 'POST',
                url: '/trade-mark/push-file-other-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                        $("#" + pdivRemoveFile).css("display", "inline-block");

                    } else {
                        jError(pushfileError, "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                }
            });
        } catch (e) {
            console.log(e);
        }
    }
 
</script>