@using Common.CommonData 
@using WebApps.ExtensionObject 
@using WebApps.Session 
@using WebApps.CommonFunction 
@{
    Layout = null;

    string _LanguageCode = AppsCommon.GetCurrentLang();
}

<!DOCTYPE html>

<html>
<head>
    @* https://css-tricks.com/probably-use-initial-scale1/ *@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="__RequestVerificationToken" content="@Html.AntiForgeryTokenValue()" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src=@($"/Scripts/jquery-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery-ui-1.10.2.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <script src=@($"/Scripts/jquery.unobtrusive-ajax.min.js?v={CommonVariables.AssemblyVersion}")></script>
    <link href="~/Content/WikiStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="hidden">
        @Html.Partial("~/ViewsShared/nvs.variables.js.cshtml")
    </div>
    <div id="site-container" class="site-container">
        <div class="site-canvas" id="site-canvas">
            <div class="content-block container-fluid">
                <div class="row clauses">
                    @RenderBody()
                </div>
             
            </div>
        </div>
    </div>
    <div class="section-bottom">
    </div>
</body>

</html>
<script>
    

    function gotoTask(el) {
        var url = $(el).attr("data-url");
        window.location.href = url;
    }
</script>
