@*<link href="~/Content/cssfooter/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/cssfooter/default.css" rel="stylesheet" />
    <link href="~/Content/cssfooter/theme.css" rel="stylesheet" />
    <link href="~/Content/cssfooter/font-awesome.css" rel="stylesheet" />*@
@*<link href="~/Content/cssfooter/default.css" rel="stylesheet" />
<link href="~/Content/cssfooter/theme.css" rel="stylesheet" />*@
<div class="Footer-container" style="overflow: visible;">
    <div class="container">
        <div class="space10"></div>
        <div class="row">
            <div class="col-md-5">
                <div class="box_DichVu-VNT1">
                    <div class="DichVu-name1"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;iPACE Consulting Co., Ltd</div>
                    <div class="DichVu-desc1">
                        <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;<a href="#" class="textlink21">Terms &amp; Conditions</a><br>
                        <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;<a href="#" class="textlink21">Privacy Policy</a><br>
                        <i class="fa fa-copyright"></i>&nbsp;&nbsp; Allrights reserved iPace<br>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box_DichVu-VNT1">
                </div>
            </div>
            <div class="col-md-5">
                <div class="box_DichVu-VNT1">
                    <div class="DichVu-name1">FOLLOW US</div>
                    <div class="DichVu-desc1">
                        <div class="space10"></div>
                        <i class="fa fa-facebook-square fa-3x"></i>&nbsp;&nbsp;
                        <i class="fa fa-google-plus-square fa-3x"></i>&nbsp;&nbsp;
                        <i class="fa fa-twitter-square fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
