@using Common.CommonData
@try
{
    <div class="" style="padding:5px 38px">
        <div class="divCover divCover_popup">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Mã hàng hóa/dịch vụ<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txtAddClassCode" maxlength="20" onkeypress="funikeyNoSpace(this)" onkeyup="funikeyNoSpace(this)" />
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên tiếng Việt<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txtClassAddNameVi" maxlength="500" />
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên tiếng Anh<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txtClassAddNameEn" maxlength="500" />
                    </div>
                </div>
            </div>

        <div class="form-group">
            <div class="form-group-bottom">
                <input type="submit" class="btn-default" value="Lưu" onclick="return doAddNewUser()" />
            </div>
        </div>
    </div>

    <script>
        var code = '',
            name_vi = '',
            name_en = '';
        //$(document).ready(function () {
        //    $.datetimepicker.setLocale('vi');
        //    $('.datetimepicker').datetimepicker({
        //        timepicker: false,
        //        format: 'd/m/Y',
        //        //formatTime: 'H:i',
        //        formatDate: 'd/m/Y',
        //        mask: '39/19/9999',
        //        validateOnBlur: false,
        //        scrollInput: false
        //    });

        //});

        function doAddNewObject() {
            if (validateFormAddNewUser()) {
                var formData = new FormData();
                collectDataToAddNewObject(formData);
                $.ajax({
                    url: 'quan-ly-thong-tin/hang-hoa-dich-vu/do-add-class',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    async: false,
                    headers: { "cache-control": "no-cache" },
                    success: function (data) {
                        if (data != null) {
                            if (onResponse(data)) {
                                ClosePopUpUser();
                                window.findUsers(1, 0);
                            }
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        }

        function validateFormAddNewUser() {
            txtAddClassCode = $('#txtAddClassCode');
            txtClassAddNameVi = $('#txtClassAddNameVi');
            txtClassAddNameEn = $('#txtClassAddNameEn');
            if (txtAddClassCode.val().trim() == "") {
                txtAddClassCode.focus().val('');
                showError('Mã hàng hóa/dịch vụ không được để trống!');
                return false;
            }

            if (txtClassAddNameVi.val().trim() == "") {
                txtClassAddNameVi.focus().val('');
                showError('Tên tiếng việt không được để trống!');
                return false;
            }

            if (txtClassAddNameEn.val().trim() == "") {
                txtClassAddNameEn.focus().val('');
                showError('Tên tiếng anh không được để trống!');
                return false;
            }


            return true;
        }

        function collectDataToAddNewObject(formData) {
            formData.append('_AppClassInfo.Code', usernameAdd);
            formData.append('_AppClassInfo.Name_Vi', fullNameAdd);
            formData.append('_AppClassInfo.Name_En', passwordAdd);
        }
    </script>
}
catch (Exception)
{
    // ignored
}