@using Common.CommonData
@using ObjectInfos

@model App_Class_Info
@try
{
    <div class="" style="padding:5px 38px">
        <div class="divCover divCover_popup">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Mã hàng hóa/dịch vụ<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Code, new { @id = "txtEditClassCode", maxlength = "20", onkeyup = "funikeyNoSpace(this)" , onkeypress = "funikeyNoSpace(this)" })
                       <input type="hidden" id="txt_id" value="@Model.Id" />
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên tiếng Việt<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Name_Vi, new { @id = "txtEditClassNameVi", maxlength = "500"})
                    </div>
                </div>
            </div>

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên tiếng Anh<i class="redspan">(*)</i></div>
                </div>
                <div class="div-search-content">
                    <div>
                        @Html.TextBoxFor(m => m.Name_En, new { @id = "txtEditClassNameEn", maxlength = "500" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group-bottom">
                    <input type="submit" class="btn-default" value="Lưu" onclick="return doEditObject()" />
                </div>
            </div>
        </div>
    </div>

    <script>

            //$(document).ready(function () {
            //    $.datetimepicker.setLocale('vi');
            //    $('.datetimepicker').datetimepicker({
            //        timepicker: false,
            //        format: 'd/m/Y',
            //        //formatTime: 'H:i',
            //        formatDate: 'd/m/Y',
            //        mask: '39/19/9999',
            //        validateOnBlur: false,
            //        scrollInput: false
            //    });

            //});

    </script>
}
catch (Exception)
{
    // ignored
}