@using Common.CommonData
@using ObjectInfos;
@model WikiCatalogues_Info
@try
{
    List<WikiCatalogues_Info> _listcata = new List<WikiCatalogues_Info>();
    if (ViewBag.ListCata != null)
    {
        _listcata = ViewBag.ListCata;
    }

    <div class="" style="padding:5px 38px">
        <div class="divCover divCover_popup">
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên danh mục</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text"  maxlength="200" value="@Model.NAME" disabled/>
                        
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Tên Tiếng Anh </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text"   maxlength="200" value="@Model.NAME_ENG" disabled/>
                    </div>
                </div>
            </div>
            <div class="div-search-ad">
                <div class="div-search-title">
                    <div>Danh mục cha</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" maxlength="200" value="@Model.PARENT_NAME" disabled />
                    </div>
                </div>
            </div>

            
        </div>
    </div>


}
catch (Exception)
{
    // ignored
}