
<div class="div_full_100_area">
    <div class="class_full_div_p class_text_center_bold">DANH MỤC VÀ PHÂN NHÓM HÀNG HOÁ, DỊCH VỤ MANG NHÃN HIỆU </div>
    <br />
    <div class="class_full_div_input">
        <div class="class_block_title"><label>Tên đầy đủ:</label> </div>
        <div class="class_block_title_control">
            <select>
                <option>class 1</option>
                <option>class 2</option>
            </select>
        </div>
    </div>
</div>
