<div class="div_full_100_area">
    <div class="class_full_div_p class_text_center_bold">PHÍ, LỆ PHÍ</div>
    <br />
    <div class="div_full_100">
        <div class="class_left_40">
            <p class="class_text_center_bold">Loại phí, lệ phí</p>

            <div class="class_full_div_input">
                <div class="class_radio_head class_height_fee">
                    <input type="checkbox" name="5" value="5" id="7_rdoLyPhiYeuCau" placeholder="7_rdoLyPhiYeuCau" />

                </div>
                <div class="class_text_end class_height_fee"> <p class="class_text_left">Lệ phí nộp đơn </p> </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head class_height_fee">
                    <input type="checkbox" name="5" value="6" id="7_rdoPhiPhanLoaiQT" placeholder="7_rdoPhiPhanLoaiQT" />

                </div>
                <div class="class_text_end class_height_fee">
                    <p class="class_text_left">Phí phân loại quốc tế về Nhãn hiệu</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head ">
                    <input type="checkbox" name="5" value="61" id="7_rdoMoiNhom6SP" placeholder="7_rdoMoiNhom6SP" />

                </div>
                <div class="class_text_end">
                    <p class="class_text_left">Mỗi nhóm có trên 6 sản phẩm/dịch vụ (từ sản phẩm/dịch vụ thứ 7 trở đi)</p>
                </div>
            </div>

            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee">
                    <input type="checkbox" name="5" value="5" id="7_rdoLePhiYCHQUT" placeholder="7_rdoLePhiYCHQUT" />
                </div>
                <div class="class_text_end  class_height_fee"> <p class="class_text_left">Lệ phí  yêu cầu hưởng quyền ưu tiên </p> </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"><input type="checkbox" name="5" value="6" id="7_rdoLyPhiCongBoDon" placeholder="7_rdoLyPhiCongBoDon" /></div>
                <div class="class_text_end  class_height_fee">
                    <p class="class_text_left">Lệ phí công bố đơn</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="61" id="7_rdoPhiTraCuuPV" placeholder="7_rdoPhiTraCuuPV" /></div>
                <div class="class_text_end  ">
                    <p class="class_text_left">
                        Phí tra cứu phục vụ thẩm định nội dung cho mỗi nhóm hàng hoá, dịch vụ
                    </p>
                </div>
            </div>


            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="5" id="7_2_rdo_MoiNhomTren6SP" placeholder="7_2_rdo_MoiNhomTren6SP" /></div>
                <div class="class_text_end"> <p class="class_text_left">Mỗi nhóm có trên 6 sản phẩm/dịch vụ (từ sản phẩm/dịch vụ thứ 7 trở đi)</p> </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"><input type="checkbox" name="5" value="6" id="7_rdoPhiThamDinhDon" placeholder="7_rdoPhiThamDinhDon" /></div>
                <div class="class_text_end  class_height_fee">
                    <p class="class_text_left">Phí thẩm định đơn</p>
                </div>
            </div>
            <div class="class_full_div_input">
                <div class="class_radio_head  class_height_fee"> <input type="checkbox" name="5" value="61" id="7_3_rdo_MoiNhomTren6SP" placeholder="7_3_rdo_MoiNhomTren6SP" /></div>
                <div class="class_text_end ">
                    <p class="class_text_left">
                        Mỗi nhóm có trên 6 sản phẩm/dịch vụ (từ sản phẩm/dịch vụ thứ 7 trở đi)
                    </p>
                </div>
            </div>
        </div>

        <div class="class_right_30 ">
            <p class="class_text_center_bold">Số đối tượng tính phí</p>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_txtLyPhiYeuCau" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_txtPhiPhanLoaiQT" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_txtMoiNhom6SP" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
            </div>

            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_txtLePhiYCHQUT" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_txtLyPhiCongBoDon" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_txtPhiTraCuuPV" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
            </div>

            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_2_txtMoiNhomTren6SP" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_txtPhiThamDinhDon" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Phi_3_txtMoiNhomTren6SP" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtLePhiCBD" />
            </div>
        </div>
        <div class="class_right_30">
            <p class="class_text_center_bold">Số tiền</p>

            <div class="class_full_div_input">
                <input type="text" placeholder="7Tien_txtLyPhiYeuCau" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Tieni_txtPhiPhanLoaiQT" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Tien_txtMoiNhom6SP" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
            </div>

            <div class="class_full_div_input">
                <input type="text" placeholder="7Tien_txtLePhiYCHQUT" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Tien_txtLyPhiCongBoDon" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Tien_txtPhiTraCuuPV" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Tien_2_txtMoiNhomTren6SP" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiYCSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Tien_txtPhiThamDinhDon" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBSD" />
            </div>
            <div class="class_full_div_input">
                <input type="text" placeholder="7Tien_3_txtMoiNhomTren6SP" maxlength="12" onkeypress="return isNumberKey(event);" onblur=" return SumFee();" onkeyup="jsFormatNumber(this.value, this.id)" id="5_txtTienLePhiCBD" />
            </div>
        </div>
    </div>
</div>
