@using BussinessFacade.ModuleMemoryData
@model int
@if (Model == 1)
{
@* Chu DDow *@
    <script>

        //$('#cboKhachHangCu').multipleSelect({
        //    filter: true,
        //    noMatchesFound: "Không tìm thấy dữ liệu",
        //    single: true,
        //    isdatastring: false,
        //    placeholder: 'Tìm kiếm khách hàng'
        //});


        function funcGetCustomerReuse() {
            try {

                var displayVal = $('#cboKhachHangCu').val();
                var arrVal = displayVal.split('|');
                if (arrVal.length === 5) {
                    $("#1_txtTenDayDu").val(arrVal[0]);
                    $("#1_txtDiaChi").val(arrVal[1]);
                    $("#1_txtDienThoai").val(arrVal[2]);
                    $("#1_txtFax").val(arrVal[3]);
                    $("#1_txtEmail").val(arrVal[4]);
                }
            } catch (e) {

            }
        }

    </script>

    <div class="div-search-title">
        <div>Chủ đơn đã đk:</div>
    </div>
    <div class="div-search-content">
        <div>
            <select id="cboKhachHangCu" onchange="return funcGetCustomerReuse();">
                <option value="ALL">-- Khách hàng -- </option>
                @foreach (var item in MemoryData.lstCacheCustomer)
                {
                    string displayVal = item.Master_Name + "|" + item.Master_Address + "|" + item.Master_Phone + "|" + item.Master_Fax + "|" + item.Rep_Master_Email;
                    string displayName = item.Master_Name + " Phone: " + item.Master_Phone + " Fax: " + item.Master_Fax + " Email: " + item.Rep_Master_Email;
                    <option value="@displayVal">@displayName</option>
                }
            </select>
        </div>
    </div>
}