 

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio" style="width:400px">
            <input type="radio" name="2_DaiDienChuDon" value="DDPL" placeholder="2_rdoNguoiDaiDienPL" id="2_rdoNguoiDaiDienPL" />
            <label>Là người đại diện theo pháp luật của chủ đơn</label>
        </div>
    </div>
  
</div>

<div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            <input type="radio" name="2_DaiDienChuDon" value="DVDL" placeholder="2_rdoToChucDichVuDL" id="2_rdoToChucDichVuDL" />
            <label>Là tổ chức dịch vụ đại diện sở hữu công nghiệp được uỷ quyền của chủ đơn </label>
        </div>
    </div>
</div>
 
 <div class="div-search-ad">
    <div class="div-search-content">
        <div class="div-radio">
            <input type="radio" name="2_DaiDienChuDon" value="NDUQ" placeholder="2_rdoNguoiDuocUyQuyen" id="2_rdoNguoiDuocUyQuyen" />
            <label>Là người khác được uỷ quyền của chủ đơn </label>
        </div>
    </div>
</div>



<div class="div-search-ad">
    <div class="div-search-title">
        <div>Tên đầy đủ:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="2_txtTenDayDu" maxlength="50" id="2_txtTenDayDu" />
        </div>
    </div>

    <div class="div-search-title">
        <div>Địa chỉ:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="2_txtDiaChi" maxlength="200" id="2_txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div>Điện thoại:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="2_txtDienThoai" maxlength="50" id="2_txtDienThoai" />
        </div>
    </div>

    <div class="div-search-title">
        <div>Fax:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="2_txtFax" id="2_txtFax" />
        </div>
    </div>

    <div class="div-search-title">
        <div>Email</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="2_txtEmail" maxlength="50" id="2_txtEmail" />
        </div>
    </div>
</div>


 