 
 



<div class="div-search-ad">
    <div class="div-search-title">
        <div> Tên đầy đủ:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="1_txtTenDayDu" maxlength="50" id="1_txtTenDayDu" />
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div> Địa chỉ: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="1_txtDiaChi" maxlength="200" id="1_txtDiaChi" />
        </div>
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Điện thoại: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="1_txtDienThoai" maxlength="50" id="1_txtDienThoai" />
        </div>
    </div>

    <div class="div-search-title">
        <div> Fax: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="1_txtFax" maxlength="50" id="1_txtFax" />
        </div>
    </div>
    <div class="div-search-title">
        <div>Email:  </div>
    </div>
    <div class="div-search-content">
        <div>
            <input type="text" placeholder="1_txtEmail" maxlength="50" id="1_txtEmail" />
        </div>
    </div>
</div>


 
 
   