 

<div class="class_full_div_input">
    <div class="class_radio_head"> <input type="radio" name="2_DaiDienChuDon" value="DDPL" placeholder="2_rdoNguoiDaiDienPL" id="2_rdoNguoiDaiDienPL" /></div>
    <div class="class_text_end">
        <p class="class_text_left">là người đại diện theo pháp luật của chủ đơn</p>
    </div>
</div>

<div class="class_full_div_input">
    <div class="class_radio_head"><input type="radio" name="2_DaiDienChuDon" value="DVDL" placeholder="2_rdoToChucDichVuDL" id="2_rdoToChucDichVuDL" /> </div>
    <div class="class_text_end">
        <p class="class_text_left">là tổ chức dịch vụ đại diện sở hữu công nghiệp được uỷ quyền của chủ đơn</p>
    </div>
</div>

<div class="class_full_div_input">
    <div class="class_radio_head"><input type="radio" name="2_DaiDienChuDon" value="NDUQ" placeholder="2_rdoNguoiDuocUyQuyen" id="2_rdoNguoiDuocUyQuyen" /></div>
    <div class="class_text_end class_padding_buton">
        <p class="class_text_left">là người khác được uỷ quyền của chủ đơn</p>
    </div>
</div>
<div class="class_full_div_input">
    <div class="class_block_title"> <label>Tên đầy đủ:</label></div>
    <div class="class_block_title_control">
        <input type="text" placeholder="2_txtTenDayDu" maxlength="50" id="2_txtTenDayDu" />
    </div>
</div>

<div class="class_full_div_input">
    <div class="class_block_title"> <label>Địa chỉ:</label> </div>
    <div class="class_block_title_control">
        <input type="text" placeholder="2_txtDiaChi" maxlength="200" id="2_txtDiaChi" />
    </div>
</div>

<div class="class_full_div_input">
    <div class="class_flex_30_first">
        <div class="class_block_title" style="width:80px">
            <label>Điện thoại:</label>
        </div>
        <div class="class_block_phone" style="flex-grow:1">
            <input type="text" placeholder="2_txtDienThoai" maxlength="50" id="2_txtDienThoai" />
        </div>
    </div>

    <div class="class_flex_30">
        <div class="class_block_title"><label>Fax:</label> </div>
        <div class="class_block_fax" style="flex-grow:1">
            <input type="text" placeholder="2_txtFax" id="2_txtFax" />
        </div>
    </div>

    <div class="class_flex_40" style="padding-left:5px">
        <div class="class_block_title"> <label>Email:</label></div>
        <div class="class_block_email" style="flex-grow:1">
            <input type="text" placeholder="2_txtEmail" maxlength="50" id="2_txtEmail" />
        </div>
    </div>
</div>