 <div class="class_full_div_input">
     <div class="class_block_title"> <label>1. </label></div>  
    <div class="class_block_title_control ">    
        <select id="4_cboNational01">
            <option value="">
                VN - Việt Nam
            </option>
        </select>
    </div>
</div>

<div class="class_full_div_input">
    <div class="class_block_title"> <label>2. </label></div>  
    <div class="class_block_title_control ">     
        <select id="4_cboNational01">
            <option value="">
                VN - Việt Nam
            </option>
        </select>
    </div>
</div>


<div class="class_full_div_input">
    <div class="class_block_title"> <label>3. </label></div>  
    <div class="class_block_title_control "> 
        <select id="4_cboNational01">
            <option value="">
                VN - Việt Nam
            </option>
        </select>
    </div>
</div>


<div class="class_full_div_input">
    <div class="class_block_title"> <label>4. </label></div>  
    <div class="class_block_title_control ">

        <select id="4_cboNational01">
            <option value="">
                VN - Việt Nam
            </option>
        </select>
    </div>
</div>


<div class="class_full_div_input">
    <div class="class_block_title"> <label>5. </label></div>
    <div class="class_block_title_control ">

        <select id="4_cboNational01">
            <option value="">
                VN - Việt Nam
            </option>
        </select>
    </div>
</div>


<div class="class_full_div_input">
    <div class="class_block_title"> <label>6. </label></div>
    <div class="class_block_title_control ">

        <select id="4_cboNational01">
            <option value="">
                VN - Việt Nam
            </option>
        </select>
    </div>
</div>


<div class="class_full_div_input">
    <div class="class_block_title"> <label>7. </label></div>
    <div class="class_block_title_control ">

        <select id="4_cboNational01">
            <option value="">
                VN - Việt Nam
            </option>
        </select>
    </div>
</div>



<div class="class_full_div_input">
    <div class="class_block_title"> <label>8. </label></div>
    <div class="class_block_title_control ">

        <select id="4_cboNational01">
            <option value="">
                VN - Việt Nam
            </option>
        </select>
    </div>
</div>
