@model string
@using ObjectInfos;
@{
    string txtCase_Name = Model + "_txtCase_Name";
    string txtClient_Reference = Model + "_txtClient_Reference";


    var objAppHeaderInfo = new ApplicationHeaderInfo();
    if (ViewBag.objAppHeaderInfo != null)
    {
        objAppHeaderInfo = (ApplicationHeaderInfo)ViewBag.objAppHeaderInfo;
    }

    string _disable = "disabled";
}

<div class="divCover cls_form_title">
    <img src="~/Content/icons/category.png" />
    <div class="cls_form_header">
        QUẢN LÝ VỤ VIỆC
    </div>
</div>

<div class="div-search-ad">
    <div class="div-search-title">
        <div> Case name:</div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@objAppHeaderInfo.Case_Name" type="text" placeholder="Case name" maxlength="200" id="@txtCase_Name" @_disable />
        </div>
    </div>
</div>


<div class="div-search-ad">
    <div class="div-search-title">
        <div> Client Reference: </div>
    </div>
    <div class="div-search-content">
        <div>
            <input value="@objAppHeaderInfo.Client_Reference" type="text" placeholder="Client Reference" maxlength="200" id="@txtClient_Reference" @_disable />
        </div>
    </div>
</div>

<script>

</script>





