@{ 
    string title = "";
    if (Model != null)
    {
        title = Model;
    }
}
<div class="divCover cls_form_title">
    <img src="/Content/icons/category.png">
    <div class="cls_form_header">@title</div>
    <a href="javascript:;" st="" class="icon icon-info" data-placement="right" style="border:none"
       data-title="@WebApps.Resources.Resource.TooltipThongTinDongChuDon"></a>
</div>