@font-face {
    font-family: 'IconNVS';
    src: url("/Content/IconNVS/IconNVS.eot");
    src: url("/Content/IconNVS/IconNVS.eot?#iefix") format("embedded-opentype"), url("/Content/IconNVS/IconNVS.ttf") format("truetype"), url("/Content/IconNVS/IconNVS.svg#nvs") format("svg");
}

.icon {
    outline: none;
    display: inline-block;
    font-style: normal;
    position: relative;
    vertical-align: middle;
    text-decoration: none;
}

.icon:before {
    font-family: IconNVS;
    cursor: pointer;
    margin: 0 2px;
    font-size: 18px;
    font-style: normal;
    color: #3c8cbd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon:hover {
    position: relative;
}

.icon-hidden {
    width: 22px;
}

@media only screen and (min-width : 961px) {
    .icon:hover, .icon:hover:before {
        color: #ce3b00;
    }

    .icon[data-title]:hover:after {
        content: attr(data-title);
        padding: 4px 8px;
        color: #333;
        position: absolute;
        right: 100%;
        top: 100%;
        margin-top: 10px;
        white-space: nowrap;
        -moz-box-shadow: 0 0 4px #ce3b00;
        -webkit-box-shadow: 0 0 4px #ce3b00;
        box-shadow: 0 0 4px #ce3b00;
        border: 1px solid #ce3b00;
        background-color: #fff;
        font-size: 13px;
        z-index: 10;
    }
}

/* CUSTOM */

.icon-up-circle-ru:before {
    content: "\e006";
    display: inline-block;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.icon-shopping-cart-added:before {
    content: "\e00f";
    color: #f00 !important;
}

.icon-down-circle:before {
    content: "\e006";
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* END CUSTOM */

.icon-delete:before {
    content: "\e000";
}

.icon-edit:before {
    content: "\e001";
}

.icon-confirm-circle:before {
    content: "\e002";
}

.icon-info-circle:before {
    content: "\e003";
}

.icon-minus-circle:before {
    content: "\e004";
}

.icon-plus-circle:before {
    content: "\e005";
}

.icon-up-circle:before {
    content: "\e006";
}

.icon-cancel-circle:before {
    content: "\e007";
}

.icon-question-circle:before {
    content: "\e008";
}

.icon-info:before {
    content: "\e009";
    font-size: 12px;
}

.icon-adding-users:before {
    content: "\e00a";
}

.icon-lock:before {
    content: "\e00b";
}

.icon-shopping-cart:before {
    content: "\e00c";
}

.icon-text-checked:before {
    content: "\e00d";
    font-weight: 500;
}

.icon-text-circle:before {
    content: "\e00e";
}

.icon-shopping-cart-add:before {
    content: "\e00f";
}

.icon-banknote:before {
    content: "\e010";
}

.icon-cube-shadow:before {
    content: "\e011";
}

.icon-stack-papers:before {
    content: "\e012";
}

.icon-file-text-o:before {
    content: "\e013";
}

.icon-printer:before {
    content: "\e014";
}

.icon-house-add:before {
    content: "\e015";
}

.icon-play:before {
    content: "\e016";
}

.icon-group-setting:before {
    content: "\e017";
}

.icon-approval-icare:before {
    content: "\e018";
}

.icon-barcode:before {
    content: "\e019";
}

.icon-export-file:before {
    content: "\e01a";
}

.icon-out-file:before {
    content: "\e01b";
}

.icon-queen:before {
    content: "\e212";
}
.icon-queen:before {
    content: "\e213";
}

.icon-reset:before {
    content: "\e213";
}

