@using BussinessFacade.ModuleTrademark
@using WebApps.CommonFunction
@{
    ViewBag.Title = "Quản lý danh sách phí";
    Layout = "~/ViewsShared/_Layout.cshtml";
    string language = AppsCommon.GetCurrentLang();
    var DanhSachDon = SysApplicationBL.GetSysAppByLanguage(language);
}


<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        Quản lý phí
        <span class="red">></span>
        <a href="/QuanLyPhi/danh-sach-phi">Danh sách phí</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <input type="hidden" value="ALL|ALL|ALL" name="txtKeyValue" id="txtKeyValue" />
            <input type="hidden" value="ID" name="txtSortColum" id="txtSortColumn" />
            <input type="hidden" value="DESC" name="txtSortType" id="txtSortType" />
            <div class="div-title-content"> THÔNG TIN PHÍ</div>
        </div>
    </div>
    <div class="divCover" id="div-search-simple">
        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Mã đơn</div>
            </div>
            <div class="div-search-content">
                <select id="cboMauDon" style="width:500px">
                    <option value="ALL">-- Tất cả --</option>
                    @foreach (var item in DanhSachDon)
                    {
                        <option value="@item.Appcode">@item.Appname</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="divCover">
        <div class="div-search-btn" style="width:600px;">
            <input type="button" value="Tìm kiếm" class="btn-default" onclick="functionSearchDSPhi();" />
        </div>
    </div>
    <div class="divCover">
        <div id="divDataDDSHCN" class="divDataTables" style="overflow-x: auto;">
            @Html.Partial("~/Areas/QuanLyPhi/Views/QLPhi/_PartialTableDanhSachPhi.cshtml")
        </div>
    </div>
    <div id="divWrapperPopUpDDSHCN" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divPopUpDDSHCN">
        </div>
    </div>
</div>

<script>

    function functionSearchDSPhi() {
        
        if (CheckSessionTimeOut() == false) {
            return false;
        }
        var _appcode = $("#cboMauDon").val();
        $.ajax({
            type: "POST",
            url: "/quan-ly-phi/danh-sach-phi/search",
            dataType: "html",
            data: {
                 pAppCode: _appcode
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divDataDDSHCN").html(data);
                }
                return false;
            }
        });
    }

    $(document).ready(function () {
        $("#txtMaDon").focus();
    });
    function funcGetView2Edit(_id, _appcode) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/quan-ly-phi/danh-sach-phi/show-update",
            dataType: "html",
            data: {
                pID: _id, pAppCode: _appcode
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#divPopUpDDSHCN").html(data);
                    ShowPopupDialog_Ipace('divWrapperPopUpDDSHCN', "Sửa thông tin phí", 700, 500, "txtMaDon");
                }
                return false;
            }
        });
    }

    function ClosePopUpDDSHCN() {
        CloseDivPopUp('divWrapperPopUpDDSHCN');
    }


    function funcUpdateFeeFix() {
        var formData = new FormData();
        var amount = $("#txtAmountEdit").val().replace(/,/g, "");
        if (isNaN(amount)) {
            jError("Lệ phí nhập vào phải là kiểu số!", "Thông báo", function () {
                $("#txtAmountEdit").focus();
            });
            return false;
        }

        getDataUpDDSHCNEdit(formData);
        $.ajax({
            url: '/quan-ly-phi/danh-sach-phi/execute-update',
            type: 'POST',
            data: formData, dataType: "html",
            async: true, traditional: true, contentType: false, processData: false,
            headers: { "cache-control": "no-cache" },
            beforeSend: function () {
                CreateRollingWaitingIcon(true);
            },
            success: function (data) {
                CreateRollingWaitingIcon(false);
                if (data.success == "-1") {
                    jError("Lỗi check lại kết nối tới server");
                    return false;
                }
                else {
                    jAlert('Sửa dữ liệu phí thành công!', "THÔNG BÁO", function () {
                        ClosePopUpDDSHCN();
                        functionSearchDSPhi();
                    });
                }
            },
            error: function (e) {
                CreateRollingWaitingIcon(false);
                console.log(e);
            }
        });

    }


    function getDataUpDDSHCNEdit(formData) {
        formData.append('pInfo.Id', $("#txtID").val());
        formData.append('pInfo.AppCode', $("#txtAppCode").val());
        formData.append('pInfo.Amount', $("#txtAmountEdit").val().replace(/,/g, ""));
        formData.append('pInfo.Char01', $("#txtChar01Edit").val().trim());
        formData.append('pInfo.Description', $("#txtDescriptionEdit").val().trim());
    }
</script>