
@media(min-width: 991px) {


    .width_input_contact {
        width: 50%;
        float: left;
    }

    .div_name_contact {
        padding-right: 15px;
    }

    .div_mail_contact {
        padding-left: 15px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {

    .col_left {
        width: 100%;
    }

    .width_input_contact {
        width: 100%;
    }
}

.container_contact {
    width: 100%;
}

.col_left {
}

.tt_contact {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Calibri;
}

.tt_header {
    text-transform: uppercase;
    color: #03823d;
    font-weight: bold;
    padding: 5px 0;
}

.title_contact {
    font-weight: 500;
    font-size: 24px;
    color: #00b584;
    font-family: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    color: #6595D0;


}

.script_contact {
    text-align: justify;
    font-size: 14px;
    font-family: robotoregular;
    color: rgb(85, 85, 85);
    line-height: 1.6;
    margin-top: 10px;
}

.input_contact {
    width: 100%;
}

.content_contact {
    margin-top: 10px;
}

.area_contact {
    height: 150px;
    width: 100%;
    border: 1px solid #afafaf;
    padding-left: 10px;
    font-size: 14px;
}

.div_contact {
    margin-top: 20px;
}

.title_input_contact {
    padding: 5px 0;
    font-size: 15px;
    font-weight: bold;
    color: #635b5b;
}

.input_contact {
    height: 35px;
    padding-left: 10px;
    border: 1px solid #afafaf;
    font-size: 14px;
}

.btn_contact {
}

.btn_contact {
    background-color: #6497d1;
    color: #fff;
    border: none;
    height: 35px !important;
    max-width: 140px;
    cursor: pointer;
    text-align: center;
    float: right;
}

.div_contact span {
    font-weight: bold;
    color: red;
}
