/*-----2017.07.06 Hungtd------*/
body {
    font-family: arial;
}
.hide-scroll {
    overflow: hidden;
}

input:read-only, area:read-only {
    background-color: #ddd;
}

input[type="checkbox"] {
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
}

a {
    text-decoration: none;
    color: #000000;
}

    a:visited {
        color: #000000;
    }

    a:hover {
        color: #357ebd;
    }

.wrapper {
    min-height: 768px;
    position: relative;
}

.classTitle {
    width: 100%;
    font-size: 12pt;
    font-weight: bold;
    color: #333;
    height: 22px;
    padding: 11px 0px 0px 0px;
    padding-bottom: 12px;
}


.div-title-content {
    width: 60%;
    float: left;
}

.d-search-option {
    float: right;
    text-align: left;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.d-search-option-img {
    float: left;
    margin: 0px 4px 0px 0px;
}

.d-search-option-img-option {
    float: right;
    margin: -4px 0px 0px 0px;
}

    .d-search-option-img-option:hover {
        cursor: pointer;
    }

.classLine {
    background-image: url(../../Content/icons/line.png);
    height: 5px;
}

.clssDisplaynone {
    display: none;
}

.clssDisplayBlock {
    display: block;
}

.img_hiden {
    display: none;
}

.clsshidden {
    visibility: hidden;
}

.clssvisble {
    visibility: visible;
}

/*---------------css body---------------*/
.wrapper-content {
    width: 1200px;
    margin: 0 auto;
    min-width: 1200px;
}

.div_border {
    background-color: #fff;
    width: 100%;
    min-height: 15px;
    float: left;
}

.content {
    margin: 0 auto;
    display: inline-block;
    min-height: 200px;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5px;
}

.d-main {
    float: left;
    width: 100%;
    background-color: #ffffff;
}

.DivTabMenu {
    height: 39px;
    line-height: 39px;
    padding: 0;
    text-align: left;
    background-color: #EAEAEA;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    /* Firefox 1-3.6 */
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-top: 14px;
    border: 1px solid #EAEAEA;
}

._TabDivContent {
    width: 100%;
}

.DivTabMenu ul {
    width: 100%;
    height: 38px;
    padding: 0;
    margin: 0;
    display: inline-block;
    border-bottom: 3px solid #0b9800;
}

    .DivTabMenu ul li {
        cursor: pointer;
        display: inline;
        float: left;
        list-style: none;
        text-align: left;
        white-space: normal;
        height: 38px;
        line-height: 35px;
        /*margin-left: 10px;*/
        text-transform: uppercase;
        padding: 0 40px 0px 10px;
        font-weight: bold;
        color: #39801E;
    }



        .DivTabMenu ul li a {
            color: #292929 !important;
            /*font-family: MyriadPro-BoldCond;*/
        }

.DivTabMenu .mnslelected {
    border-bottom: 3px solid red;
}

.divCover {
}

.divCover_popup {
    padding: 20px 20px 0px 20px;
}

.divSearchContent,
.divSearchMenuLeft {
    height: auto;
    padding: 4px 0px 15px 0px;
    background-color: #E2E2E2;
    display: inline-block;
    border: 1px solid #B7BBBC;
    width: 100%;
}



#ul_horizontal,
.ul_horizontal,
ul.vertical {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #ul_horizontal li,
    .ul_horizontal li {
        text-align: left;
        float: left;
        list-style: none;
        margin-top: 10px;
    }


input[type=text],
select,
select option {
    padding-left: 4px;
    padding-top: 1px;
}

input[type=text],
select {
    border: 1px solid #aaa;
}

input[type=text],
input[type=submit],
input[type=button],
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 24px;
}

    select,
    select option {
        line-height: 24px;
        height: 24px;
    }

.clsBtnDefault {
    padding: 3px 15px 0;
    text-transform: uppercase;
    background-color: #1a8200;
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.divDataTables {
    overflow-y: hidden;
    width: 100%;
    border: 1px solid #cecece;
    border-top: none;
}

.divmousewheel {
    overflow: hidden;
    border-bottom: none;
    border-top: none;
    margin: 0 auto;
    /*max-width: 1000px;*/
}



.clsTable,
.clsTable-freeze {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}

.clsTable {
    background-color: transparent;
}

    .clsTable > thead {
        background-color: #00961D;
    }

        /*.clsTable > tbody > tr > td,
        .clsTable > thead > tr > th {
            padding: 6px 8px;
            border: 1px solid #e2e2e2;
            line-height: 1.2286;
        }*/

        .clsTable > tbody > tr > td,
        .clsTable > thead > tr > th {
            padding: 8px 8px 8px 8px;
            border: 1px solid #e2e2e2;
            line-height: 19px;
        }

        .clsTable > thead > tr > th {
            text-align: center;
            padding: 14px 8px;
        }

    .clsTable > tbody > tr:nth-child(2n) {
        background-color: #E2E2E2 !important;
    }

    .clsTable > tbody > tr > td > a {
        color: #292929;
    }

        .clsTable > tbody > tr > td > a:hover {
            text-decoration: underline;
            color: #157000;
        }

        .clsTable > tbody > tr > td > a:visited {
            color: #292929;
        }

.clsTable-stripe > tbody > tr:nth-of-type(2n+2) {
    background-color: #fbfbfb;
}

/*.clsTable-border > thead > tr > th {
    border-bottom: 2px solid #cecece;
    border-top: 1px solid #e2e2e2;
    border-left: none;
}*/
.clsTable-border > thead > tr > th {
    border-bottom: none;
    border-top: none;
    border-left: none;
    color: #fff;
}

.clsTable-border > tbody > tr > td {
    border: 1px solid #EAEAEA;
    border-left: none;
    transition: .5s;
}

    .clsTable-border > tbody > tr > td:last-of-type,
    .clsTable-border > thead > tr > th:last-of-type {
        border-right: none;
    }

.clsTable-hover > tbody > tr {
    transition: .3s;
}

    .clsTable-hover > tbody > tr:hover {
        background-color: #F5F5F5;
    }

        .clsTable-hover > tbody > tr:hover > td {
            background-color: transparent;
        }

.clsTable-border2 {
    border: 1px solid #D5D5D5;
    border-left: none;
    border-right: none;
}

    .clsTable-border2 > thead {
        background-color: #F6F5F4;
    }

        .clsTable-border2 > thead > tr > th {
            border: 1px solid #D5D5D5;
        }

    .clsTable-border2 > tbody > tr > td {
        border: 1px solid #D5D5D5;
        transition: .5s;
    }

        .clsTable-border2 > tbody > tr > td:first-child,
        .clsTable-border2 > thead > tr > th:first-child {
            border-left: none;
        }

        .clsTable-border2 > tbody > tr > td:last-child,
        .clsTable-border2 > thead > tr > th:last-child {
            border-right: none;
        }

.clsTable-freeze {
    background-color: transparent;
}

    .clsTable-freeze > tbody > tr > td {
        transition: .5s;
        vert-align: middle;
    }


.tdLeftAlign {
    text-align: left !important;
}

.tdRightAlign {
    text-align: right !important;
}

.tdCenterAlign {
    text-align: center !important;
}

.tdJustifyAlign {
    text-align: justify !important;
}



.d-tablefooter {
    background-color: #E7E7E7;
    height: 40px;
    display: inline-block;
    width: 100%;
    border: 1px solid #E7E7E7;
    margin-bottom: 14px;
}

    .d-tablefooter > div {
        color: black;
        display: inline-block;
        margin: 10px 0px 0px 10px;
    }

.classFooter {
    width: 100%;
    background-color: #ECECEC;
    padding: 15px 0px;
    height: 55px;
}


.classFooter-conent {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.d-footer-content {
    float: left;
    margin-top: 5px;
}

huygo {
    margin-left: 5px;
}

.cover4divborder {
    padding: 0px 16px 0px 14px;
}




/* Phân trang */
.end_gird {
    display: block;
    float: left;
    width: 100%;
    bottom: 6px;
    position: absolute;
}

._ClassPage {
    width: 100%;
    float: right;
    text-align: right;
    /*margin-top:5px;*/
}

/*Style thằng phân trang*/
#d_total_rec {
    display: inline-block !important;
    line-height: 22px;
    width: 96%;
    text-align: right;
    margin: 0px 10px 0 0;
    float: right;
    font-family: 'Segoe UI', Arial;
    font-size: 12px;
    margin: 5px 10px 0px 5px;
}

#d_number_of_page {
    display: inline-block !important;
    padding: 10px 0px 5px 0 !important;
    border-top: 1px solid #ccc;
}

#d_number_of_page {
    text-align: right;
    margin: 0px 10px 0 0;
}

.a-active {
    background-color: #ccc !important;
    color: #333 !important;
}

.d_member_page {
    padding: 5px !important;
    margin: 5px;
}

#d_number_of_page span {
    background: #FFF;
    border: 1px solid #b9b9b9 !important;
    cursor: pointer !important;
    padding: 4px 8px !important;
}

    #d_number_of_page span:hover {
        background: #e6e6e6;
        animation-delay: 2s;
    }


#d_number_of_page li {
    background: none !important;
    border-color: gray;
    border-spacing: 2px;
    color: #333333 !important;
    display: inline-block !important;
    font-weight: bold !important;
    margin: 0 0px 0 3px !important;
    height: auto !important;
    padding: 0 !important;
}


#d_page {
    float: right;
    width: 100%;
    padding-bottom: 8px;
}


.paging {
    display: block;
    float: right;
    text-align: right;
    margin-top: 2px;
}

    .paging ul {
        margin-bottom: 0px;
    }

        .paging ul li {
            list-style: none;
            display: inline-block;
            padding: 5px 12px;
            text-align: center;
            background: #fff;
            /*border: 1px solid #ccc;*/
            border-radius: 4px;
            margin-left: 4px;
            font-size: 12px;
            font-weight: normal;
            color: #357ebd;
            text-shadow: 0 0 0 transparent, 0px 1px 0px #fff;
            text-decoration: none;
        }

.pagin-active {
    background: #5bc0de !important;
    color: #fff !important;
    cursor: default !important;
    border: 1px solid #46b8da !important;
}

.paging ul li:hover {
    background: #5bc0de;
    color: #fff;
    cursor: pointer;
    /*border: 1px solid #46b8da !important;*/
}

    .paging ul li:hover a {
        color: #357ebd;
    }

.paging ul li a {
    text-shadow: 0 0 0 transparent, 0px 1px 0px #fff;
    display: block;
}

.controlFullWidth {
    width: 100% !important;
}

.d-nav {
    width: 100%;
    height: 25px;
    margin-top: 12px;
}

/*style color*/

.red {
    color: red;
}

/*style cho search advanced*/

.div-search-ad {
    width: 100%;
    margin-top: 5px;
}

    .div-search-ad:first-of-type {
        margin-top: 0px;
    }

    .div-search-ad:last-child {
        margin-bottom: 10px;
    }

    .div-search-ad div {
        float: left;
    }

.div-search-title {
    min-width: 80px;
    float: left;
    border: 1px solid #aaa;
    height: 28px;
    margin-left: 5px;
}

    .div-search-title:first-child {
        margin-left: 0px;
    }

    .div-search-title > div {
        margin: 5px 5px 0px 7px;
    }



.div-search-ad > div:last-child {
    width: 100%;
}

    .div-search-ad > div:last-child input[type="text"], .div-search-ad > div:last-child select,
    .div-search-ad > div:last-child a, .div-search-ad > div:last-child textarea, .div-search-ad > div:last-child input[type="number"] 
 {
        width: 100%;
    }
 


.div-search-ad input[type=text]:read-only, select:disabled, input[type=text]:disabled {
    border: 1px solid #aaa;
    background: #e4e0d8;
}

.div-search-ad input[type="text"], .div-search-ad select, .div-search-ad input[type="number"], .div-search-ad a, .div-search-ad textarea  {
    margin-left: 0px;
    height: 30px;
    border-left: none;
}

.borderleft4control {
    border-left: solid 1px #aaa !important;
}


.div-search-ad a {
    padding: 8px 0px 0px 5px;
    height: 27px;
    border: 1px solid #aaa;
    border-left: none;
    text-decoration: underline;
    color: #02961E;
}

.div-search-ad > div:last-child > div {
    display: flex;
    float: none !important;
}


.div-search-ad > div textarea {
    height: 31px;
}

.div-search-ad .div-search-content:last-child {
    float: none !important;
}

.div-search-content .ms-choice {
    height: 30px !important;
    border-left: none !important;
}

    .div-search-content .ms-choice > span {
        top: 1px !important;
        font-size: 14px;
    }

    .div-search-content .ms-choice > div {
        top: 6px !important;
    }

.div-search-content .ms-ul {
    width: 100%;
}

.div-search-content .div-multil-select, div-search-content .div-multil-select select {
    min-width: 250px;
}

.div-search-content > div > textarea {
   font-family:Arial ;
}

.div-multil-select .ms-ul {
    width: 100%;
}

.div-checkbox {
    height: 28px;
    border: 1px solid #aaa;
}


    .div-checkbox > input[type="checkbox"] {
        margin-top: 8px;
        margin-left: 5px;
    }

    .div-checkbox > label {
        margin-top: 5px;
        margin-left: 5px;
    }

.div-radio {
    height: 28px;
    border: 1px solid #aaa;
}

    .div-radio > input[type="radio"] {
        margin-top: 7px;
        margin-left: 5px;
    }

    .div-radio > label {
        margin-top: 5px;
        margin-left: 5px;
    }

.i-search-ad {
}

.div-search-btn {
    width: 250px;
    float: right;
    text-align: right;
    height: 44px;
}


.btn-default {
    background-color: #0055A8;
    color: #fff;
    border: 1px solid #0b1bde;
    height: 35px !important;
    min-width: 100px;
    cursor: pointer;
}

    .btn-default:hover {
        box-shadow: 3px 3px 5px 0px #ADADAD;
    }

.div-search-btn input[type="button"]:focus {
    box-shadow: 3px 3px 5px 0px #ADADAD;
}

/* hết style cho search advanced*/


/*Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltip_price {
        visibility: hidden;
        min-width: 300px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        top: -15px;
        left: 110%;
        text-align: justify;
    }

        .tooltip .tooltip_price::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }


/*Extend*/
.class30 {
    width: 30px;
}

.class50 {
    width: 50px;
}

.class80 {
    width: 80px;
}

.class100 {
    width: 100px;
}

.class150 {
    width: 150px;
}

.class200 {
    width: 200px;
}

.class250 {
    width: 250px;
}

.class300 {
    width: 300px;
}

/*Form eos biet comment ntn*/
.cls_form_title {
    height: 31px;
    margin-top: 10px;
}

    .cls_form_title > img {
        float: left;
    }

.cls_form_image_header_img {
    float: left;
    margin-top: 2px;
}

.cls_form_header {
    float: left;
    margin: 6px 0px 0px 7px;
    font-weight: bold;
}


/*View thông tin popup*/
.clsTableForView {
    /*border-collapse: collapse;*/
    width: 100%;
}

    .clsTableForView td:last-child {
        width: 100%;
        padding-left: 30px;
    }

    .clsTableForView td {
        padding: 2.9px 10px;
        white-space: nowrap;
    }

    .clsTableForView tr:nth-child(odd) {
        background-color: #F3F3F3;
    }

.form-group {
    /*margin-bottom: 20px;*/
    /*margin-top: 10px;*/
    text-align: center;
}

.form-group-bottom {
    width: 100%;
    /*border-top: 1px solid #7b68ee;*/
    /*margin-top: 10px;*/
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.d-popup-footer {
    margin-top: 5px;
    /*border-top: 1px solid #a8a8a8;*/
    padding: 0px 20px 20px 5px;
    text-align: right;
    background-color: white;
}

    .d-popup-footer .btn {
        margin-left: 5px;
    }

/*form control*/
.form-control {
    background-color: #fff;
    background-image: none;
    border: 0.5px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    padding: 5px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    line-height: 1.42857143;
}

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

.form-control-success:focus {
    border-color: #66e96e !important;
}

.ui-datepicker-trigger {
    margin-top: 10px;
}

.redspan {
    color: red;
    font-style: italic;
}

.bluespan {
    color: blue;
    font-style: italic;
}

.textbold{
    font-weight:bold;
}

/*HASHTAG*/
nvshashtag
{
    color:aqua;
}
 

/*======================================end style phần cảnh báo================================================*/
.Homebox{
    width:100%;
}

.LegaldivBoxTable
{
    width:100%;
    display:inline-block;
}