
@using ObjectInfos
@{
    Layout = "~/ViewsShared/_Layout_TimeOut.cshtml";
}
@{
    ViewBag.Title = "Đặt lại mật khẩu";

    UserInfo user = new UserInfo();
    if (ViewBag.User != null)
    {
        user = ViewBag.User;
    }

    decimal exp_link = 0;
    if (ViewBag.Minutes != null)
    {
        exp_link = ViewBag.Minutes;
    }
}
<style>
    .form_right, .form_left {
        float: left;
        width: 50%;
    }

    .display-none {
        display:none;
    }

    .form_right {
        height: 100%;
        background-repeat: no-repeat;
    }

    .form_left {
        height: 100%;
    }

    .d-main {
        height: 445px;
    }

    .input_login {
        border: 1px solid #808080;
        border-radius: 3px;
    }

    .reset_pass:hover {
        color: green;
    }

    .d-main {
        position: absolute;
    }

    .content_main {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 850px;
        top: 100px;
    }



    .btn_go_login {
        background: #2CA832;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid #aaa;
        -webkit-text-fill-color: #000;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
    }
</style>
<div class="d-main">
    <div class="content_main" style="height: 100%">
        <form id="_FormLogin" style="height: 100%">
            <div class="form_left">
                <div class="divCover divCover_popup" style=" padding:0px 30px; position: relative; height: 100%">
                    <div style="color:#505050;">
                        <img style="margin-top:20px;width: 100px;" src="~/Content/News/images/logo_ipace.png" />
                    </div>

                    @if (exp_link == -1)
                    {
                        <div style="padding-top: 50px; color:#505050; font-size: 25px; line-height: 35px;">
                            <p class="color_red">Link đổi mật khẩu đã hết hạn.</p>
                            <p class="color_red">Thời gian tối đa là 5 phút</p>
                        </div>
                    }
                    else
                    {
                        <div style="padding-top: 10px; color:#505050;">
                            <b>
                                Đặt lại mật khẩu
                            </b>
                        </div>
                        <div class="div-search-col" id="">
                            <div class="div-search-title-N" style="padding-bottom: 6px;padding-top: 20px;">
                              
                            </div>
                            <div class="div-search-ad">
                                <div class="div-search-content">
                                    <div>

                                        <label style="font-size: 20px;color: #2ca832;font-weight: bold;">Người dùng: @user.Username</label>
                                        <input value="@user.Username" id="user_name" class="display-none" />
                                        <input value="@user.Id" id="user_id" class="display-none" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="div-search-col" id="">
                            <div class="div-search-title-N" style="padding-bottom: 6px;padding-top: 20px;">
                                <span style="color: forestgreen">Mật khẩu mới <i class="redspan">(*)</i></span>
                            </div>
                            <div class="div-search-ad">
                                <div class="div-search-content">
                                    <div>
                                        <input name="txtPassword" class="input_login" style="height:34px;width:100%; padding-left:5px;" type="password" id="txt_pass" placeholder="Mật khẩu">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="div-search-col" id="">
                            <div class="div-search-title-N" style="padding-bottom: 6px;padding-top: 20px;">
                                <span style="color: forestgreen">Xác nhận mật khẩu mới <i class="redspan">(*)</i></span>
                            </div>
                            <div class="div-search-ad">
                                <div class="div-search-content">
                                    <div>
                                        <input name="txtPassword" class="input_login" style="height:34px;width:100%; padding-left:5px;" type="password" id="txt_pass_confirm" placeholder="Mật khẩu">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" class="btn-default btn_go_login" value="Đổi mật khẩu" style="padding: 0px 25px; margin-top:15px; border-radius: 20px;" onclick="GotoResetPass();" />
                    }
                </div>
            </div>
            <div class="form_right">
                <img src="~/Content/images/banner/shipment ver 2-46.png" />
            </div>
        </form>
    </div>
</div>


<script>
    function GotoResetPass() {
        try {
          
            var user_id = $("#user_id").val();
            var pass_confirm = $("#txt_pass_confirm").val();
            var pass = $("#txt_pass").val();

            if (pass_confirm == "" || pass_confirm == null) {
                jError("Mật khẩu không được để trống", "Lỗi", function () {
                    $("#txt_pass").focus();
                });
                return false;
            }

            if (pass_confirm != pass) {
                jError("Mật khẩu và Mật khẩu xác nhận không giống nhau, vui lòng kiểm tra lại", "Lỗi", function () {
                    $("#txt_pass_confirm").focus();
                });
                return false;
            }
          
            e = window.event || e;
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/quen-mat-khau/update-pass/',
                data: {
                    user_id: user_id,
                    user_name: $("#user_name").val(),
                    pass: pass
                },
              
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    if (data.success = "0") {
                        jAlert("Thay đổi mật khẩu thành công", "Thông báo", function () {
                            window.location = "/";
                        });
                    } 
                    else {
                        jError('Kết nối không thành công!', "lỗi");
                    }
                }
            });
        } catch (ex) {
            console.log(ex);
        }
    }
</script>