@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<NewsInfo> _list_data = new List<NewsInfo>();
    if (ViewBag.Obj != null)
    {
        _list_data = ViewBag.Obj;
    }

}

<style>
    /*==============================================================*/
  
</style>
<div>

    @if (_list_data.Count > 0)
    {
        foreach (var item in _list_data)
        {
            <div class="NewsParent BoxNewsImage">
                <div class="NewsHeader">
                    @DateTime.Now.ToString("dd/MM")
                </div>
                <div class="NewsContent">
                    <a target="_blank" href="/quan-ly-tin/news-detail/@item.Id/7">@item.Title</a>  
                </div>
            </div>


        }
    }

</div>

@*<div class="_ClassPage">
    <ul>
        @Html.Raw(ViewBag.Paging)
    </ul>
</div>*@
<script>
    $(function () {
    //    BulletinChangeIConSortWhenSortColumns();
    });
</script>