@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<WikiDoc_Info> _list_data = new List<WikiDoc_Info>();
    if (ViewBag.Obj != null)
    {
        _list_data = ViewBag.Obj;
    }

}

<style>
    /*==============================================================*/
</style>
<div>
    @if (_list_data.Count > 0)
    {
        foreach (var item in _list_data)
        {
            <div class="NewsParent BoxNewsImage">
                <div class="NewsHeader">
                    @item.MODIFIED_DATE.ToString("dd/MM")
                </div>
                <div class="NewsContent">
                    <a target="_blank" href="/wiki-view/doc-view/0/@item.ID">@item.TITLE</a>  
                </div>
            </div>
        }
    }

</div>
<script>
    $(function () {
    });
</script>