<style>
    .legalRemind_div {
        text-align: left;
        min-height: 50px;
        padding: 5px 0px 1px 5px;
        margin-top: 5px;
    }

    #legalOrder_table td {
        cursor: pointer;
        padding: 5px 10px;
    }

    .divNumberRecordOnPage {
        display: none;
    }
</style>

<div class="divCover legalRemind_div legalbackgroup_div">
    <div id="d_remind_sum" class="box_title" style="float:left;width:100%; background-color: #efefef;"> <label style="padding-left:10px"> REMIND </label>   </div>
    <div>
        <input type="hidden" id="colSortedRemid" />
        <input type="hidden" id="SortTypeRemind" />
    </div>

    <div class="Homebox">
        <div id="LegalReminddivTable" class="LegaldivBoxTable">
            @Html.Partial("/Areas/Home/Views/Shared/_RemindData.cshtml")
        </div>
    </div>

    <script>

        function RemindfindObjects(_pageNumber, _isSearching) {
            try {
                var _RemindsearchContent = "";
                var _RecordonPage = 5;
                if (_isSearching === 1) {
                    _Keysearch = "";
                } else {
                    _RemindsearchContent = "";
                }

                var orderby = $("#colSortedRemid").val();
                var orderType = $("#SortTypeRemind").val();
                $.ajax({
                    type: "POST",
                    headers: { "cache-control": "no-cache" },
                    url: "/search-remind",
                    data: {
                        keysSearch: _RemindsearchContent,
                        _sortype: (orderby + " " + orderType),
                        _reconpage: _RecordonPage,
                        p_CurrentPage: _pageNumber
                    },
                    async: true,
                    success: function (data) {
                        if (data != null) {
                            $("#LegalReminddivTable").html(data.RemindData);
                            $("#d_remind_sum").html("<label style='padding-left: 10px'>REMIND - " + data.Total + "</label>");
                        }
                    }
                });
                return true;
            } catch (e) {
                alert(e.toString());
                return false;
            }
        }

        function RemindjsPaging(_page) {
            try {
                RemindfindObjects(_page, 0);
            } catch (e) {
                alert(e.toString());
            }
        }


        function RemindSortByCol(value) {
            try {
                //Lay gia tri luu trong colSort luu duoi dang text Hidden
                var _currentColSorted = $("#colSortedRemid").val();
                //Lay gia tri luu trong SortType luu duoi dang text Hidden
                var _currentSortedType = $("#SortTypeRemind").val();
                var tag = "#" + value;
                if (_currentColSorted == value) {
                    if (_currentSortedType == "ASC") {
                        $("#SortTypeRemind").val("DESC");
                    }
                    else {
                        $("#SortTypeRemind").val("ASC");
                    }
                }
                else {
                    $("#colSortedRemid").val(value);
                    $("#SortTypeRemind").val("ASC");
                }
                var pos = document.getElementById("tableListRemind").parentElement.scrollLeft;
                //Sort lai thi ve trang dau
                RemindfindObjects(1, 0);
                //Sort lai thi ve trang dau
                document.getElementById("tableListRemind").parentElement.scrollLeft = pos;
            } catch (e) {
                console.info(e.toString());
            }
        }

        function RemindChangeIConSortWhenSortColumns() {
            try {
                var _order_by = $("#colSortedRemid").val();
                var _order_type = $("#SortTypeRemind").val();
                var _text = _order_type == 'DESC' ? $("#" + _order_by).text() + " ▼" : $("#" + _order_by).text() + " ▲";
                $("#" + _order_by).text(_text);
            }
            catch (e) {
            }
        }

    </script>
</div>
