<style>
    .legalOrder_div {
        text-align: left;
        min-height: 50px;
        padding: 5px 0px 1px 5px;
        margin-top: 5px;
    }

    #legalOrder_table td {
        cursor: pointer;
        padding: 5px 10px;
    }

    .divNumberRecordOnPage {
        display: none;
    }
</style>

<div class="divCover legalOrder_div legalbackgroup_div">
    <div id="d_order_sum" class="box_title" style="float:left; width:100%; background-color: #efefef;"><label style="padding-left:10px"> YÊU CẦU </label>    </div>
    <div>
        <input type="hidden" id="colSortedOrder" />
        <input type="hidden" id="SortTypeOrder" />
    </div>

    <div class="Homebox">
        <div id="LegalOrderdivTable" class="LegaldivBoxTable">
            @Html.Partial("/Areas/Home/Views/Shared/_OrderData.cshtml")
        </div>
    </div>

    <script>
        var _OrderKeysearch = "";
        var _OrderarrKeySearch;

        function OrderfindObjects(_pageNumber, _isSearching) {
            try {
                var _OrdersearchContent = "";
                var _RecordonPage = 5;
                if (_isSearching === 1) {
                    _Keysearch = "";
                } else {
                    _OrdersearchContent = "";
                }

                var orderby = $("#colSortedOrder").val();
                var orderType = $("#SortTypeOrder").val();
                $.ajax({
                    type: "POST",
                    headers: { "cache-control": "no-cache" },
                    url: "/search-orders",
                    data: {
                        keysSearch: _OrdersearchContent,
                        _sortype: (orderby + " " + orderType),
                        _reconpage: _RecordonPage,
                        p_CurrentPage: _pageNumber
                    },
                    async: true,
                    success: function (data) {
                        if (data != null) {
                            $("#LegalOrderdivTable").html(data.TodoData);
                            $("#d_order_sum").html("<label style='padding-left: 10px'>YÊU CẦU - " + data.TodoNotify.Total + "</label>");
                        }
                    }
                });
                return true;
            } catch (e) {
                alert(e.toString());
                return false;
            }
        }

        function OrderjsPaging(_page) {
            try {
                OrderfindObjects(_page, 0);
            } catch (e) {
                alert(e.toString());
            }
        }


        function OrderSortByCol(value) {
            try {
                //Lay gia tri luu trong colSort luu duoi dang text Hidden
                var _currentColSorted = $("#colSortedOrder").val();
                //Lay gia tri luu trong SortType luu duoi dang text Hidden
                var _currentSortedType = $("#SortTypeOrder").val();
                var tag = "#" + value;
                if (_currentColSorted == value) {
                    if (_currentSortedType == "ASC") {
                        $("#SortTypeOrder").val("DESC");
                    }
                    else {
                        $("#SortTypeOrder").val("ASC");
                    }
                }
                else {
                    $("#colSortedOrder").val(value);
                    $("#SortTypeOrder").val("ASC");
                }
                var pos = document.getElementById("tableListOrder").parentElement.scrollLeft;
                //Sort lai thi ve trang dau
                OrderfindObjects(1, 0);
                //Sort lai thi ve trang dau
                document.getElementById("tableListOrder").parentElement.scrollLeft = pos;
            } catch (e) {
                console.info(e.toString());
            }
        }

        function OrderChangeIConSortWhenSortColumns() {
            try {
                var _order_by = $("#colSortedOrder").val();
                var _order_type = $("#SortTypeOrder").val();
                var _text = _order_type == 'DESC' ? $("#" + _order_by).text() + " ▼" : $("#" + _order_by).text() + " ▲";
                $("#" + _order_by).text(_text);
            }
            catch (e) {
            }
        }

    </script>
</div>
