 @using ObjectInfos
@model List<WikiCatalogues_Info>
@using System.Collections;
@{
    <select id="CboAddWikiCataChild">
        @foreach (var item in Model)
        {
            <option  value="@item.ID">
                @item.NAME
            </option>
        }
    </select>

    <script>
        $('#CboAddWikiCataChild').multipleSelect({
          filter: true,
          noMatchesFound: "Không tìm thấy dữ liệu",
          single: true,
          isdatastring: false,
          placeholder: 'Tìm kiếm chủ đề'
      });
    </script>
}


