@using ObjectInfo
@model GroupUserInfo
@try
{
	<div class="popup-opacity-wrapper"></div>
	<div class="d-popup" style="overflow: visible">
		<div class="d-popup-content grid">
			<div>
				<label>Tên nhóm <i class="redspan">(*)</i></label>
				<input type="text" id="txtGroupNameEdit" maxlength="250" value="@Model.Name" />
			</div>
		</div>
		<div class="d-popup-footer">
			<input type="submit" class="btn" value="Lưu" onclick="return doEditGroupUser()" />
		</div>
	</div>

	<script>
		var groupNameEdit;

		function doEditGroupUser() {
			if (validateFormEditGroupUser()) {
				var formData = new FormData();
				collectDataToEditGroupUser(formData);
				$.ajax({
					url: '/quan-tri-he-thong/quan-ly-nhom-quyen/do-edit-group',
					type: 'POST',
					data: formData,
					processData: false,
					contentType: false,
					traditional: true,
					async: false,
					headers: { "cache-control": "no-cache" },
					success: function (data) {
						if (data != null) {
							if (onResponse(data)) {
								if (data["EditGroupResult"]["isEditGroupSuccess"]) {
									showSuccess(data["EditGroupResult"]["message"]);
									ClosePopupDialog('dpop-groupuser', true);
									window.findGroupUsers(1, 0);
								} else {
									showError(data["EditGroupResult"]["message"]);
								}
							}
						}
					},
					error: function (e) {
						console.log(e);
					}
				});
			}
		}

		function validateFormEditGroupUser() {
			groupNameEdit = $('#txtGroupNameEdit').val().trim();
			if (groupNameEdit === "") {
				$('#txtGroupNameEdit').focus().val('');
				showError('Tên nhóm không được để trống!');
				return false;
			}

			return true;
		}

		function collectDataToEditGroupUser(formData) {
			formData.append('groupInfo.Name', groupNameEdit);
		}
	</script>
}
catch (Exception)
{
	// ignored
}