@using ObjectInfos
@model List<AppDetail04NHInfo>
@{
    List<AppDetail04NHInfo> _Listdetail = new List<AppDetail04NHInfo>();
    _Listdetail = Model;
    if(_Listdetail == null && ViewBag.ListAppDetail04NHInfo != null)
    {
        _Listdetail = ViewBag.ListAppDetail04NHInfo;
    }
}

    <select id="cbo_04nh_data">
        @foreach (var item in _Listdetail)
        {
            <option  value="@item.Id">
                @item.Appno
            </option>
        }
    </select>
    <script>
        $('#cbo_04nh_data').multipleSelect({
          filter: true,
          noMatchesFound: "Không tìm thấy dữ liệu",
          single: true,
          isdatastring: false,
          placeholder: 'Tìm kiếm dữ liệu hàng hóa'
      });
    </script>

