@using BussinessFacade.ModuleMemoryData
@using BussinessFacade.ModuleUsersAndRoles
@using Common.CommonData
@using ObjectInfos;
@{
    ViewBag.Title = "Quản lý chủ đề";
    Layout = "~/ViewsShared/_Layout.cshtml";
    List<WikiCatalogues_Info> _listcata = new List<WikiCatalogues_Info>();
    if (ViewBag.ListCata != null)
    {
        _listcata = ViewBag.ListCata;
    }
}
@try
{
    <style>
        /*độ rộng tên cột title từng trang là khác nhau nên khai báo ở trang đó luôn*/
        .div-search-title > div {
            width: 150px;
        }
    </style>

    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" /> I
            WIKI
            <span class="red">></span>
            <a href="/wiki-manage/wiki-doc/catalogue">Quản lý chủ đề</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main">
        <div class="divCover">
            <div class="classTitle">
                <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
                <input type="hidden" value="DESC" id="SortType" />
                <input type="hidden" value="" id="OptionSorting" />
                <div class="div-title-content"> THÔNG TIN CHỦ ĐỀ </div>
            </div>
        </div>

     

        <div class="divCover" id="div-search-simple">

            <div class="div-search-ad">
                <div class="div-search-title">
                    <div style="width: 120px">Tên chủ đề</div>
                </div>
                <div>
                    <div>
                        <input style="width: 250px;" type="text" id="txt_listname" data-controlcondition="TRUE" />
                    </div>
                </div>
               
                <div class="div-search-title">
                    <div style="width: 120px">Chủ đề cha</div>
                </div>
                <div class="div-search-content">
                    <div>
                        <select id="CboListWikiCataParent">
                            <option value="ALL">
                                Chọn chủ đề
                            </option>
                            @foreach (WikiCatalogues_Info item in _listcata)
                            {
                                if (item.CATA_LEVEL == 0)
                                {
                                    <option value="@item.ID">
                                        @item.NAME
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="divCover">
            <div class="div-search-btn" style="width:450px;">
                <input type="button" value="Tìm kiếm" class="btn-default" onclick="findObjects(1, 1)" />
                <input type="button" value="Thêm chủ đề" class="btn-default" style="width: 155px;" onclick="getViewToAddNewObject()" />
            </div>
        </div>
        <div class="divCover">
            <div id="divTableObjects">

                @Html.Partial("_PartialCatalogueData")
            </div>
        </div>
 
        <div id="divWrapperPopUpObject" class="divWrapperPopup" style="display: none;">
            <div class="divPopup" id="divPopUpObject">
            </div>
        </div>

    </div>

    <script>
        var _currentKeySearch = '/Areas/Wiki/Views/Catalogue/CatalogueList.cshtml_keysearch';
        var _currentOptionFilter =  '/Areas/Wiki/Views/Catalogue/CatalogueList.cshtml_finter';
        var _name = '', _parent_id = '';

        $(document).ready(function () {
            initAllSearchingData(_currentKeySearch, _currentOptionFilter, initOrderBySearching, setKeySearch, findObjects);
            $('txt_listname').focus();
            $('[data-controlcondition="TRUE"]').on('keypress',
				function (e) {
				    enterKeyPress(e, 'btnfindObjects');
				});
        });

        function findObjects(_pageNumber, _isSearching) {
            try {

                reinitSearchingConditions(_currentKeySearch, _currentOptionFilter, _pageNumber, _isSearching);
                if (isSearching === 1) {
                    _name = $("#txt_listname").val().trim();
                    _parent_id = $("#CboListWikiCataParent").val().trim();
                } else {
                    window.arrKeySearch = window.keySearch.split('|');
                    _name = arrKeySearch[0];
                    _parent_id = arrKeySearch[1];
                    $("#txt_listname").val(_name)
                    $("#CboListWikiCataParent option[value=" + _parent_id + "]").attr("selected", "selected");
                }

                updateSearchingConditions("divNumberRecordOnPageListObjects", setKeySearch);

                $.ajax({
                    type: "POST",
                    headers: { "cache-control": "no-cache" },
                    url: "/wiki-manage/wiki-doc/find-catalogue",
                    data: {
                        keysSearch: keySearch,
                        options: optionFilter
                    },
                    async: false,
                    success: function (data) {
                        if (data != null) {
                            onResponseWhenSearching(data, "divTableObjects", findObjects);
                        }
                    }
                });
                return true;
            } catch (e) {
                alert(e.toString());
                return false;
            }


        }

        function setKeySearch() {
            window.keySearch = _name + "|" + _parent_id;
        }

        function initOrderBySearching() {
            window.colSort = 'MODIFIED_DATE';
            window.sortType = 'DESC';
        }

        function pageListOfObjects(_pagenum) {
            try {
                findObjects(_pagenum, 0);

            } catch (e) {
                console.log(e.message);
            }
        }
    </script>

    @* task function *@
    <script>

        function getViewToAddNewObject() {
            try {
                $.ajax({
                    type: "POST",
                    url: "/wiki-manage/wiki-doc/add-new-catalogue",
                    headers: { "cache-control": "no-cache" },
                    async: false,
                    success: function (data) {
                        if (data != null) {
                            if (validateResponse(data)) {
                                $("#divPopUpObject").html(data);
                                ShowPopupDialog_Ipace('divWrapperPopUpObject', "Thêm mới chủ đề", 900, 500, "txtAddName");
                            }
                        }
                        return false;
                    }
                });
            } catch (e) {
                alert(e.toString());
            }
           
        }

        function getViewToEditObject(p_id, p_display_value) {
            try {
                $.ajax({
                    type: "POST",
                    url: "/wiki-manage/wiki-doc/view-edit",
                    headers: { "cache-control": "no-cache" },
                    data: { p_id: p_id },
                    async: false,
                    success: function (data) {
                        if (data != null) {
                            if (validateResponse(data)) {
                                $("#divPopUpObject").html(data);
                                ShowPopupDialog_Ipace('divWrapperPopUpObject', "Sửa chủ đề tin: <span class='data-in-title-popup'>" + p_display_value + "</span>", 900, 500, "txtFullNameEdit");
                            }
                        }
                        return false;
                    }
                });
            } catch (e) {
                alert(e.toString());
            }
           
        }

        function doDeleteObject(p_id) {
            try { 
               
                    nvsConfirm(null, "Bạn có chắc chắn muốn xóa chủ đề này không?", function () {
                        $.ajax({
                            url: "/wiki-manage/wiki-doc/do-delete-catalogue",
                            type: "POST",
                            data: { p_id: p_id },
                            headers: { "cache-control": "no-cache" },
                            async: false,
                            success: function (data) {
                                if (data.result >= 0) {
                                    showSuccess("Xóa dữ liệu thành công!");
                                    window.findObjects(1, 0);
                                }
                                else if(data.result  == -2)
                                {
                                    showError("Chủ đề đã có bài viết hoặc có chủ đề con, không thể xóa!");
                                    window.findObjects(1, 0);
                                }
                                else
                                {
                                    showError("Có lỗi xảy ra trong quá trình cập nhật dữ liệu!");
                                }
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    });
            } catch (e) {
                alert(e.toString());
            }
        }

        function viewDetailObject(p_id, p_display_value) {
            try {
                $.ajax({
                    type: "POST",
                    url: "/wiki-manage/wiki-doc/view-detail-catalogue",
                    headers: { "cache-control": "no-cache" },
                    async: false,
                    data: { p_id: p_id },
                    success: function (data) {
                        if (data != null) {
                            if (validateResponse(data)) {
                                $("#divPopUpObject").html(data);
                                ShowPopupDialog_Ipace('divWrapperPopUpObject', "Chi tiết chủ đề: <span class='data-in-title-popup'>" + p_display_value + "</span>", 900, 500);
                            }
                        }
                        return false;
                    }
                });
            } catch (e) {
                alert(e.toString());
            }
            
        }

        function ClosePopUpObject() {
            CloseDivPopUp('divWrapperPopUpObject');
        }


        function doAddNewObject() {
            try {
                var txtAddName = $('#txtAddName');
                var txtAddNameEng = $('#txtAddNameEng');
                var CboAddWikiCataParent = $('#CboAddWikiCataParent');
                if (txtAddName.val().trim() == "") {
                    txtAddName.focus().val('');
                        showError('Tên chủ đề không được để trống!');
                        return false;
                    }

                if (txtAddNameEng.val().trim() == "") {
                    txtAddNameEng.focus().val('');
                        showError('Tên Tiếng Anh không được để trống!');
                        return false;
                    }

                   
                    var formData = new FormData();
                    formData.append('_ObjectInfo.NAME', txtAddName.val());
                    formData.append('_ObjectInfo.NAME_ENG', txtAddNameEng.val());
                    formData.append('_ObjectInfo.PARENT_ID', CboAddWikiCataParent.val());
                    if (CboAddWikiCataParent.val() != "0") {
                        formData.append('_ObjectInfo.CATA_LEVEL', "1");
                    }
                    else {
                        formData.append('_ObjectInfo.CATA_LEVEL', "0");
                    }
                    $.ajax({
                        url: '/wiki-manage/wiki-doc/do-add-catalogue',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        traditional: true,
                        async: false,
                        headers: { "cache-control": "no-cache" },
                        success: function (data) {
                            CreateRollingWaitingIcon(false);
                            if (data.result >= 0) {
                                showSuccess("Thêm mới dữ liệu thành công!");
                                    ClosePopUpObject();
                                    window.findObjects(1, 0);
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
            } catch (e) {
                alert(e.toString());
            }
        }

        function doEditObject() {
            try {
                var txtid = $('#txtID');
                var txtAddName = $('#txtEditName');
                var txtAddNameEng = $('#txtEditNameEng');
                var CboAddWikiCataParent = $('#CboEditWikiCataParent');
                var txtCHILD_NUM = $('#txtCHILD_NUM');
                if (txtAddName.val().trim() == "") {
                    txtAddName.focus().val('');
                    showError('Tên chủ đề không được để trống!');
                    return false;
                }
                if (txtAddNameEng.val().trim() == "") {
                    txtAddNameEng.focus().val('');
                    showError('Tên Tiếng Anh không được để trống!');
                    return false;
                }
                if (CboAddWikiCataParent.val() != "0" && txtCHILD_NUM.val() / 1 > 0)
                {
                    CboAddWikiCataParent.focus();
                    showError('Chủ đề hiện tại đã được thêm làm chủ đề cha!');
                    return false;
                }


                var formData = new FormData();
                formData.append('_ObjectInfo.ID', txtid.val());
                formData.append('_ObjectInfo.NAME', txtAddName.val());
                formData.append('_ObjectInfo.NAME_ENG', txtAddNameEng.val());
                formData.append('_ObjectInfo.PARENT_ID', CboAddWikiCataParent.val());
                if (CboAddWikiCataParent.val() != "0") {
                    formData.append('_ObjectInfo.CATA_LEVEL', "1");
                }
                else {
                    formData.append('_ObjectInfo.CATA_LEVEL', "0");
                }
                $.ajax({
                    url: '/wiki-manage/wiki-doc/do-edit-catalogue',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    traditional: true,
                    async: false,
                    headers: { "cache-control": "no-cache" },
                    success: function (data) {
                        CreateRollingWaitingIcon(false);
                        if (data.result >= 0) {
                            showSuccess("Cập nhật dữ liệu thành công!");
                            ClosePopUpObject();
                            window.findObjects(1, 0);
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            } catch (e) {
                alert(e.toString());
            }
        }

  
 

    </script>
}
catch (Exception)
{
    // ignored
}