@using ObjectInfos.ModuleTrademark
@using ObjectInfos
@using System.Linq;
@{
    
}

<div class="div_full_100_area" id="divTreeContainerDocOther">
    @*@Html.Partial("~/Areas/TradeMark/Views/Shared/_PartialTitle.cshtml", "Bộ hình ảnh")*@
    <div class="divCover cls_form_title">
        <div class="cls_form_header" style="margin: 0 !important;">
            Bộ hình ảnh
            <button title="Thêm phương án" onclick="funcTreeAddDocumentNew(1)"><i class="fa fa-plus-circle"></i></button>
        </div>
    </div>

    <div id="TreedivDocumentOther">
        <div id="@("divChild1")" meta-data="1">
            @Html.Partial("~/Areas/IndustrialDesign/Views/Shared/_PartialTreeDocument_Child_0.cshtml", "1")
            @Html.Partial("~/Areas/IndustrialDesign/Views/Shared/_PartialTreeDocument_Child_2.cshtml", "2")
        </div>
    </div>

    <input type="hidden" id="TreeincreNo" value="2" />
</div>

<script>

    function funcTreeAddDocumentNew(_level) {
        try {

            var _index = parseInt($("#TreeincreNo").val()) + 1;
            $("#TreeincreNo").val(_index);
            $.ajax({
                type: 'POST',
                url: '/indus-design/hinh-cong-bo/them-cung-cap-0/',
                data: {
                    p_id: _index
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#TreedivDocumentOther").append(data);
                }
            });
        } catch (e) {
            alert(e)
        }
    }

    function funcTreeAddSubDocumentNew(_id) {
        try {
            var _index = parseInt($("#TreeincreNo").val()) + 1;
            $("#TreeincreNo").val(_index);
            $.ajax({
                type: 'POST',
                url: '/indus-design/hinh-cong-bo/them-cung-cap-2/',
                data: {
                    p_id: _index,
                    p_refId: _id
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divChild" + _id).append(data);
                }
            });
        } catch (e) {
            alert(e)
        }
    }

    function funcTreeRemoveDocument(pTag, level) {
        try {
            var divFileUpload = document.getElementById(pTag);
            $(divFileUpload).remove();

        } catch (e) {
            console.log(e.message);
        }
    }

    function funcTreeChoiseFileDocOther(pIDFile, ptxtId, ptagKey, pRemoveFile, prefid) {
        try {
            var obj = $("#" + pIDFile);
            $("#" + ptxtId).val(obj.val());

            funcTreePushFileDocumentOther(pIDFile, ptagKey, pRemoveFile, prefid);

        } catch (e) {
            console.log(e.message);
        }
    }


    function funcTreePushFileDocumentOther(pID, ptagKey, pdivRemoveFile, prefid) {
        try {
            var formdata = new FormData();
            var Isuse = 0, Note = "";
            //Các tài liệu có trong đơn

            Isuse = 1;

            formdata.append("pInfo.keyFileUpload", ptagKey);
            formdata.append("pInfo.CHAR05", "2");//
            formdata.append("pInfo.refId", prefid);//

            var file = document.getElementsByName(pID);
            if (file != undefined) {
                formdata.append("pInfo.pfiles", file[0].files[0]);
            }
            //2
            $.ajax({
                type: 'POST',
                url: '/indus-design/push-file-other-to-server',
                data: formdata,
                enctype: 'multipart/form-data',
                processData: false, contentType: false, dataType: 'Json',
                success: function (data) {
                    if (data.success == 0) {
                        $("#" + pdivRemoveFile).css("display", "inline-block");

                    } else {
                        jError(pushfileError, "@Html.Raw(WebApps.Resources.Resource.ThongBao)", function () {
                        });
                    }
                }
            });
        } catch (e) {
            console.log(e.message);
        }
    }
</script>

