@using Common.CommonData
@using ObjectInfos;
@{
    ViewBag.Title = "Quản lý đơn đã gửi";
    Layout = "~/ViewsShared/_Layout.cshtml";

    //string language = WebApps.CommonFunction.AppsCommon.GetCurrentLang();
    string language = WebApps.Session.SessionData.CurrentUser.Language;
    List<SysApplicationInfo> _lst = BussinessFacade.ModuleTrademark.SysApplicationBL.GetSysAppByLanguage(language);
    var lstApp = new List<SelectListItem> { new SelectListItem { Text = "Tất cả", Value = "ALL" } }.Concat(_lst.Select(x => new SelectListItem { Text = x.Appname, Value = x.Appcode }));

}

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> I
        Trademark
        <span class="red">></span>
        <a href="/trade-mark-mana/quan-ly-don-da-gui">Quản lý đơn đã gửi</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <div class="classTitle">
            <input type="hidden" value="ALL|ALL|ALL" name="txtKeyValue" id="txtKeyValue" />
            <input type="hidden" value="ID" name="txtSortColum" id="txtSortColumn" />
            <input type="hidden" value="DESC" name="txtSortType" id="txtSortType" />
            <div class="div-title-content"> THÔNG TIN ĐƠN ĐÃ GỬI</div>
        </div>
    </div>

    <div class="divCover" id="div-search-simple">

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Chủ đơn</div>
            </div>
            <div>
                <div>
                    <input style="width: 250px;" type="text" id="txt_Name" />
                </div>
            </div>

            <div class="div-search-title">
                <div>Loại đơn </div>
            </div>
            <div class="div-search-content">
                <div>
                    @Html.DropDownList("cboAppCode", lstApp, new { @id = "cboAppCode" })
                </div>
            </div>

            @*<div class="div-search-title">
                    <div>Ngành nghề KD </div>
                </div>
                <div class="div-search-content">
                    <div>
                        <input type="text" id="txtBusField" />
                    </div>
                </div>*@
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:600px;">
            <input type="button" value="Tìm kiếm" class="btn-default" onclick="Search_Application(1, 1)" />
            @*<input type="button" value="Kết xuất" class="btn-default" onclick="Export_Application(1)" />*@
            @*<input id="btnAdd" type="button" class="btn-default" onclick="ShowRegisterIssuer()" value="Thêm mới" style="width:auto" />*@
        </div>
    </div>

    <div class="divCover">
        <div id="divDataApplications" class="divDataTables" style="overflow-x: auto;">
            @Html.Partial("~/Areas/TradeMark/Views/Application/_PartialTableApplication.cshtml")
        </div>
    </div>

    <div class="d-popup-container" id="dpop-PhanLoai"></div>

    @*<div id="divWrapperPhanLoai" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divPhanLoaiDon">
        </div>
    </div>*@
</div>

<script>
    $(document).ready(function () {
        $('#txt_Name').focus();
        $("#txt_Name").keypress(function (evt) {
            var key = evt.which || evt.charCode || evt.keyCode || 0;
            if (key == 13) {
                Search_Application(1, 1);
            }
        });
    });

    function jsPaging(page) {
        Search_Application(page, 0);
    }

    function Search_Application(p_NumPage, p_type) {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }
            var p_keysearch;
            if (p_type == 1) {
                var _name = $("#txt_Name").val().trim();
                if (_name == "") {
                    _name = "ALL";
                }
                var _AppCode = $("#cboAppCode").val();

                p_keysearch = _AppCode + "|" + '@((int)CommonEnums.App_Status.DaGui_ChoPhanLoai)' + "|" + _name;

                //Lưu lại keysearch
                $("#txtKeyValue").val(p_keysearch);
            } else {
                p_keysearch = $("#txtKeyValue").val();
            }
            var p_column = $("#txtSortColumn").val();
            var p_type_sort = $("#txtSortType").val();

            $.ajax({
                type: 'POST',
                url: '/trade-mark-mana/quan-ly-don-da-gui/search/',
                data: {
                    p_keysearch: p_keysearch,
                    p_CurrentPage: p_NumPage,
                    p_column: p_column,
                    p_type_sort: p_type_sort
                },
                async: true, cache: false, traditional: true,
                beforeSend: function () {
                    CreateRollingWaitingIcon(true);
                },
                success: function (data) {
                    CreateRollingWaitingIcon(false);
                    $("#divDataApplications").html(data);
                }
            });
        }
        catch (e) {
            alert(e);
        }
    }

    function getViewPhanLoaiDon(_application_header_id) {
        if (CheckSessionTimeOut() == false) {
            return false;
        }

        $.ajax({
            type: "POST",
            url: "/trade-mark-mana/quan-ly-don-da-gui/show-phan-loai/",
            dataType: "html",
            data: {
                p_application_header_id: _application_header_id
            },
            async: false, cache: false, traditional: true,
            success: function (data) {
                if (data != null) {
                    $("#dpop-PhanLoai").html(data);
                    ShowPopupDialog("dpop-PhanLoai", "Phân loại đơn cho luật sư", 600, 0, "txtLawer");
                }
                return false;
            }
        });
    }

    function CloseViewPhanLoai() {
        try {
            ClosePopupDialog('dpop-PhanLoai', true);
        } catch (e) {
            alert(e);
        }
    }

</script>
