@{
    ViewBag.Title = "Danh sách tin";
    Layout = "~/ViewsShared/_LayoutHomeArticles.cshtml";
}
<div id="divHomeNews" style="padding-top: 150px;">
    @Html.Partial("~/Areas/Articles/Views/ArticlesNews/_HomePartialViewNews.cshtml")
</div>
