@{
    ViewBag.Title = "Danh sách tin";
    Layout = "~/ViewsShared/_LayoutHomeArticles.cshtml";
}
<div class="classtitleHeadNews">
    <h2 class="classTitleNews">@Html.Raw(WebApps.Resources.Resource.lblNews.ToUpper())</h2>
    <hr />
</div>
<div id="divHomeNews" style="padding-top:10px;">
   
    @Html.Partial("~/Areas/Articles/Views/ArticlesNews/_HomePartialViewNews.cshtml")
</div>


<script>
    function jsPaging(page) {
        try {
            funcSearch(page);
        } catch (e) {
        }
    }
     
    function funcSearch(page) {
        try {
            var danhmuc = "ALL";
            $.ajax({
                url: "/quan-ly-tin/next-news-page",
                type: "POST",
                data: {
                    pCategory: danhmuc,
                    pPage: page,
                },
                async: true, cache: false, traditional: true,
                enctype: 'multipart/form-data', async: false, headers: { "cache-control": "no-cache" },
                //beforeSend: function () {
                //    CreateRollingWaitingIcon(true);
                //},
                success: function (data) {
                    $("#divHomeNews").html(data);
                    //CreateRollingWaitingIcon(false);
                },
                error: function (e) {
                    //CreateRollingWaitingIcon(false);
                    console.log(e);
                }
            });
        } catch (e) {
            console.log(e);
        }

    }
</script>