@using ObjectInfos
@using WebApps.CommonFunction;
@{
    var objInfo = new NewsInfo();
    if (ViewBag.objNewInfo != null)
    {
        objInfo = ViewBag.objNewInfo;


        ViewBag.Title = objInfo.Title;
    }
    Layout = "~/ViewsShared/_LayoutHomeArticles.cshtml";

    string _LanguageCode = AppsCommon.GetCurrentLang();
    string _content = objInfo.Content;
    string _Title = objInfo.Title;
    string _header = objInfo.Header;

    if (_LanguageCode != "VI_VN")
    {
        _content = objInfo.Content_En;
        _Title = objInfo.Title_EN;
        _header = objInfo.Header_EN;
    }
}
<style>
    #divClose:hover {
        background-color: #da4347;
    }
</style>
<div class="t-generic_col-right o-layout_item" style="padding-top:100px;margin-left:20px">
    <div class="t-generic_col-right-wrap o-layout">
        <div class="c-content o-layout_item js-entry-container is-enabled is-entry-loaded" style="padding-left: 50px;">
            <button class="c-viewlist-btn js-animate js-entry-list-toggle" data-sticky="" data-sticky-target="#main-footer">
                <div class="c-viewlist-btn_icon" id="divClose" onclick="return functionGetNews();">
                    <figure class="c-viewlist-btn_figure">
                        <i class="fa fa-times" aria-hidden="true" style="color:#bfb4b4" onclick="return functionGetNews();"></i>
                    </figure>
                </div>
                <span class="c-viewlist-btn_label">Back to the list</span>
            </button>

            <h1 class="t-generic_title">@_Title</h1>
            <div class="t-generic_summary">
                @Html.Raw(_content)
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/ViewsShared/_PartialViewFaceYoutube.cshtml")

