@using WebApps.CommonFunction
@using ObjectInfos;
@using BussinessFacade.ModuleMemoryData
@{
    var listArticles = new List<NewsInfo>();
    if (ViewBag.listArticles != null)
    {
        listArticles = ViewBag.listArticles;
    }

    string _LanguageCode = AppsCommon.GetCurrentLang();

}
 
    @foreach (var item in listArticles)
    {
        <li class="c-listing_item">
            <a class="c-listing_link js-entry-list-item" style="width:auto;height:auto" href="/quan-ly-tin/news-detail/@item.Id/7" data-id="4869">
                @if (_LanguageCode != "VI_VN")
                {
                    <h3 class="c-listing_title">@item.Title_EN</h3>
                }
                else
                {
                    <h3 class="c-listing_title">@item.Title</h3>
                }

                <p class="c-listing_infos -red">
                    <span class="c-listing_infos-category"><span class="category-links"><span class="u-screen-reader-text">Categories </span><span class="u-text"></span></span></span>
                    <span class="c-listing_infos-date"><span class="u-screen-reader-text">Posted on </span><time class="entry-date published">@item.Publictime.ToString("dddd, dd MMMM yyyy")</time></span>
                </p>
            </a>
        </li>
    }
 
<div class="d-paging">
    @Html.Raw(ViewBag.Paging)
</div>
