
@using Common.CommonData
@using ObjectInfos;
@{
    ViewBag.Title = "Quản lý bài viết";
    Layout = "~/ViewsShared/_Layout.cshtml";
}
@try
{
    <style>
        .div-search-title > div {
            width: 150px;
        }
    </style>
    <script>
        var _isSimpleEditorToolBar = 1;// set cho ckfinder có cấu hình xoạn thảo đơn giản
    </script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <div class="divCover">
        <div class="d-nav">
            <img src="~/Content/icons/Body-icon-home.png" />Bài viết
            <span class="red">></span>
            <a href="/quan-ly-tin/danh-sach-tin">Quản lý bài viết</a>
            <span class="red">></span>
            <a href="/quan-ly-tin/soan-bai-viet">Thêm mới bài viết</a>
        </div>
    </div>
    <div class="divCover">
        <div class="classLine">
        </div>
    </div>

    <div class="d-main">
        <div class="divCover">
            <div class="classTitle">
                <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
                <input type="hidden" value="DESC" id="SortType" />
                <input type="hidden" value="" id="OptionSorting" />
                <div class="div-title-content"> THÔNG TIN BÀI VIẾT </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tiêu đề<i class="redspan">(*)</i></div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtTitle"  maxlength="500" />
                </div>
            </div>
        </div>

        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Tóm tắt</div>
            </div>
            <div class="div-search-content">
                <div>
                    <textarea rows="4" style="height:70px" cols="50" id="txtHeader"></textarea>
                </div>
            </div>
        </div>


        <div class="div-search-ad">
            <div class="div-search-title">
                <div>Ảnh đại diện</div>
            </div>
            <div class="div-search-content">
                <div>
                    @*<img id="imgHeaderImage" width="100" height="100" />*@
                    <input id="_txtAnhDaiDien" class="divCalendar" type="file" name="pfile" accept='image/*'>
                    <input type="submit" class="btnSave" id="btnUpload" onclick="return UploadImageHeader()" value="Tải lên"> <i style="color: red">(File ảnh đuôi .png,.jpg, và có dung lượng nhỏ hơn 2MB)</i>
                </div>
            </div>
        </div>

        <div style="margin-top:15px">
            <div>Nội dung<i class="redspan">(*)</i></div>
            <textarea type="text" id="txtNoiDung" name="txtNoiDung"></textarea>
        </div>
    </div>

    <div class="divContentCMCKLanDau">
        <div class="divCategories">
            <div>Chuyên mục chính <i style="color: red">(*)</i></div> <br />
            <select id="_txtCategories" size="10" class="select">
                @if (ViewBag.lstCategory != null)
                {
                    foreach (AllCodeInfo item in ViewBag.lstCategory)
                    {
                        <option value="@item.CdVal">@item.Content</option>
                    }
                }
            </select>
        </div>
        <div class="divCategoryRe">
            <div>Chuyên mục  liên quan </div> <br />
            <select id="_txtCategoriesRe" size="10" class="select">
                @if (ViewBag.lstCategory != null)
                {
                    foreach (AllCodeInfo item in Model.lstCategory)
                    {
                        <option value="@item.CdVal">@item.Content</option>
                    }
                }
            </select>
        </div>
    </div>


    <div class="class_save">
        <div class="classGuiDon">
            <input type="button" value="Gửi bài" id="btnGuiDon" class="btn" />
        </div> <div class="classLuuTam">
            <input type="button" value="Lưu tạm" id="btnLuuTam" class="btn" />
        </div>
    </div>



    <script>
        var txtNoiDung = CKEDITOR.replace("txtNoiDung",
            {
                height: 500
            });

        $("#btnLuuTam").click(function () {


        });

        $("#btnGuiDon").click(function () {

        });

    </script>
}
catch (Exception)
{
}

<style>
    .select {
        padding: 3px;
    }

        .select option {
            line-height: 25px;
            padding: 5px;
        }


    /*.divContentCMCKLanDau .divCategories {
        float: left;
        width: 45%;
    }

    .divContentCMCKLanDau .divCategoryRe {
        float: left;
        width: 50%;
        padding-left: 30px;
    }

    .divContentCMCKLanDau {
        width: 79%;
        height: 100%;
        float: left;
        padding: 0 0 0 3px !important;
    }*/
</style>