@{
    ViewBag.Title = "Danh sách tin";
    Layout = "~/ViewsShared/_Layout.cshtml";
    string hrfLuuTam = "";
    string hrfChoXuly = "";
    string hrfTuChoi = "";
}
<style>
    .div-search-title > div {
        width: 150px;
    }

    .ms-parent {
        margin: 0px 3px;
    }

    .ms-choice {
        height: 30px;
    }
</style>

<div class="divCover">
    <div class="d-nav">
        <img src="~/Content/icons/Body-icon-home.png" /> Tin tức
        <span class="red">></span>
        <a href="/quan-ly-tin/danh-sach-tin">Quản lý tin</a>
    </div>
</div>
<div class="divCover">
    <div class="classLine">
    </div>
</div>

<div class="d-main">
    <div class="divCover">
        <input type="hidden" value="MODIFIED_DATE" id="colSorted" />
        <input type="hidden" value="DESC" id="SortType" />
        <input type="hidden" value="" id="OptionSorting" />
        <table style="margin:10px 0px">
            <tr>
                <td>
                    <a style="@hrfLuuTam" href="/quan-ly-tin/danh-sach-tin/1">1. Danh sách bài viết lưu tạm</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a style="@hrfChoXuly" href="/quan-ly-tin/danh-sach-tin/2">  2. Danh sách bài viết chờ xử lý</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a style="@hrfTuChoi" href="/quan-ly-tin/danh-sach-tin/3">  3. Danh sách bài biết bị từ chối</a>
                </td>
            </tr>
        </table>

    </div>

    <div class="divCover" id="div-search-simple">

        <div class="div-search-ad">
            <div class="div-search-title">
                <div style="width: 120px">Danh mục</div>
            </div>
            <div>
                <div style="width:200px">
                    <select id="cboSearchWikiCatalogue">
                        <option value="ALL"> Tất cả </option>
                    </select>
                </div>
            </div>
            <div class="div-search-title">
                <div style="width: 120px">Tiêu đề</div>
            </div>
            <div class="div-search-content">
                <div>
                    <input type="text" id="txtNoiDungTin" data-controlcondition="TRUE" />
                </div>
            </div>
        </div>
    </div>

    <div class="divCover">
        <div class="div-search-btn" style="width:450px;">
            <input type="button" value="Tìm kiếm" class="btn-default" />
            <a href="/quan-ly-tin/soan-bai-viet"><input type="button" value="Thêm bài viết" class="btn-default" style="width: 125px;" /></a>
        </div>
    </div>

    <div class="divCover">
        <div id="divTableObjects">
            @Html.Partial("~/Areas/Articles/Views/ArticlesNews/_PartialViewTable.cshtml")
        </div>
    </div>

</div>

