@using Common.CommonData
@using Common.Extensions
@using ObjectInfos;
@{
    List<B_Todos_Info> _list_data = new List<B_Todos_Info>();
    if (ViewBag.ListTodo != null)
    {
        _list_data = ViewBag.ListTodo;
    }

}
<div>
    <table class="table-lst-data" id="tableListTodo">
        <thead>
            <tr>
                <th class="class30">STT</th>
                <th style="width:35%" id='CONTENT' onclick="TodoSortByCol('CONTENT')">Mô tả nội dung</th>
                <th class="class150" id='PROCESSOR_BY_NAME' onclick="TodoSortByCol('PROCESSOR_BY_NAME')">Người xử lý</th>
                <th class="class250" id='PROCESSOR_DATE' onclick="TodoSortByCol('PROCESSOR_DATE')">Thời gian chờ</th>
                <th class="class250" id='STATUS' onclick="TodoSortByCol('STATUS')">Trạng thái</th>

                @*<th class="class150" id='REQUEST_BY_NAME' onclick="TodoSortByCol('REQUEST_BY_NAME')">Người gửi</th>
                    <th class="class250" id='REQUEST_DATE' onclick="TodoSortByCol('REQUEST_DATE')">Thời gian gửi</th>*@
            </tr>
        </thead>
        <tbody>
            @if (_list_data.Count > 0)
            {
                foreach (var item in _list_data)
                {
                    <tr>
                        <td class="tdcenteralign">@item.STT</td>
                        <td class="tdleftalign">@item.CONTENT</td>
                        <td class="tdleftalign">@item.PROCESSOR_BY_NAME</td>

                        <td class="tdcenteralign">
                            @{
                                TimeSpan TS = DateTime.Now - item.REQUEST_DATE;
                                int hour = TS.Days * 24 + TS.Hours;
                                int mins = TS.Minutes;
                                int secs = TS.Seconds;
                                //  string timeDiff = hour.ToString("00") + ":" + mins.ToString("00") + ":" + secs.ToString("00");
                                string timeDiff = hour.ToString() + "h";
                            }
                            @timeDiff
                        </td>

                        <td class="tdleftalign">@item.STATUS_NAME</td>

                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">Không có dữ liệu</td>
                                    </tr>
                                }
        </tbody>
    </table>
</div>
