@{
    Layout = "~/ViewsShared/_LayoutRequestNotIdentity.cshtml";
}

<div class="message-not-identity">
	<h2>Tài khoản của bạn gần đây đã được đăng nhập trên thiết bị khác.</h2>
	<h3 style="margin-top: 20px;"><a href="/">Đăng nhập lại</a></h3>
</div>